Widget: Metadata <br>
<br>

{% set keyPart = key|split('.') %}
{% set mainConfigKey = config %}
{% for part in keyPart %}
        {% set mainConfigKey = mainConfigKey[part] %}
{% endfor %}

{% if mainConfigKey is defined and mainConfigKey %}

    <input type="hidden" name="widget[setMetadatas]" value="true" />

    {% for metadata in form.metadatas %}
        {{ form_row(metadata.fkModule) }}
    {% endfor %}

    {% for metadata in form.metadatas %}
        {{ form_row(metadata.fkApp, {value: invictusKernel.appId}) }}
    {% endfor %}

    {% for metadata in form.metadatas %}
        {{ form_row(metadata.fkLanguage) }}
    {% endfor %}

    {% for metadata in form.metadatas %}
        {{ form_row(metadata.fkItemId) }}
    {% endfor %}


    {% if config.metadata.ML %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.slug, { 'fieldboxClass': 'first w25', 'locale' : metadata.vars.value.fkLanguage }) }}

            {{ form_row(metadata.path, { 'fieldboxClass': 'w25 ML', 'locale' : metadata.vars.value.fkLanguage }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.pageTitle, { 'fieldboxClass': 'first w50', 'locale' : metadata.vars.value.fkLanguage }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.metaKeywords, { 'fieldboxClass': 'first w75', 'locale' : metadata.vars.value.fkLanguage }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.metaDescription, { 'fieldboxClass': 'first w75', 'locale' : metadata.vars.value.fkLanguage }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.customMeta, { 'fieldboxClass': 'first w75', 'locale' : metadata.vars.value.fkLanguage }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.customVars, { 'fieldboxClass': 'first w75', 'locale' : metadata.vars.value.fkLanguage }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.redirectUrl, { 'fieldboxClass': 'first w25', 'locale' : metadata.vars.value.fkLanguage }) }}
            {{ form_row(metadata.redirectCode, { 'fieldboxClass': 'w25', 'locale' : metadata.vars.value.fkLanguage }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.changeFreq, { data: [3],'fieldboxClass': 'first w25', 'locale' : metadata.vars.value.fkLanguage }) }}
            {{ form_row(metadata.priority, { 'fieldboxClass': 'w25', 'locale' : metadata.vars.value.fkLanguage }) }}
        {% endfor %}

    {% else %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.slug, { 'fieldboxClass': 'first w25'}) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.path, { 'fieldboxClass': 'w25'}) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.pageTitle, { 'fieldboxClass': 'first w50' }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.metaKeywords, { 'fieldboxClass': 'first w75' }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.metaDescription, { 'fieldboxClass': 'first w75' }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.customMeta, { 'fieldboxClass': 'first w75' }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.customVars, { 'fieldboxClass': 'first w75' }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.redirectUrl, { 'fieldboxClass': 'first w50' }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.redirectCode, { 'fieldboxClass': 'w25' }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.changeFreq, { 'fieldboxClass': 'first w25' }) }}
        {% endfor %}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata.priority, { 'fieldboxClass': 'w25' }) }}
        {% endfor %}

    {% endif %}

{% else %}
    <br /><br />“<b>{{ key }}</b>” in Main config undefined or set to false
{% endif %}

{% if invictusKernel.environment == 'dev' %}
<div class="fieldbox"></div>
<div class="fieldbox w50">
<div class="tab-debug">
<pre>
    {# dump(invictusKernel.userMALTree[moduleTag]['apps']) #}
</pre>
</div>
</div>
{% endif %}