{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block actions %}

    {% if data.actions %}

        "{% spaceless %}
        {% if data.actions.edit %}
            <a title='{{ 'edit'|trans() }}' href='{{ invictusKernel.modulePath }}/update/{{ row.id }}' onclick='Form.url=this.href;$(document).trigger(\"loadUpdateForm\");return false;' class='action edit id{{ row.id }}'>
                <span class='icomoon16-pencil-5'></span>
            </a>
        {% endif %}

        {% if data.actions.attach and row.fkCategory.id != 21 %}
            <a title='{{ 'attach'|trans() }}' href='{{ invictusKernel.generateModulePath({'layout': 'nested', 'parentModuleTag': invictusKernel.moduleTag, 'parentItemId': row.id, 'moduleTag': 'attachment' }) }}' target='_blank' onclick='CMS.openNestedModule(this.href);return false;' class='action attachment id{{ row.id }}'>
                <span class='icomoon16-attachment'></span>
            </a>
        {% endif %}

        {% if data.actions.delete %}
            <a title='{{ 'delete'|trans() }}' href='{{ invictusKernel.modulePath }}/delete/{{ row.id }}' onclick='Item.confirmRemove(\"{{ row.id }}\");return false;' class='action delete id{{ row.id }}'>
                <span class='icomoon16-cancel-4'></span>
            </a>
        {% endif %}
    {% endspaceless %}",

    {% endif %}

{% endblock %}
{% block columns %}
"{{ row.id }}",
    "{{ row.code }}",
    "{{ row.translations[0].label|default('') }}",
    "{{ row.fkCategory.translations[0].label|default('') }}",
    {% set finalPrice = row.price/100*(100-row.discount) %}
    "{{ row.price|default(0) }}€ | <b>{{ finalPrice|round(2)|default(0) }}€</b> ({{ row.discount|default(0) }}%)"
{% endblock %}