#cms-edit.medialibrary ul.tabs{
    display:        none;
}

#medialibrary{
    position:       relative;
    top:            1px;
    height:         545px;
}

#medialibrary .filters{
    position:       absolute;
    top:            0;
    left:           0;
    width:          257px;
    height:         500px;
    padding-top:    45px;
    background:     #F2F7F4;
    border-right:   3px solid #A8BCB1;
    overflow:       auto;
    z-index:        3;
}

#medialibrary .filters .search{
    height:         200px;
}

#medialibrary .filters .fieldbox{
    width:          237px;
    margin-left:    20px;
}

#medialibrary .filters select{
    height:         30px;
    padding:        5px 4px;
    font-size:      12px;
    line-height:    30px;
    background:     #FFF;
}

#medialibrary .filters select{
    height:         30px;
    font-size:      12px;
    line-height:    30px;
    background:     #FFF;
}

#medialibrary .filters .select2-choice{
    font-size:      12px;
    background:     #FFF;
}

#medialibrary .filters .textSearch{
}

#medialibrary .filters .selected{
    max-height:     270px;
    margin-bottom:  25px;
    padding-bottom: 10px;
    border-bottom:  1px solid #A8BCB1;
    display:        none;
}

#medialibrary .selected .attachments{
    width:          237px;
    max-height:     185px;
    margin:         0 0 0 20px;
    padding:        0;
    overflow:       auto;
}

#medialibrary .selected .attachments li{
    position:       relative;
    width:          217px;
    height:         30px;
    margin-bottom:  5px;
    border:         1px solid #A8BCB1;
    background:     #F8FBF9;
    cursor:         default;
    overflow:       hidden;
}

#medialibrary .selected .attachments li:hover{
    background:     #FFF;
}

#medialibrary .selected .attachments li .preview{
    float:          left;
    height:         30px;
    width:          30px;
    margin:         0 10px 0 0;
    border-right:   1px solid #A8BCB1;
    display:        inline-block;
}

#medialibrary .filters .attachments li .preview span{
    width:          28px;
    height:         28px;
    padding:        1px;
    font-size:      22px;
    line-height:    30px;
    background:     #FFF;
    text-align:     center;
    display:        block;
}

#medialibrary .selected .attachments li p{
    float:          none;
    width:          130px;
    margin:         0;
    font-size:      12px;
    line-height:    30px;
    display:        inline-block;
}

#medialibrary .selected .attachments li p .module{
    display:        none;
}

#medialibrary .selected .attachments li .action{
    float:          right;
    background:     #FFF;
    border-left:    1px solid #A8BCB1;
    display:        block;
}

#medialibrary .selected .attachments li .action span{
    height:         16px;
    width:          16px;
    padding:        7px;
    color:          #C00;
    display:        none;
    cursor:         pointer;
}

#medialibrary .selected .attachments li .action span.delete{
    display:        block;
}

#medialibrary .selected .submit{
    width:          217px;
}


/* RESULTS - RESULTS - RESULTS - RESULTS - RESULTS - RESULTS - RESULTS - */

#medialibrary .results{
    position:       relative;
    top:            30px;
    height:         510px;
    margin:         0 0 0 260px;
    background:     #FFF;
    overflow:       auto;
    z-index:        1;
}

#medialibrary .results.loading{
    background:     #FFF url('../../invictuscms/images/icons/cms_edit_loading.gif') 50% 50% no-repeat;
}

#medialibrary .results .attachments{
    float:          left;
    width:          100%;
    min-height:     400px;
    padding-bottom: 15px;
    background:     #FFF;
}

#medialibrary .results .attachments li{
    position:       relative;
    float:          left;
    width:          250px;
    margin:         15px 0 0 15px;
    font-size:      11px;
    line-height:    16px;
    border:         1px solid #A8BCB1;
    background:     #F2F7F4;
    background-position:    bottom right;
    background-repeat:     no-repeat;
    overflow:       hidden;
    cursor:         pointer;
}

#medialibrary .results .attachments li .preview{
    float:          left;
    width:          60px;
    height:         60px;
    padding:        3px;
    background:     #FFF;
    border-right:   1px solid #A8BCB1;
}

#medialibrary .results .attachments li .preview span{
    width:          54px;
    height:         54px;
    padding:        3px;
    font-size:      50px;
    line-height:    60px;
    text-align:     center;
    display:        block;
}

#medialibrary .results .attachments li p{
    float:          left;
    width:          140px;
    height:         60px;
    margin:         3px 5px 0 10px;
    line-height:    15px;
    overflow:       hidden;
}

#medialibrary .results li a{
    text-decoration: underline;
}

#medialibrary .results li a:hover,
#medialibrary .results li a:focus{
    background:     #F2F7F4;
}

#medialibrary .results .attachments li .action{
    position:       absolute;
    top:            0;
    right:          0;
    display:        none;
}

#medialibrary .results .attachments li:hover .action{
    display:        block;
}

#medialibrary .attachments li:hover{
    background:     #FFF;
}

#medialibrary .results li .action span.add{
    display:        block;
}

/* INFO - INFO - INFO - INFO - INFO - INFO - INFO - INFO - INFO - INFO - INFO */

#medialibrary .info{
    position:       absolute;
    top:            0;
    left:           0;
    width:          100%;
    height:         29px;
    line-height:    29px;
    border-bottom:  1px solid #A8BCB1;
    background:     #F2F7F4;
    z-index:        2;
    display:        none;
}

#medialibrary .info p{
    margin-left:    275px;
    font-size:      12px;
}

/* COMMON - COMMON - COMMON - COMMON - COMMON - COMMON - COMMON - COMMON - COMMON */

#medialibrary .fieldbox{
    float:          none;
}

#medialibrary input[type='submit']{
    width:          217px;
}

#medialibrary li p span{
    display:        block;
    white-space:    nowrap;
    overflow:       hidden;
    text-overflow:  ellipsis;
}

#medialibrary li p span.module{
    font-weight:    bold;
}

#medialibrary li .action{
    position:       absolute;
    top:            0;
    right:          0;
    background:     #A8BCB1;
}

#medialibrary li .action span{
    width:          16px;
    height:         16px;
    padding:        3px 3px 4px 4px;
    color:          #FFF;
    display:        none;
}