<html>
<body>
    <div style="position:fixed;top:0;left:0;background:#FFF;padding:20px">

        <h1>Habitat import</h1>
        id habitat di riferimento:<br>
        <input type="text" id="habitatId" />
        <br>
        <br>
        zoom (1 = basso, 2 = medio, 3 = alto):<br>
        <input type="text" id="zoom" />
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div style="float:left;width:30%">
        <h2>Polygons</h2>
        <ol>
            {% for key, polygon in polygons %}
                <li>
                    <a href="/habitat/import/polygons/{id}/{zoom}/{{ key }}" target="_blank">{{ key }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>

    <div style="float:left;width:30%">
        <h2>Points</h2>
        <ol>
            {% for key, marker in markers %}
                <li>
                    <a href="/habitat/import/markers/{id}/{{ key }}" target="_blank">{{ key }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('/bundles/opoffe/js/vendor/jquery-1.9.1.min.js') }}"><\/script>')</script>

    <script type="text/javascript">
        $('ol a').click(function(e){
            var habitatId = parseInt($('#habitatId').val());
            var zoom = parseInt($('#zoom').val());
            if(habitatId){
                $(this).attr('href', $(this).attr('href').replace("{id}", habitatId));
                $('#habitatId').val('');
                $(this).attr('href', $(this).attr('href').replace("{zoom}", zoom));
                $('#zoom').val('');
            }else{
                e.preventDefault();
                $('#habitatId').focus();
                alert("Specifica un id valido per l'habitat");
            }
        });
    </script>

</body>
</html>