<html>
<body>

    <h1>Path import</h1>
    <br>
    id percorso di riferimento:<br>
    <input type="text" id="habitatId" />
    <br>
    <br>

    <h2>Polylines</h2>
    <ul>
    {% for key, polyline in polylines %}
        <li>
            <a href="/path/import/polylines/{id}/{{ key }}" target="_blank">{{ key }}</a>
        </li>
    {% endfor %}
    </ul>

    <h2>Points</h2>
    <ul>
    {% for key, marker in markers %}
        <li>
            <a href="/path/import/markers/{id}/{{ key }}" target="_blank">{{ key }}</a>
        </li>
    {% endfor %}
    </ul>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('/bundles/opoffe/js/vendor/jquery-1.9.1.min.js') }}"><\/script>')</script>

    <script type="text/javascript">
        $('ul a').click(function(e){
            var habitatId = parseInt($('#habitatId').val());
            if(habitatId){
                $(this).attr('href', $(this).attr('href').replace("{id}", habitatId));
                $('#habitatId').val('');
            }else{
                e.preventDefault();
                $('#habitatId').focus();
                alert("Specifica un id valido per l'habitat");
            }
        });
    </script>

</body>
</html>