<!DOCTYPE html>
<html>

<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>INVICTUS | login</title>
        <meta name="author" content="Matteo Poile | devsign">
        <meta name="description" content="INVICTUS CMS" />
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="noindex">

        {% block stylesheets %}

        {{ include('InvictusCmsBundle:Assets:css_login.html.twig') }}
        {{ include('InvictusFrontEndBundle:Assets:css.html.twig') }}

        {% endblock stylesheets %}

        <script src="{{ asset('/bundles/invictuscms/libs/modernizr-2.6.2.min.js') }}"></script>

    {% endblock head %}
</head>

<body class="circle">

    <div id="login">

            <div class="logo_wrapper"></div>

            <form action="{{ path('invictus_login_check') }}" method="post">

                <div class="fieldbox">
                    <!--
                    <label for="username">{{ 'username'|trans() }}:</label>
                    -->
                    <input type="text" id="username" class="input" name="invictus_username" placeholder="{{ 'username'|trans() }}" value="{{ last_username }}" />
                </div>

                <div class="fieldbox">
                    <!--
                    <label for="password">{{ 'password'|trans() }}:</label>
                    -->
                    <div class="input-append">
                        <span class="icomoon14-eye-close input-icon" aria-hidden="true" id="show-password"></span>
                        <input type="password" id="password" class="input" name="invictus_password" placeholder="{{ 'password'|trans() }}" autocomplete="on" />
                    </div>
                </div>
                <!-- Se specificato punterà sempre a al valore di value
                <input type="hidden" name="_target_path" value="/invictus/dashboard" />
                -->

                <input name="submit" id="submit" class="submit login" type="submit" value="{{ 'login'|trans() }}" accesskey="e" tabindex="3"/>

            </form>

    </div> <!-- #login -->


    <script src="{{ asset('/bundles/invictuscms/libs/jquery-1.9.1.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('/bundles/invictuscms/libs/jquery.easing.1.3.js') }}" type="text/javascript" ></script>

    <script src="{{ asset('/bundles/invictuscms/libs/noty/js/jquery.noty.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('/bundles/invictuscms/libs/jquery.validate.min.js') }}" type="text/javascript" ></script>

    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function(){

            $('#username').focus();

            $('#show-password').click(function(){
                if($('#password').val().length){
                    if($(this).hasClass('icomoon14-eye-close')){
                        $(this).removeClass('icomoon14-eye-close').addClass('icomoon14-eye-open');
                        var pwdVal = $('#password').val();
                        $('#password').remove();
                        $('.fieldbox .input-append').append('<input name="invictus_password" id="password" class="input" type="text" maxlength="50" accesskey="p" tabindex="2" autocomplete="off" />');
                        $('#password').val(pwdVal);
                    }else{
                        $(this).removeClass('icomoon14-eye-open').addClass('icomoon14-eye-close');
                        var pwdVal = $('#password').val();
                        $('#password').remove();
                        $('.fieldbox .input-append').append('<input name="invictus_password" id="password" class="input" type="password" maxlength="50" accesskey="p" tabindex="2" autocomplete="off" />');
                        $('#password').val(pwdVal);
                    }
                }
            });

            $("form").validate({
                rules:{
                    invictus_username:{
                        required : true,
                        minlength: 4
                    },
                    invictus_password:{
                        required : true,
                        minlength: 8
                    }
                },
                errorClass: "error",
                onkeyup: false,
                focusInvalid: false,
                highlight: function(element, errorClass) {
                    $(element).closest('.fieldbox').addClass(errorClass);
                    $('#login').css({left:'-50px'}).stop().animate({left:0}, 750, 'easeOutElastic');
                },
                unhighlight: function(element, errorClass) {
                    $(element).closest('.fieldbox').removeClass(errorClass);
                },
                errorPlacement: function(error, element) {} //workaround per non far comparire i label.error
            });

            {% if error %}
            notify("{{ error.message|trans()|raw }}", "alert");
            {% endif %}

        });

        function notify(text, type){
            $.noty.clearQueue();
            $.noty.closeAll();
            noty({
                "text":			text,
                "layout":		"top",
                "type":			type,
                "textAlign":	"center",
                "easing":		"easeInOutCubic",
                "animateOpen":	{"height":"toggle"},
                "animateClose":	{"height":"toggle"},
                "speed":		"500",
                "timeout":		"99999",
                "closable":		true,
                "closeOnSelfClick":true
            });
        }

        //]]>
    </script>

</body>