<fieldset id="{{ key }}">
    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>
    
    {{ form_row(form.isActive) }}

    {{ form_row(form.firstName, {'fieldboxClass': 'w25'}) }}

    {{ form_row(form.lastName, {'fieldboxClass': 'w25'}) }}

    {{ form_row(form.email, {'fieldboxClass': 'w50 first'}) }}

    {{ form_row(form.username, {'fieldboxClass': 'w50 first'}) }}

    {{ form_row(form.password, {'fieldboxClass': 'w50 first'}) }}

    {{ form_row(form.defaultApp, {'fieldboxClass': 'w25 first'}) }}

    {{ form_row(form.defaultLanguage, {'fieldboxClass': 'w25'}) }}

    {{ form_row(form.UILanguage, {'fieldboxClass': 'w25 first'}) }}

    {{ form_row(form.deleted) }}

     <!--
    <div class="tab-debug">
        <b>Config:</b>
        <pre>
            {# {{ dump(tabConfig) }} #}
        </pre>
    </div>
    -->

</fieldset>