{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block actions %}
    {% if data.actions %}
        "{% if data.actions.edit %}{% spaceless %}
            <a title='{{ 'edit'|trans() }}' href='{{ invictusKernel.modulePath }}/update/{{ row.id }}' onclick='Form.url=this.href;$(document).trigger(\"loadUpdateForm\");return false;' class='action edit'>
                <span class='icomoon16-pencil-5'></span>
            </a>
        {% endspaceless %}{% endif %}{% if data.actions.delete %}
            {# solo l'admin con id 1 non si può eliminare #}
            {% if (row.id != 1) %}{% spaceless %}
                <a title='{{ 'delete'|trans() }}' href='{{ invictusKernel.modulePath }}/delete/{{ row.id }}' onclick='Item.confirmRemove(\"{{ row.id }}\");return false;' class='action delete'>
                    <span class='icomoon16-cancel-4'></span>
                </a>
            {% endspaceless %}{% else %}{% spaceless %}
                <a title='{{ 'locked'|trans() }}' href='javascript:void(0)' onclick='return false;' class='action delete'>
                    <span class='icomoon16-locked-3'></span>
                </a>
            {% endspaceless %}{% endif %}
        {% endif %}"
        ,
    {% endif %}
{% endblock %}


{% block columns %}
"{{ row.id }}",
"{{ row.lastName }}",
"{{ row.firstName }}",
"{{ row.email }}",
"{{ row.username }}"
{% endblock %}