#cms-table .ui-jqgrid tr.jqgrow td {
    height:                 49px;
}

body.standard #cms-edit,
body.standard #cms-edit .button.new,
body.standard #cms-edit .divider.new{
    display:                none;
}

body.standard #cms-edit.update,
body.standard #cms-edit.loading{
    display:                block;
}

body.standard #cms-edit .divider:first-child{
    display:                none !important;
}
#cms-edit .heading .separator.new{
    display:                    block !important;
}

#cms-edit p.info{
    float:                  left;
    padding-bottom:         20px;
    font-weight:            bold;
}

#cms-edit p.info em{
    font-weight:            bold;
    color:                  #759E1A;
}

#upload{
    position:               relative;
    float:                  left;
    width:                  100%;
    box-sizing:             border-box;
    -moz-box-sizing:        border-box;
    -webkit-box-sizing:     border-box;
}

#upload label,
#upload input{
    position:               relative;
    z-index:                10;
}

#upload input[readonly]{
    background:             #EEE;
}

#preview-wrapper{
    position:               absolute;
    top:                    0;
    right:                  0;
    width:                  50%;
    height:                 100%;
    padding-right:          20px;
    box-sizing:             border-box;
    -moz-box-sizing:        border-box;
    -webkit-box-sizing:     border-box;
}

#preview{
    position:               relative;
    height:                 100%;
    border:                 2px solid transparent;
    background-size:        cover;
    background:             #EEE url("../images/icons/instant_preview_add.png") 50% 50% no-repeat;
    overflow:               hidden;
    box-sizing:             border-box;
    -moz-box-sizing:        border-box;
    -webkit-box-sizing:     border-box;
    cursor:                 pointer;
}

#preview .icomoon16-x-altx-alt,
#preview .icomoon16-magnifier{
    display:                none;
}

#preview.in{
    border:                 2px dashed #BFBFBF;
    background-color:       rgba(220, 220, 220, 0.50);
}

#preview.hover,
#preview:hover{
    /*background-color:       #DFF0D8;*/
    /*background-color:       rgba(223, 240, 216, 0.50);*/
    border:                 2px dashed #759E1A;
}

#preview.loading{
    /*background-color:       #DFF0D8;
    background-color:       rgba(223, 240, 216, 0.50);*/
    background:             url("../images/icons/instant_preview_loading.png") 50% 50% no-repeat !important;
    border:                 2px solid #0A9CE0 !important;
}

#preview.loaded{
    border:                 2px solid #BFBFBF;
}

form.image #preview.loaded{
    background-size:        cover;
}

form.uncategorized #preview.loaded{
    background:             url("../images/icons/instant_preview_undefined.png") 50% 50% no-repeat !important;
}

form.file #preview.loaded{
    background:             url("../images/icons/instant_preview_undefined.png") 50% 50% no-repeat !important;
}

form.music #preview.loaded{
    background:             url("../images/icons/instant_preview_music.png") 50% 50% no-repeat !important;
}

form.video #preview.loaded{
    background-size:        cover;
    /*background:             url("../images/icons/instant_preview_video.png") 50% 50% no-repeat !important;*/
}

form.panorama #preview.loaded{
    background-size:        cover;
}

form.zip #preview.loaded{
    background:             url("../images/icons/instant_preview_zip.png") 50% 50% no-repeat !important;
}

#preview.loaded .icomoon16-x-altx-alt,
#preview.loaded .icomoon16-magnifier{
    position:               absolute;
    top:                    4px;
    right:                  6px;
    padding:                0;
    color:                  #FFF;
    font-size:              32px;
    background:             #333;
    border-radius:          60%;
    display:                block;
}

#preview.loaded .icomoon16-magnifier{
    right:                  48px;
}

#preview.loaded:hover .icomoon16-x-altx-alt{
    color:                  #AA3333;
    background:             #FFF;
}

#preview.loaded:hover .icomoon16-magnifier{
    color:                  #759E1A;
    background:             #FFF;
}


#preview.loaded.hover{
    background:             url("../images/icons/instant_preview_add.png") 50% 50% no-repeat !important;
    border:                 2px solid #759E1A !important;
}
#preview.loaded:hover{
    background:             url("../images/icons/instant_preview_add.png") 50% 50% no-repeat;
    background-size:        cover;
    border:                 2px solid #759E1A;
}

#preview.loaded.in{
    border:                 2px dashed #BFBFBF;
    opacity:                0.7;
}

#preview #progress-bar{
    position:               absolute;
    top:                    50%;
    width:                  0;
    height:                 2px;
    background-color:       #0A9CE0;
    box-shadow:             0 0 5px rgba(255, 255, 255, 0.7);
    transition:             width 0.3s ease-out;
}

#preview.loaded #progress-bar{
    opacity:                0;
    transition:             opacity 1s ease-out;
}

#cms-edit form .fieldbox.typology{
    padding-bottom:         20px;
    border-bottom:          1px dashed #BFBFBF;
}

#cms-edit.add form{
    min-height:             300px;
}

#cms-edit form #upload,
#cms-edit form .fieldbox.enabled,
#cms-edit form .fieldbox.label,
#cms-edit form .fieldbox.link,
#cms-edit form .fieldbox.code,
#cms-edit form .fieldbox.abstract,
#cms-edit form .fieldbox.body,
#cms-edit form .fieldbox.panorama,
#cms-edit form input.submit{
    display:                none;
}

#cms-edit form.uncategorized #upload,
#cms-edit form.uncategorized .fieldbox.enabled,
#cms-edit form.uncategorized .fieldbox.label,
#cms-edit form.uncategorized .fieldbox.link,
#cms-edit form.uncategorized .fieldbox.code,
#cms-edit form.uncategorized .fieldbox.abstract,
#cms-edit form.uncategorized .fieldbox.body,
#cms-edit form.uncategorized input.submit{
    display:                block;
}

#cms-edit form.file #upload,
#cms-edit form.file .fieldbox.enabled,
#cms-edit form.file .fieldbox.label,
#cms-edit form.file .fieldbox.abstract,
#cms-edit form.file .fieldbox.body,
#cms-edit form.file input.submit{
    display:                block;
}

#cms-edit form.file .fieldbox.alt,
#cms-edit form.file .fieldbox.title{
    display:                none;
}

#cms-edit form.image #upload,
#cms-edit form.image .fieldbox.enabled,
#cms-edit form.image .fieldbox.label,
#cms-edit form.image .fieldbox.abstract,
#cms-edit form.image input.submit{
    display:                block;
}

#cms-edit form.link .fieldbox.enabled,
#cms-edit form.link .fieldbox.label,
#cms-edit form.link .fieldbox.link,
#cms-edit form.image .fieldbox.body,
#cms-edit form.link input.submit{
    display:                block;
}

#cms-edit form.code .fieldbox.enabled,
#cms-edit form.code .fieldbox.label,
#cms-edit form.code .fieldbox.code,
#cms-edit form.code input.submit{
    display:                block;
}

#cms-edit form.video #upload,
#cms-edit form.video .fieldbox.enabled,
#cms-edit form.video .fieldbox.label,
#cms-edit form.video .fieldbox.abstract,
#cms-edit form.video .fieldbox.body,
#cms-edit form.video .fieldbox.code,
#cms-edit form.video input.submit{
    display:                block;
}

#cms-edit form.video .fieldbox.alt,
#cms-edit form.video .fieldbox.title{
    display:                none;
}

#cms-edit form.music #upload,
#cms-edit form.music .fieldbox.enabled,
#cms-edit form.music .fieldbox.label,
#cms-edit form.music .fieldbox.abstract,
#cms-edit form.music .fieldbox.body,
#cms-edit form.music input.submit{
    display:                block;
}

#cms-edit form.music .fieldbox.alt,
#cms-edit form.music .fieldbox.title{
    display:                none;
}

#cms-edit form.zip #upload,
#cms-edit form.zip .fieldbox.enabled,
#cms-edit form.zip .fieldbox.label,
#cms-edit form.zip .fieldbox.abstract,
#cms-edit form.zip .fieldbox.body,
#cms-edit form.zip input.submit{
    display:                block;
}

#cms-edit form.zip .fieldbox.alt,
#cms-edit form.zip .fieldbox.title{
    display:                none;
}

#cms-edit form.panorama #upload,
#cms-edit form.panorama .fieldbox.enabled,
#cms-edit form.panorama .fieldbox.label,
#cms-edit form.panorama .fieldbox.abstract,
#cms-edit form.panorama .fieldbox.body,
#cms-edit form.panorama .fieldbox.panorama,
#cms-edit form.panorama input.submit{
    display:                block;
}

#cms-edit form.panorama .fieldbox.code,
#cms-edit form.panorama .fieldbox.abstract{
    display:                none;
}