/* TYPOGRAPHY */
/* MAIN COLORS */
/* BODY COLORS */
/* TOPBAR COLORS */
/*$cms-topbar-bg: saturate(#4D7397, 20%);*/
/* MENU COLORS */
/* HEADING COLORS */
/* TABLE COLORS */
/* TREE COLORS */
/* EDIT COLORS */
/*$cms-edit-heading-bg: saturate(lighten($cms-edit-heading-main-color, 20%), 30%);*/
/*darken($cms-edit-heading-main-color, 20%);*/
/* FOOTER COLORS */
/*@import "_vars_war";*/
/*@import "_vars_m_vs_f";*/
/*@import "_vars_bw";*/
/* TYPOGRAPHY */
/* SPACING */
/* MAIN COLORS */
/* ICON COLORS */
/* BODY COLORS */
/* MENU COLORS */
/* TOPBAR COLORS */
/* TABLE COLORS */
/* EDIT COLORS */
/*$cms-edit-heading-bg: saturate(lighten($cms-edit-heading-main-color, 20%), 30%);*/
/*darken($cms-edit-heading-main-color, 20%);*/
/* TREE COLORS */
/* FOOTER COLORS */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

html {
  font-size: 62.5%;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  color: #333333;
  font-size: 10px;
  font-family: "Open Sans", Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  background: white;
  overflow-y: scroll;
}

body.circle {
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center, circle farthest-side, white 30%, #dddddd 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, circle farthest-side, white 30%, #dddddd 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, circle farthest-side, white 30%, #dddddd 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center, 0, right bottom, 973, color-stop(0.3, white), color-stop(1, #dddddd));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, circle farthest-side, white 30%, #dddddd 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(circle farthest-side at center, white 30%, #dddddd 100%);
}

body.nested {
  overflow: hidden;
  overflow-y: hidden;
}

img {
  vertical-align: text-top;
}

a:link, a:visited {
  color: #111111;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #444444;
  outline: 0;
}

/*a:hover {    cursor: url('https://hovastate.s3.amazonaws.com/hova.png') 24 1, default !important;    cursor: -webkit-image-set(                    url('https://hovastate.s3.amazonaws.com/hova.png') 1x,                    url('https://hovastate.s3.amazonaws.com/hova.2x.png') 2x            ) 24 1, default !important;}a *:hover {    cursor: url('https://hovastate.s3.amazonaws.com/hova.png') 24 1, default !important;    cursor: -webkit-image-set(                    url('https://hovastate.s3.amazonaws.com/hova.png') 1x,                    url('https://hovastate.s3.amazonaws.com/hova.2x.png') 2x            ) 24 1, default !important;}*/
.wrapper {
  position: relative;
  border: 1px solid #bfbfbf;
  border-top: 0 !important;
}

.heading {
  position: relative;
  height: 32px;
  margin: 0;
  color: #eeeeee;
  font-weight: bold;
  line-height: 32px;
  border: 1px solid #bfbfbf;
  background: #bdc3c7;
  overflow: hidden;
  /*@include border-radius-top(2px);*/
}

.separator {
  width: 0;
  height: 100%;
  margin: 0;
  border-left: 1px solid #bfbfbf;
  /*border-right:               1px solid $border-color;*/
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button a:link, .button a:visited {
  padding: 0 15px 0 15px;
  font-size: 1.3rem;
  font-size: 13px;
  background: 10px 50% no-repeat;
  display: block;
}
.button a img {
  vertical-align: middle;
}

.button.caption {
  padding: 0 15px 0 15px;
}

.button .label {
  padding: 0 0 0 3px;
  font-size: 1.3rem;
  font-size: 13px;
  display: inline-block;
}

.button .icon {
  min-width: 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
}

.button .icon img {
  vertical-align: middle;
}

.heading .button {
  color: #eeeeee;
}

.heading .button a:hover {
  background: #cbd0d3;
}

.locale-selector li {
  display: inline-block;
}

.locale-selector li.sel {
  opacity: 1;
}

.locale-selector li a {
  padding: 0 15px;
  display: inline-block;
}

.locale-selector li a img {
  vertical-align: middle;
}

h3 {
  font-weight: bold;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.cleared:after {
  display: block;
  visibility: hidden;
  content: ".";
  height: 0;
  clear: both;
}

.cleared {
  clear: both;
  /* per Gecko */
  height: 1%;
  /* per IE */
}

.hidden {
  display: none;
}

.away {
  position: absolute !important;
  left: -99999px !important;
  top: -99999px !important;
}

.invisible {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}

*::selection, *::-moz-selection, *::-webkit-selection {
  color: #0A9CE0;
  background: #333;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

#cms-container {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -40px 0;
  padding-top: 38px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: padding .3s ease-in-out;
}

.nested #cms-container {
  padding-top: 0;
}

#cms-container #push-footer {
  height: 40px;
}

#debug {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px;
  color: #000;
  background: #FFF;
  border: 1px solid #0000;
  z-index: 9999;
}

.tab-debug {
  width: 90%;
  max-height: 470px;
  margin: 25px 25px 0 0;
  padding: 15px;
  border: 1px solid #0A9CE0;
  display: inline-block;
  overflow: auto;
  box-sizing: border-box;
}

.tab-debug table {
  margin: 10px 0 30px 0;
}

.tab-debug table td {
  padding: 10px;
  border: 1px solid #BFBFBF;
  border-collapse: collapse;
}

.tipsy-inner b {
  color: #000;
  text-decoration: underline;
  text-transform: capitalize;
}

[class*="icomoon14-"] {
  font-size: 14px;
  vertical-align: text-bottom;
}

[class*="icomoon16-"] {
  font-size: 16px;
  vertical-align: text-bottom;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

@media all and (max-width: 640px) {
  body {
    font-size: 16px;
    font-size: 1.6rem;
  }

  [class*="icomoon14-"] {
    font-size: 14px;
    vertical-align: middle;
  }

  [class*="icomoon16-"] {
    font-size: 16px;
    vertical-align: middle;
  }
}
#login {
  position: relative;
  top: 100px;
  width: 270px;
  margin: 0 auto;
  padding: 0 0 3px 0;
}

#login img {
  margin-left: 20px;
}

#login .button {
  padding: 0 15px 0 20px;
}

#login form {
  float: none;
  min-height: 100px;
  padding: 20px;
  /*background:                 #E7E7E7;*/
}

#login .fieldbox {
  padding-right: 0;
  margin-bottom: 25px;
}

#login em {
  padding: 10px 0 20px 0;
  color: #C00;
  font-weight: bold;
  display: block;
}

#login input {
  /*width:              210px;*/
  height: 34px;
  padding: 3px 3px;
  font-size: 16px;
}

#login .fieldbox input {
  background: #FFF;
}

#login .fieldbox .input-icon {
  position: absolute;
  top: 1px;
  padding: 9px 8px;
  background: #F4F4F4;
  border-left: 1px solid #bfbfbf;
  cursor: pointer;
}

#login input[type="submit"] {
  height: 30px;
  font-weight: normal;
  margin-left: 60px;
  padding: 0 20px;
}

/*#login #show-password{    position:                   absolute;    top:                        19px;    right:                      1px;    padding:                    5px 4px;    background:                 #F4F4F4;    border-left:                1px solid $border-color;    cursor:                     pointer;}*/
#cms-topbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 38px;
  padding: 0 25 0 0px;
  /* correzione ottica per primo .divider */
  color: white;
  background: #e05f23;
  border-bottom: 3px solid #151515;
  z-index: 20;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  transition: padding .3s ease-in-out;
  z-index: 90;
}

.collapsed-menu #cms-topbar {
  padding-left: 35px;
}

.opened-menu #cms-topbar {
  padding-left: 160px;
}

#cms-topbar .button {
  line-height: 35px;
}

#cms-topbar .button.caption {
  font-weight: bold;
}

#cms-topbar a:hover {
  background: #222222;
}

#cms-topbar a:link, #cms-topbar a:visited {
  color: white;
  line-height: 35px;
}

#cms-topbar .separator {
  height: 35px;
  border-left: 1px solid #151515;
}

#cms-menu-toggler {
  padding: 0 15px;
}

#selected-app {
  color: white;
  font-weight: bold;
}

#selected-app.multiple span.text {
  padding: 0 5px 0 0;
}

#selected-app.multiple span.text:first-child {
  padding-left: 15px;
}

#selected-app.multiple span.text:last-child {
  padding-right: 15px;
}

#app-selector {
  position: fixed;
  top: -300px;
  background: #e05f23;
  z-index: 15;
}

#app-selector li {
  font-weight: bold;
  line-height: 32px;
  border: 1px solid #151515;
  border-top: 0;
  clear: both;
}

#app-selector li.sel {
  display: none;
}

#app-selector li a {
  padding: 0 15px;
  color: white;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  display: block;
}

#app-selector li a:hover, #app-selector li a:focus {
  padding: 0 15px;
  color: white;
  background: #222222;
  display: block;
}

#app-selector li a img {
  padding-right: 5px;
}

#cms-topbar .locale-selector li a {
  line-height: 35px;
}

#cms-topbar .locale-selector li.sel {
  background: #222222;
}

#cms-topbar #cms-table-toggler span {
  padding: 2px;
}

@media all and (max-width: 640px) {
  #cms-topbar .label {
    display: none;
  }
}
.hidden-menu #cms-menu {
  width: 0;
  left: -3px;
}

.collapsed-menu #cms-menu {
  width: 35px;
  left: 0;
}

.opened-menu #cms-menu {
  width: 160px;
  left: 0;
}
.opened-menu #cms-menu #logo-wrapper {
  /*background:             $cms-menu-logo-bg;*/
  opacity: 1;
}

#cms-menu {
  position: fixed;
  top: 0;
  left: -35px;
  width: 35px;
  height: 100%;
  background: #222222;
  border-right: 3px solid #151515;
  z-index: 100;
  overflow: hidden;
  transition: width .3s ease-in-out, left .3s ease-in-out;
}
#cms-menu .shadow {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /*box-shadow:                 0 0 3px 3px $darker-color;*/
}
#cms-menu #logo-wrapper {
  height: 35px;
  border-bottom: 3px solid #151515;
  background: white;
  overflow: hidden;
  opacity: 0;
  transition: opacity .7s ease;
}
#cms-menu #logo {
  margin-left: 10px;
  display: block;
}
#cms-menu nav {
  width: 185px;
  /*i 25 servono per nascondere la scrollbar*/
  /*border-top:                 1px solid $cms-menu-border;*/
  overflow: auto;
}
#cms-menu nav li {
  /*border-bottom:              1px solid #2A2A2A;*/
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #151515;
  display: block;
  padding: 0 !important;
}
#cms-menu nav li:first-child {
  border-top: 0;
}
#cms-menu nav ul li.sel {
  background: #e05f23;
}
#cms-menu nav ul a:link, #cms-menu nav ul a:visited {
  color: white;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 35px;
  background: transparent 10px 50% no-repeat;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  /*text-shadow:                $text-shadow;*/
  white-space: nowrap;
}
#cms-menu nav ul a:hover, #cms-menu nav ul a:focus, #cms-menu nav ul a:active {
  color: white;
  background: #e05f23;
}
#cms-menu nav ul li.sel > a {
  color: white;
  font-weight: bold;
  padding-left: 7px;
  border-left: 3px solid #FFF;
}
#cms-menu nav ul a.loading {
  cursor: default;
}
#cms-menu nav ul a.loading:hover, #cms-menu nav ul a.loading:focus {
  background-position: 10px 50%;
}
#cms-menu nav ul li.open ul {
  display: block;
}
#cms-menu nav ul ul li {
  margin: 0;
  padding: 3px 0;
}
#cms-menu nav ul ul li.sel {
  background-image: none;
}
#cms-menu nav ul ul li:last-child a {
  border: 0;
}
#cms-menu nav span[class*="icomoon"] {
  margin-right: 3px;
  padding: 9.5px 9.5px;
  font-size: 16px;
  vertical-align: text-bottom;
}
#cms-menu nav li.sel span[class*="icomoon"] {
  padding-left: 3px;
  padding-right: 6px;
}

nav li#menu-6 {
  display: none;
}

.tipsy-menu .tipsy-inner {
  margin-top: -4px;
  padding: 0 8px 0 8px;
  color: white;
  line-height: 35px;
  background: #e05f23;
  border: 1px solid #151515;
  border-top: 1px solid #2f2f2f;
  border-left: 0;
  /*box-shadow:         0 0 15px 3px #333 inset;*/
}

.tipsy-menu .tipsy-arrow {
  /*background:         url('../img/tipsy_menu.gif')*/
  background: none;
}

.opened-menu .tipsy-menu.tipsy {
  z-index: -100000;
}

/*@media all and (max-width: 640px) {    .collapsed-menu #cms-menu {        width: 46px;    }    .opened-menu #cms-menu {        width: 160px;    }    #cms-menu #logo {        margin-left:            5px;    }    #cms-menu nav ul a:link,    #cms-menu nav ul a:visited{        padding-left:           15px;        line-height:            46px;    }    #cms-menu [class*="icomoon16-"]{        margin-right:              20px;    }}*/
#cms-table {
  min-width: 415px;
  margin: 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: width .3s ease-in-out, margin-left .3s ease-in-out;
}

.standard.hidden-menu #cms-table {
  margin-left: 0;
}

.standard.collapsed-menu #cms-table {
  margin-left: 38px;
}

.standard.opened-menu #cms-table {
  margin-left: 163px;
}

#cms-table .heading {
  background: #bdc3c7;
  border: 1px solid white;
}

#cms-table .heading .button {
  color: white;
}

#cms-table .heading .module-icon {
  color: #2b4053;
}

#cms-table .heading .button a:hover {
  background: #d9dcde;
}

#cms-table .heading .separator {
  border-left: 1px solid white;
}

#cms-table .wrapper {
  /*height:                     278px;*/
  min-height: 300px;
  background: white;
  border: 0 solid white;
  border-bottom: 3px solid #151515;
  overflow: hidden;
  transition: height .3s ease-in-out, min-height .3s ease-in-out;
}

#cms-table .ui-widget-content {
  background: transparent;
}

#cms-table thead {
  border-top: 1px solid white !important;
}

#cms-table #gview_jqGrid {
  min-height: 275px;
  background: white;
}

#cms-table.collapsed-table .wrapper {
  height: 0;
  min-height: 0px;
  border-bottom: 0;
}

#cms-table #jqGrid td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#cms-table td i {
  color: #b3b3b3;
  font-style: italic;
}

#cms-table td small {
  color: #b3b3b3;
}

#cms-table a span[class*="icomoon"] {
  padding: 4px;
}

.nested #cms-table {
  top: 25px;
}

.hidden-menu #cms-table {
  left: 25;
}

.collapsed-menu #cms-table {
  left: 61px;
}

.opened-menu #cms-table {
  left: 175px;
}

#cms-table .delete span[class*="icomoon"] {
  color: #666666;
}

#cms-table .delete span[class*="icomoon"]:hover {
  color: #bb5547;
}

#cms-table .edit span[class*="icomoon"] {
  color: #666666;
}

#cms-table .edit span[class*="icomoon"]:hover {
  color: #2e3a4a;
}

#cms-table .attachment span[class*="icomoon"] {
  color: #666666;
}

#cms-table .attachment span[class*="icomoon"]:hover {
  color: #2e3a4a;
}

#cms-table .typology {
  color: #666666;
}

#cms-table .preview span[class*="icomoon"] {
  color: #666666;
}

#cms-table .preview span[class*="icomoon"]:hover {
  color: #2e3a4a;
}

#cms-table .highlighted span[class*="icomoon"] {
  color: #666666;
}

#cms-table .highlighted span[class*="icomoon"]:hover {
  color: #d9a432;
}

#cms-table .unhighlighted span[class*="icomoon"] {
  color: #666666;
}

#cms-table .unhighlighted span[class*="icomoon"]:hover {
  color: #d9a432;
}

#cms-table .enabled span[class*="icomoon"] {
  color: #666666;
}

#cms-table .enabled span[class*="icomoon"]:hover {
  color: #759e1a;
}

#cms-table .disabled span[class*="icomoon"] {
  color: #666666;
}

#cms-table .disabled span[class*="icomoon"]:hover {
  color: #bb5547;
}

#cms-table .locked span[class*="icomoon"] {
  color: #666666;
}

#cms-table #pager {
  /*border:                     1px solid $cms-table-pager-border;*/
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

#cms-table #pg_pager {
  border-top: 1px solid #bdc3c7;
}

#cms-table .ui-jqgrid .ui-pg-table .ui-pg-input {
  height: 16px;
}

#cms-table #pager .ui-pg-input, #cms-table #pager .ui-pg-selbox {
  height: 18px;
  font-size: 11px;
  font-size: 1.1rem;
  border: 1px solid white;
}

/*@media all and (max-width: 640px) {    #cms-table{        margin-top:             35px;        margin-left:            15px;        margin-right:           15px;    }    #cms-table .wrapper {         height:                auto;    }    .standard.hidden-menu #cms-table{        margin-left:            15px !important;    }    #cms-table .ui-jqgrid tr.jqgrow,    #cms-table .ui-jqgrid-hbox .ui-jqgrid-labels{        height:                 40px;    }    #cms-table .ui-jqgrid-hbox .ui-jqgrid-labels th,    #cms-table .ui-jqgrid tr.jqgrow td{        font-size:              $font-size-large-px;        font-size:              $font-size-large-rem;    }    #cms-table [class*="icomoon16-"]{        padding:                7px;    }    #cms-table .ui-jqgrid-pager{        height:                 35px;    }    #cms-table .ui-jqgrid .ui-pg-table td {        height:                 30px;        font-size:              $font-size-large-px;        font-size:              $font-size-large-rem;    }    #cms-table #pager .ui-pg-input,    #cms-table #pager .ui-pg-selbox{        height:                 20px;        font-size:              $font-size-large-px;        font-size:              $font-size-large-rem;        border:                 1px solid $cms-table-border;    }}*/
#cms-tree {
  float: left;
  margin: 0;
  width: auto;
  min-width: 250px;
  max-width: 250px;
  padding-top: 0;
  z-index: 80;
  overflow: hidden;
  transition: width .3s ease-in-out, margin-left .3s ease-in-out;
}

#cms-tree .wrapper {
  width: 100%;
  min-height: 200px;
  padding: 15px 15px 15px 24px;
  background: white;
  border-right: 3px solid #151515 !important;
  border-bottom: 3px solid #151515 !important;
  border-left: 0;
  overflow: auto;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
#cms-tree .wrapper > ul {
  background: white;
}

/*#cms-tree .jstree > ul > li{    background:                 none;}#cms-tree .jstree > ul > li > ins{    display:                    none;}*/
.nested #cms-tree {
  margin-top: 0;
}

.standard.hidden-menu #cms-tree {
  margin-left: 0;
}

.standard.collapsed-menu #cms-tree {
  margin-left: 38px;
}

.standard.opened-menu #cms-tree {
  margin-left: 163px;
}

#cms-tree .heading .button {
  color: #444;
}

#cms-tree .jstree {
  background-image: url(/bundles/invictuscms/images/icons/loading.gif);
  background-position: 25px 15px;
  background-repeat: no-repeat;
}

#cms-tree .jstree li a {
  font-size: 12px;
  font-size: 1.2rem;
}

#cms-tree .jstree li > a > i {
  color: #999;
}

#cms-tree .jstree li > ins {
  cursor: pointer;
}

#vakata-contextmenu {
  padding: 2px;
  border: 1px solid #BFBFBF !important;
}

#vakata-contextmenu li ins {
  height: 20px !important;
  margin-left: 5px;
}

#cms-info {
  margin: 0;
  font-size: 13px;
  font-size: 1.3rem;
  overflow: hidden;
  transition: margin-left .3s ease-in-out;
}
#cms-info .wrapper {
  padding: 20px;
  border: 0;
}
#cms-info h1 {
  color: #333;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
}
#cms-info p {
  margin-bottom: 10px;
}
#cms-info b, #cms-info strong {
  color: #333;
  font-weight: bold;
}

.standard.hidden-menu #cms-info {
  margin-left: 0;
}

.standard.collapsed-menu #cms-info {
  margin-left: 35px;
}

.standard.opened-menu #cms-info {
  margin-left: 160px;
}

#cms-edit {
  min-width: 415px;
  height: 34px;
  margin: 0 0 0 0;
  border: 1px solid white;
  overflow: hidden;
  transition: margin-left .3s ease-in-out;
}

.standard.table.hidden-menu #cms-edit {
  margin-left: 0;
}

.standard.table.collapsed-menu #cms-edit {
  margin-left: 38px;
}

.standard.table.opened-menu #cms-edit {
  margin-left: 163px;
}

.nested #cms-edit {
  margin-left: 0;
}

#cms-edit .heading {
  background: #c8c8c8;
  border: 0;
  /*border-bottom:              1px solid $cms-edit-heading-border;*/
}

#cms-edit .heading .button, #cms-edit .heading .button a {
  color: white;
}

#cms-edit .heading .button a:hover {
  background: #e05f23;
}

#cms-table .new span[class*="icomoon"] {
  color: white;
}

#cms-table .new span[class*="icomoon"]:hover {
  color: #d79a91;
}

#cms-table .save span[class*="icomoon"] {
  color: white;
}

#cms-table .save span[class*="icomoon"]:hover {
  color: white;
}

#cms-table .editing span[class*="icomoon"] {
  color: white;
}

#cms-edit .heading .separator {
  border-left: 1px solid white;
}

#cms-edit.add, #cms-edit.update {
  height: auto;
  overflow: auto;
}

#cms-edit.add .heading, #cms-edit.update .heading {
  display: block;
  /*@include border-radius-top(2px);    @include border-radius-bottom(0px);*/
}

#cms-edit.add.loading .heading, #cms-edit.update.loading .heading {
  display: block;
  /*@include border-radius(2px);*/
}

#cms-edit .heading {
  display: inline-block;
  /*@include border-radius(2px);*/
}

#cms-edit .heading .button, #cms-edit .heading .separator {
  display: none;
}

#cms-edit .heading .button.new, #cms-edit .heading .button.medialibrary {
  display: inline-block;
}

#cms-edit .heading .button.new span[class*="icomoon"] {
  color: white;
}

#cms-edit .heading .button.save span[class*="icomoon"] {
  color: white;
}

#cms-edit.add .heading .button.save, #cms-edit.add .heading .separator.save, #cms-edit.add .heading .button.loading, #cms-edit.add .heading .separator.new, #cms-edit.add .heading .separator.medialibrary, #cms-edit.add.medialibrary .heading .separator.medialibrary, #cms-edit.add.medialibrary.loading .heading .separator.medialibrary, #cms-edit.add .heading .separator.selector, #cms-edit.add .heading .separator, #cms-edit.add.loading .heading .button.loading, #cms-edit.add.loading .heading .separator.loading, #cms-edit.add.loading .heading .separator.medialibrary, #cms-edit.add.loading .heading .separator.new, #cms-edit.update .heading .button.editing-info, #cms-edit.update .heading .button.save, #cms-edit.update .heading .button.delete, #cms-edit.update .heading .separator, #cms-edit.update.loading .heading .separator.new, #cms-edit.update.loading .heading .separator.medialibrary, #cms-edit.update.loading .heading .button.loading, #cms-edit.update.loading .heading .separator.loading {
  display: block;
}

#cms-edit.add .heading .button.delete, #cms-edit.add .heading .button.editing-info, #cms-edit.add .heading .button.loading, #cms-edit.add .heading .separator.update, #cms-edit.add.loading .heading .button.editing-info, #cms-edit.add.loading .heading .button.save, #cms-edit.add.loading .heading .button.delete, #cms-edit.add.loading .heading .separator, #cms-edit.update .heading .button.loading, #cms-edit.update.loading .heading .button.editing-info, #cms-edit.update.loading .heading .button.save, #cms-edit.update.loading .heading .button.delete, #cms-edit.update.loading .heading .separator {
  display: none;
}

#cms-edit.medialibrary .caption.loading {
  display: none !important;
}

#cms-edit .heading .button.editing-info .label {
  font-weight: normal;
}

#cms-edit .heading .button.editing-info em {
  color: white;
  font-weight: bold;
  font-style: normal;
}

#cms-edit .heading .button.editing-info span[class*="icomoon"] {
  color: white;
}

#cms-edit .heading .locale-selector, #cms-edit.add.loading .heading .locale-selector, #cms-edit.update.loading .heading .locale-selector {
  display: none;
}

#cms-edit.add .heading .locale-selector, #cms-edit.update .heading .locale-selector {
  display: block;
}

#cms-edit .heading .locale-selector li.sel, #cms-edit .heading .locale-selector li:hover {
  background: #e05f23;
}

/*#cms-edit .heading  .locale-selector li{    display:                inline-block;}#cms-edit .heading  .locale-selector li.sel{    background:             #2ba4c1;}#cms-edit .heading  .locale-selector li a{    padding:                0 5px;}#cms-edit .heading  .locale-selector li a img{    vertical-align:         middle;}*/
#cms-edit .wrapper {
  background-color: white;
  border: 1px solid white;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

#cms-edit.saving .wrapper {
  background-image: url(/bundles/invictuscms/images/icons/cms_edit_loading.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#cms-edit.saving ul.tabs, #cms-edit.saving form {
  opacity: 0.3;
  transition: opacity .7s ease-in-out;
}

#cms-edit .wrapper.ui-tabs {
  padding: 0;
  border-radius: 0 "";
  -moz-border-radius: 0 "";
  -webkit-border-radius: 0 "";
}

#cms-edit .wrapper ul.tabs {
  /*height:                     ($cms-edit-tabs-height + 3px);*/
  padding: 10px 0 0 20px;
  border: 0 !important;
  border-bottom: 1px solid #b3b3b3 !important;
  background: white;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

#cms-edit .wrapper ul.tabs li {
  position: relative;
  top: 1px;
  margin: 0;
  background: white;
  border: 1px solid #e6e6e6 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #b3b3b3 !important;
  display: inline-block;
}

#cms-edit .wrapper ul.tabs li:first-child {
  left: 0;
  border-left: 1px solid #e6e6e6 !important;
}

#cms-edit .wrapper ul.tabs li.ui-tabs-active {
  margin-right: -1px;
  margin-left: -1px;
  padding-bottom: 0;
  background: white;
  border: 1px solid #b3b3b3 !important;
  border-bottom: 1px solid white !important;
  z-index: 80;
}

#cms-edit .wrapper ul.tabs li.ui-tabs-active a {
  font-weight: bold;
}

#cms-edit .wrapper ul.tabs li a:link, #cms-edit .wrapper ul.tabs li a:visited {
  padding: 0 15px 0 15px;
  color: #333333;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 25px;
  border-top: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
  display: block;
}

#cms-edit .wrapper ul.tabs li a:hover, #cms-edit .wrapper ul.tabs li a:focus, #cms-edit .wrapper ul.tabs li a:active {
  background: white;
}

#cms-edit .wrapper form {
  padding: 20px 0 20px 20px;
}

/*#cms-edit #log-info{    position:                   absolute;    bottom:                     8px;    right:                      10px;    font-style:                 italic;    cursor:                     pointer;}.group{    float:          left;    width:          80%;    margin:         10px 0 10px 0;}#visibility-box label{    padding-left:               20px;    background-position:        0 45%;    background-repeat:          no-repeat;}.checkbox-list .fieldbox{    float:                      left;    width:                      20%;    height:                     24px;    min-height:                 24px;    margin-right:               2%;     padding:                    2px 5px;    border:                     1px solid #e8bfbf;    background:                 #eee8e8 url(../../admin/img/icons/bullet_red.png) 5px 50% no-repeat;               clear:                      none;    cursor:                     pointer;    overflow:                   hidden;    white-space:                nowrap;    text-overflow:              ellipsis;    border-radius:              2px;    -webkit-user-select:        none;    -khtml-user-select:         none;    -moz-user-select:           none;    -o-user-select:             none;    user-select:                none;      }.checkbox-list .fieldbox.sel{    border:                     1px solid #a3e1a3;    background:                 #e5ede5 url(../../admin/img/icons/bullet_tick.png) 5px 50% no-repeat;     border-radius:              2px;           }.checkbox-list .fieldbox .checkbox{    display:                    inline;    visibility:                 hidden;}.checkbox-list label{    display:                    inline;}.group-header{    position:                   relative;    width:                      100% !important;    margin:                     0;    padding:                    5px 10px !important;    background:                 #E7E7E7 !important;    border:                     1px solid $border-color !important;    background:                 #e7e7e7 url(../images/bg_heading_light.png) 0 50% repeat-x !important;}.group-header em{    position:                   absolute;    top:                        7px;    left:                       10px;    padding:                    0 0 0 25px;    font-size:                  14px;    font-weight:                bold;    background-position:        0 50%;    background-repeat:          no-repeat;    display:                    inline;}.group-header .quick-select{    position:                   absolute;    top:                        8px;    right:                      10px;    margin:                     0;}.group-header span{    margin-left:                10px;    padding-left:               18px;    font-size:                  11px;    font-weight:                normal;}.group-header span.filter{    padding:                    0;    display:                    none;}.group-items{    float:                      left;    width:                      100%;    padding:                    0 10px 10px 10px;    border:                     1px dashed $border-color;    border-top:                 0;}.group-items input{    display:                    inline;}.quick-select{    margin:                     30px 0 10px 0;}.selectAll{    padding:                    3px 0 0 20px;    font-weight:                bold;    background:                 url(../images/icons/bullet_tick.png) 0 50% no-repeat;    cursor:                     pointer;}.deselectAll{    padding:                    3px 0 0 20px;    font-weight:                bold;    background:                 url(../images/icons/bullet_cross.png) 0 50% no-repeat;    cursor:                     pointer;}.filter,.relation .suggest{    padding:                    0;    display:                    inline;}.filter input,.relation .suggest input{    height:                     16px;    padding:                    0 22px 0 3px;    font-size:                  11px;    line-height:                16px;    display:                    inline;}.filter img,.suggest img{    position:                   relative;    top:                        1px;    left:                       -22px;    cursor:                     pointer;}.addVariant{    padding:                    0 0 0 20px;    font-weight:                bold;    background:                 url(../images/icons/small_add.png) 0 50% no-repeat;    cursor:                     pointer;}.deleteVariant{    position:                   absolute;    top:                        5px;    right:                      10px;    padding:                    0 0 0 20px;    background:                 url(../images/icons/bullet_cross.png) 0 50% no-repeat;    cursor:                     pointer;}.relation .quick-select{    padding:                    10px 0;    border-top:              1px dashed $border-color;    border-bottom:              1px dashed $border-color;}.relation .relatedItems{    float:                      right;    width:                      30%;    padding-left:               6%;    border-left:                1px solid $border-color;}.relation .relatedItems b{    padding:                    3px 0 0 32px;    background:                 url(../images/icons/connect.png) 9px 50% no-repeat;}.relation .results{    float:                      left;    width:                      63%;    min-height:                 200px;    max-height:                 550px;    padding-top:                4px;    overflow:                   auto;}.relation .results b{    float:                      left;    width:                      100%;    clear:                      both;}.relation .results .fieldbox{    position:                   relative;    width:                      23%;    height:                     18px;    min-height:                 18px;    padding:                    5px 28px 5px 10px;    border:                     1px solid #BEBEBE;    background:                 #E7E7E7 url(../images/bg_heading_light.png) 0 50%;}.relation .results .fieldbox a{    font-weight:                bold;    display:                    block;    overflow:                   hidden;    text-overflow:              ellipsis;    white-space:                nowrap;}.relation .results .fieldbox img{    position:                   absolute;    top:                        4px;    right:                      6px;    padding:                    2px 0 2px 4px;    border-left:                1px solid $border-color;    display:                    block;}.relation .selected{    float:                      right;    width:                      30%;    min-height:                 200px;    max-height:                 550px;    padding-left:               6%;    border-left:                1px solid #CACACA;    overflow:                   auto;}.relation .selected .sortable{    width:                      90%;    max-height:                 none;}*/
/*.fieldbox{    position:                   relative;}.fieldbox label{    position:                   relative;    line-height:                20px;}.fieldbox label img{    position:                   absolute;    top:                        1px;    left:                       0;}.fieldbox .translation{    width:                      80%;    margin-top:                 2px;    padding:                    0 4px;    font-size:                  10px;    line-height:                130%;    border-left:                1px solid $border-color;}.fieldbox .translation b,.fieldbox .translation strong{    font-weight:                bold;}.fieldbox .translation i,.fieldbox .translation em{    font-style:                italic;}.fieldbox .translation a{    color:                      #00F;    text-decoration:            underline;  }*/
.miniColors-trigger {
  position: relative;
  top: -1px !important;
  left: -26px;
  margin: 0;
}

/*@media all and (max-width: 640px) {    #cms-edit{        height:                 47px;        margin-right:           15px;        margin-bottom:          15px;    }    .standard.hidden-menu #cms-edit{        margin-left:            15px !important;    }    #cms-edit .button.modifying{        display:                    none !important;    }    #cms-edit .wrapper ul.tabs li a:link,    #cms-edit .wrapper ul.tabs li a:visited{        font-size:                  $font-size-larger-px;        font-size:                  $font-size-larger-rem;        line-height:                35px;    }}*/
#cms-footer {
  position: relative;
  width: 100%;
  height: 39px;
  color: #333333;
  line-height: 39px;
  border-top: 1px solid #bfbfbf;
  background: white;
  z-index: 5;
}
#cms-footer #credits {
  float: right;
  margin-right: 20px;
}
#cms-footer #credits a:link, #cms-footer #credits a:visited {
  font-weight: bold;
}
#cms-footer #credits a:hover, #cms-footer #credits a:focus, #cms-footer #credits a:active {
  color: #111111;
}

.cms-dialog {
  display: none;
}

#dialog-advanced-search em.title {
  float: left;
  width: 96%;
  margin-top: 15px;
  padding-left: 10px;
  font-weight: bold;
  border-bottom: 1px solid #bfbfbf;
  background: url(../images/icons/bullet_arrow_right.png) -4px 0 no-repeat;
  clear: both;
}

#dialog-advanced-search label {
  background-image: none !important;
}

#dialog-advanced-search .fieldbox {
  float: left;
  width: 50%;
  clear: none;
}

#dialog-advanced-search .fieldbox input.input, #dialog-advanced-search .fieldbox textarea, #dialog-advanced-search .fieldbox select {
  width: 93% !important;
}

#cms-edit fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

#cms-edit legend {
  position: relative;
  left: -15px;
  padding: 0 15px;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid #bfbfbf;
  background: #EEE;
  border-radius: 2px "";
  -moz-border-radius: 2px "";
  -webkit-border-radius: 2px "";
}

#cms-edit label i {
  color: #666;
  font-weight: normal;
}

#cms-edit label b {
  color: #222;
  font-style: normal;
}

#cms-edit label u {
  color: #222;
  font-style: normal;
}

#cms-edit label del {
  color: #e18a7d;
}

label {
  padding: 0 20px 0 1px;
  font-size: 13px !important;
  font-weight: bold;
  line-height: 20px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input {
  height: 26px;
  padding: 0;
  color: #333;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Open Sans", Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif !important;
  line-height: 26px;
  border: 1px solid #BFBFBF;
  display: inline-block;
  border-radius: 2px "";
  -moz-border-radius: 2px "";
  -webkit-border-radius: 2px "";
  height: 30px;
  padding: 3px 3px;
}

#cms-edit select {
  height: 22px;
  color: #333;
  font-family: "Open Sans", Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif !important;
  font-size: 12px;
  font-size: 1.2rem;
  border: 1px solid #BFBFBF;
  display: block;
  border-radius: 2px "";
  -moz-border-radius: 2px "";
  -webkit-border-radius: 2px "";
}

#cms-edit textarea {
  min-height: 300px;
  padding: 2px 4px;
  margin: 0;
  color: #333;
  font-family: "Open Sans", Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif !important;
  font-size: 12px;
  font-size: 1.2rem;
  border: 1px solid #BFBFBF;
  display: block;
  border-radius: 2px;
}

#cms-edit textarea.syntax {
  min-height: 36px;
  height: auto;
  overflow: hidden;
}

.fieldbox {
  position: relative;
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
  padding: 0 20px 0 0;
  display: block;
  /*overflow:                   hidden;*/
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

.fieldbox .input-prepend,
.fieldbox .input-append {
  position: relative;
}

.fieldbox .input-prepend .input {
  padding-left: 40px !important;
}

.fieldbox .input-append .input {
  padding-right: 40px !important;
}

.fieldbox .input-icon {
  position: absolute;
  top: 1px;
  padding: 5px 4px;
  background: #F4F4F4;
  border-left: 1px solid #bfbfbf;
  cursor: pointer;
}

.fieldbox .input-prepend .input-icon {
  left: 1px;
}

.fieldbox .input-append .input-icon {
  right: 1px;
}

.fieldbox .inner-wrapper {
  float: left;
  width: 100%;
}

#cms-edit .fieldbox.first {
  clear: left;
}

#cms-edit .fieldbox.w75 {
  min-width: 279px;
  width: 75%;
}

#cms-edit .fieldbox.w50 {
  min-width: 181px;
  width: 50%;
}

#cms-edit .fieldbox.w25 {
  min-width: 83px;
  width: 25%;
}

.fieldbox.w66 {
  width: 66%;
}

.fieldbox.w33 {
  width: 33%;
}

.fieldbox.w34 {
  width: 34%;
}

.fieldbox.w20 {
  width: 20%;
}

.fieldbox.w10 {
  width: 10%;
}

#cms-edit .fieldbox .errors {
  color: #C00;
  font-size: 11px;
}

input,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

#cms-edit input[type="text"],
#cms-edit input[type="password"] {
  padding: 0 3px;
}

#cms-edit input[type="email"] {
  padding: 0 23px 0 3px;
}

#cms-edit input[type="file"] {
  height: 24px;
}

#cms-edit input[type="hidden"] {
  display: none;
}

input[type="submit"] {
  width: auto;
  height: 30px;
  margin-top: 20px;
  padding: 2px 15px 5px 13px;
  color: #FFF;
  font-weight: bold;
  background: #e05f23;
  border: 1px solid #e05f23;
  cursor: pointer;
  border-radius: 2px "";
  -moz-border-radius: 2px "";
  -webkit-border-radius: 2px "";
}

input[type="submit"]:hover {
  color: #FFF;
  background: #c8c8c8;
  border: 1px solid #c8c8c8;
  /*box-shadow:                 0 0 5px rgba(117, 158, 26, 1);*/
}

#cms-edit input:focus,
#cms-edit select:focus,
#cms-edit textarea:focus,
#login input:focus,
#login select:focus,
#login textarea:focus {
  border-color: #c8c8c8;
  /*box-shadow:                 0 0 5px rgba(0, 0, 0, 0.3);*/
}

.fieldbox.hidden,
.fieldbox.hidden input {
  display: none !important;
}

.fieldbox.translation label {
  padding-left: 24px;
}

.fieldbox.it_IT label {
  background: transparent url("../images/flags/it.gif") 2px 50% no-repeat;
}

.fieldbox.en_GB label {
  background: transparent url("../images/flags/uk.gif") 2px 50% no-repeat;
}

.fieldbox.es_ES label {
  background: transparent url("../images/flags/es.gif") 2px 50% no-repeat;
}

.fieldbox.fr_FR label {
  background: transparent url("../images/flags/fr.gif") 2px 50% no-repeat;
}

.fieldbox.de_DE label {
  background: transparent url("../images/flags/de.gif") 2px 50% no-repeat;
}

.fieldbox > div.disabled {
  height: 22px;
  min-width: 200px;
  padding: 0 8px 0 28px;
  color: #999;
  font-family: "Open Sans", Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  line-height: 22px;
  border: 1px solid #BFBFBF;
  background: url(../img/silky/lock.png) 5px 50% no-repeat;
  display: inline-block;
  border-radius: 2px;
}

#cms-edit form .fieldbox.error label {
  color: #C00;
}

.fieldbox.error input,
.fieldbox.error textarea {
  border: 1px solid #C00;
  /*background:                 #FFF url(../../admin/img/silky/exclamation.png) 100% 50% no-repeat;*/
}

#cms-edit form .fieldbox label span {
  position: relative;
  bottom: 1px;
  padding-left: 5px;
  color: #C00;
  font-size: 10px;
  font-style: italic;
  display: none;
}

form .fieldbox.error label span {
  display: inline;
}

@media all and (max-width: 640px) {
  #cms-edit .fieldbox {
    width: 100% !important;
    margin-bottom: 20px;
  }

  #cms-edit label {
    line-height: 24px !important;
    font-size: 16px;
    font-size: 1.6rem;
  }

  #cms-edit input {
    height: 32px !important;
    font-size: 16px !important;
    font-size: 1.6rem !important;
    line-height: 32px !important;
    border-radius: 2px "";
    -moz-border-radius: 2px "";
    -webkit-border-radius: 2px "";
  }
}
#widget-visibility-selector {
  float: left;
  margin-bottom: 25px;
  clear: both;
}

#widget-visibility-selector .app {
  float: left;
  margin-bottom: 25px;
  clear: both;
}

#widget-visibility-selector .app strong {
  margin-bottom: 8px;
  padding: 0 15px 0 0;
  font-weight: bold;
  line-height: 25px;
  border-bottom: 1px solid #bfbfbf;
  display: inline-block;
  cursor: pointer;
}

#widget-visibility-selector .app strong:hover {
  padding: 0 15px 0 15px;
  color: #FFF;
  background-color: #2489C5;
  border-bottom: 1px solid #2489C5;
}

#widget-visibility-selector .language {
  float: left;
  margin-right: 20px;
}

#widget-visibility-selector li label {
  padding: 0 5px;
  font-weight: normal;
  display: inline-block;
}

#widget-visibility-selector li .icheckbox_square-blue {
  display: inline-block;
}

#widget-position-sorter header {
  float: left;
  width: 100%;
  color: white;
  line-height: 25px;
  background: tint(#c8c8c8, 20%);
  border-bottom: 1px solid #CCC;
  display: block;
}

#widget-position-sorter header strong {
  font-weight: bold;
}

#widget-position-sorter header img.language {
  margin: 0 2px;
  padding: 0 5px;
  cursor: pointer;
  opacity: 0.3;
}

#widget-position-sorter header img.language.sel {
  opacity: 1;
}

#widget-position-sorter .inner-wrapper {
  border: 1px solid #BFBFBF;
  border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
}

#widget-position-sorter .sorter {
  display: none;
}

#widget-position-sorter .inner-wrapper .sorter.first {
  display: block;
}

#widget-position-sorter ul {
  float: left;
  width: 100%;
  max-height: 360px;
  overflow: auto;
}

#widget-position-sorter li {
  position: relative;
  margin: 10px;
  padding: 7px 50px 7px 5px;
  line-height: 1.6rem;
  background: #EFEFEF;
  /*cursor:                 ns-resize;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#widget-position-sorter .sortable span.position {
  width: 25px;
  text-align: center;
  display: inline-block;
}

#widget-position-sorter .sortable li.enabled {
  border-left: 5px solid #759E1A;
}

#widget-position-sorter .sortable li.disabled {
  border-left: 5px solid #95a5a6;
}

#widget-position-sorter .sortable li .up,
#widget-position-sorter .sortable li .down {
  position: absolute;
  right: 5px;
  top: 0;
  padding: 7px 2px;
  cursor: pointer;
}

#widget-position-sorter .sortable li .down {
  right: 35px;
}

#widget-position-sorter .sortable li:first-child .up {
  display: none;
}

#widget-position-sorter .sortable li:last-child .down {
  display: none;
}

.select2-drop.select2-drop-above {
  margin-top: -1px;
}

#widget-relation-selector header {
  float: left;
  width: 100%;
  color: white;
  line-height: 25px;
  background: tint(#c8c8c8, 20%);
  border-bottom: 1px solid #bfbfbf;
  display: block;
}

#widget-relation-selector header strong {
  font-weight: bold;
}

#widget-relation-selector header img.language {
  margin: 0 2px;
  padding: 0 5px;
  cursor: pointer;
  opacity: 0.3;
}

#widget-relation-selector header img.language.sel {
  opacity: 1;
}

#widget-relation-selector .inner-wrapper {
  border: 1px solid #bfbfbf;
  background: #F9F9F9;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
}

#widget-relation-selector .sorter {
  display: none;
}

#widget-relation-selector .inner-wrapper .sorter.first {
  display: block;
}

#widget-relation-selector .select2-container-multi {
  max-height: 400px;
  padding: 0;
  background: #F9F9F9;
  overflow: auto;
}

#widget-relation-selector .select2-container-multi .select2-choices {
  position: relative;
  padding: 30px 0 15px 0;
  border: 0;
  background: none;
  box-shadow: none;
}

#widget-relation-selector .select2-container-multi .select2-search-field {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0 !important;
  border-bottom: 1px solid #bfbfbf !important;
  background: #FFF !important;
  box-shadow: none;
}

#widget-relation-selector .select2-container-multi .select2-search-field input {
  width: 100%;
  padding: 0 0 0 50px;
  background: url(/bundles/invictuscms/images/icons/search.png) 25px 50% no-repeat !important;
  box-shadow: none;
}

#widget-relation-selector .select2-container-multi .select2-choices .select2-search-choice {
  width: 100%;
  margin: 10px 10px 0 10px;
  padding: 0;
  color: #666;
  line-height: 1.6rem;
  background: none;
  border: 0px;
  overflow: hidden;
  box-shadow: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

#widget-relation-selector .select2-container-multi .select2-choices .select2-search-choice div {
  margin-right: 20px;
  padding: 0;
  background: #EFEFEF;
}

#widget-relation-selector .select2-container-multi .select2-choices .select2-search-choice div span.position {
  width: 25px;
  text-align: center;
  display: inline-block;
}

#widget-relation-selector .select2-container-multi .select2-choices .select2-search-choice div.enabled {
  padding: 7px 10px 7px 5px;
  border: 0;
  border-left: 5px solid #759E1A;
}

#widget-relation-selector .select2-container-multi .select2-choices .select2-search-choice div.disabled {
  padding: 7px 10px 7px 5px;
  border: 0;
  border-left: 5px solid #95a5a6;
}

#widget-relation-selector .select2-container-multi .select2-search-choice-close {
  top: 8px !important;
  left: auto;
  right: 25px !important;
}

.select2-drop.select2-drop-above {
  margin-top: -1px;
}

/* SIMPLE SELECTOR - SIMPLE SELECTOR - SIMPLE SELECTOR - SIMPLE SELECTOR - SIMPLE SELECTOR */
#widget-relation-selector.simple .select-wrapper {
  float: left;
  width: 96%;
  margin: 5px 2%;
}

#widget-relation-selector.simple .select-wrapper select {
  box-sizing: border-box;
}

#cms-edit .widget-gmap-pin-pointer {
  position: relative;
}
#cms-edit .widget-gmap-pin-pointer .gmap {
  border: 1px solid #BFBFBF;
  background: #eeeeee url("../images/icons/load_on_mouseover.png") 50% 50% no-repeat;
}
#cms-edit .widget-gmap-pin-pointer .marker-overlay {
  position: absolute;
  top: 0;
  /*left:           -20px;*/
  width: 100%;
  height: 100%;
  background: rgba(220, 220, 220, 0.5);
  display: none;
}
#cms-edit .widget-gmap-pin-pointer .marker-overlay.visible {
  display: block;
}
#cms-edit .widget-gmap-pin-pointer section.marker-form {
  position: absolute;
  top: 50px;
  right: 5%;
  width: 300px;
  padding: 40px 20px 20px 20px;
  background: #FFF;
  border: 1px solid #BFBFBF;
  border-radius: 2px "";
  -moz-border-radius: 2px "";
  -webkit-border-radius: 2px "";
  display: none;
}
#cms-edit .widget-gmap-pin-pointer section.marker-form header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #BFBFBF;
  background: #EEE;
  cursor: move;
}
#cms-edit .widget-gmap-pin-pointer section.marker-form .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: #333;
  cursor: pointer;
}
#cms-edit .widget-gmap-pin-pointer section.marker-form .locale-selector {
  position: absolute;
  top: 4px;
  left: 15px;
  padding: 0;
}
#cms-edit .widget-gmap-pin-pointer section.marker-form textarea {
  min-height: 70px;
  max-height: 300px;
  resize: vertical;
}
#cms-edit .widget-gmap-pin-pointer section.marker-form input[type=submit] {
  margin: 20px 0 0 0;
}
#cms-edit .widget-gmap-pin-pointer section.marker-form.visible {
  display: block;
}
#cms-edit .widget-gmap-pin-pointer .geo-points-fields {
  display: none;
}

/* jqgrid jquery-ui css reset */
#cms-table .ui-jqgrid-hdiv {
  background: #c8c8c8 !important;
  border-bottom: 0;
}

#cms-table .ui-state-default {
  background: #c8c8c8 !important;
}

#cms-table .ui-state-default.loading {
  background: white !important;
}

#cms-table .ui-jqgrid-hbox {
  padding-right: 0;
}

#cms-table .ui-jqgrid .ui-jqgrid-htable th {
  height: 32px;
  padding: 0 2px;
  border-right: 1px solid white;
}

#cms-table .ui-jqgrid .ui-jqgrid-htable th:last-child {
  border-right: 0;
}

#cms-table .ui-jqgrid .ui-jqgrid-htable th div {
  padding: 0 5px;
  color: white;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 17px;
}

#cms-table .jqgrow {
  border: 1px solid white;
  border-right: 0 !important;
  background: #fefefe;
}

#cms-table .jqgrow.odd {
  background: #f9f9f9;
}

#cms-table .ui-jqgrid tr.jqgrow td {
  height: 29px;
  padding: 0 5px;
  color: #666666;
  font-size: 12px;
  font-size: 1.2rem;
  border: 1px solid white;
}

#cms-table td:last-child {
  border-right: 0 !important;
}

#cms-table .ui-jqgrid .loading {
  color: #666666;
  font-size: 12px;
  font-size: 1.2rem;
  border: 1px solid #bfbfbf !important;
}

#cms-table .ui-jqgrid .ui-jqgrid-view {
  font-size: 12px;
  font-size: 1.2rem;
}

#cms-table .ui-jqgrid {
  border: 0;
}

/* ROWS CONTAINER */
#cms-table .ui-jqgrid-bdiv {
  min-height: 250px;
  /*border-bottom:          1px solid $cms-table-heading-border;*/
  background: white;
  overflow: hidden !important;
}

/* ROW HOVER */
#cms-table .jqgrow.ui-state-hover {
  border: 1px solid white;
  background: #cccccc;
  cursor: pointer;
  font-weight: bold;
}

/* ROW SELECTED */
#cms-table .jqgrow.ui-state-highlight {
  border: 1px solid white;
  background: #cccccc;
}

#cms-table .ui-jqgrid .ui-jqgrid-htable th div {
  padding: 0 2px;
}

#cms-table .ui-jqgrid .ui-jqgrid-htable th div .s-ico {
  padding-left: 5px;
}

#cms-table .ui-jqgrid .ui-pg-table td td.ui-pg-button:hover {
  padding: 1px;
  border: 0;
}

#cms-table .ui-jqgrid .ui-jqgrid-pager {
  background: white !important;
  border-top: 0;
}

#cms-table .ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
  padding: 0;
}

#cms-table .ui-jqgrid .ui-pg-table td td .ui-icon {
  padding: 1px 0 !important;
  margin: 0 !important;
  border: 1px solid transparent;
}

#cms-table .ui-jqgrid .ui-pg-table td td.ui-state-hover .ui-icon {
  border: 1px solid #bfbfbf;
  border-radius: 2px "";
  -moz-border-radius: 2px "";
  -webkit-border-radius: 2px "";
}

#cms-table .ui-jqgrid .ui-pg-input {
  width: 30px;
  padding: 1px;
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Open Sans", Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  display: inline;
}

#cms-table .ui-jqgrid .ui-pg-selbox {
  font-size: 11px;
  font-size: 1.1rem;
  font-family: "Open Sans", Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

#cms-table .ui-jqgrid .ui-paging-info {
  line-height: 19px;
}

#cms-table #pager_center .ui-separator {
  border-right: 0;
}

#cms-table .ui-jqgrid-pager .ui-state-hover {
  background: none;
  border: 1px solid #bfbfbf;
}

.ui-widget {
  font-family: "Open Sans", Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.ui-widget-content {
  color: inherit;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
  border: 0;
  background: #DEDEDE;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
  top: 0;
  border: 0 !important;
  border-left: 1px solid #bfbfbf !important;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  padding-bottom: 0;
}

.ui-tabs .ui-tabs-selected a:link,
.ui-tabs .ui-tabs-selected a:visited {
  color: #000 !important;
}

.ui-tabs .ui-tabs-hide {
  display: none !important;
}

.ui-tabs .ui-state-disabled a {
  color: #999 !important;
  cursor: not-allowed;
}

.ui-tabs .ui-tabs-panel {
  padding: 0 !important;
}

#ui-datepicker-div {
  width: 250px;
  margin-top: 0;
  padding: 0;
  border: 1px solid #bfbfbf;
  background: #FFF;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #bfbfbf;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ui-datepicker .ui-datepicker-title {
  color: #444;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/*
.ui-datepicker .ui-datepicker-prev{    
    background:             url(../img/bullet_arrow_left.png) 50% 50% no-repeat;
}

.ui-datepicker .ui-datepicker-next{     
    background:             url(../img/bullet_arrow_right.png) 50% 50% no-repeat;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{     
    display:                none;
}
*/
.ui-datepicker table {
  margin: 0;
  font-size: 11px;
}

.ui-datepicker th {
  border-bottom: 1px dashed #bfbfbf;
  background: #F4F4F4;
}

.ui-datepicker td {
  padding: 2px;
}

.ui-datepicker td a {
  text-align: center;
  border: 1px solid #FFF;
  background: #DFDFDF !important;
}

.ui-datepicker td.ui-datepicker-today a {
  background: #F4F4F4 !important;
}

.ui-datepicker td a:hover,
.ui-datepicker td a:focus,
.ui-datepicker td a.ui-state-active {
  border: 1px dashed #bfbfbf;
  background: #F4F4F4 !important;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-widget-content {
  border: 0;
}

.ui-dialog {
  padding: 0;
}

.ui-dialog .ui-widget-header {
  height: 32px;
  color: #FFF;
  font-size: 13px;
  line-height: 32px;
  background: #A8BCB1;
  border: 0;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0 15px;
}

.ui-dialog .ui-dialog-titlebar span {
  margin: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog .ui-dialog-buttonpane button {
  background: #007481;
  font-size: #FFF;
  border: 0;
}

.ui-dialog .ui-dialog-buttonpane button.ui-state-hover {
  background: #A8BCB1;
  font-size: #FFF;
  border: 0;
}

.ui-dialog .ui-dialog-buttonpane button span {
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
}

.ui-dialog #dialog-confirm {
  padding: 15px;
}

/* - iCheck - iCheck - iCheck - iCheck - iCheck - iCheck - iCheck - iCheck - iCheck -  */
#cms-edit [class*="icheckbox_line-"], #cms-edit [class*="iradio_line-"] {
  padding: 5px 15px 5px 30px;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  border-radius: 2px;
}

#cms-edit [class*="icheckbox_line-"].checked, #cms-edit [class*="iradio_line-"].checked,
#cms-edit [class*="icheckbox_line-"].checked.hover, #cms-edit [class*="iradio_line-"].checked.hover {
  background: #759E1A;
}

#cms-edit [class*="icheckbox_line-"], #cms-edit [class*="iradio_line-"]
#cms-edit [class*="icheckbox_line-"].hover, #cms-edit [class*="iradio_line-"].hover {
  background: #bb5547;
}

#cms-edit [class*="icheckbox_line-"] .on {
  display: none;
}

#cms-edit [class*="icheckbox_line-"].checked .off {
  display: none;
}

#cms-edit [class*="icheckbox_line-"].checked .on {
  display: block;
}

@media all and (max-width: 640px) {
  #cms-edit [class*="icheckbox_line-"], #cms-edit [class*="iradio_line-"] {
    line-height: 24px;
    font-size: 16px;
  }
}
/* - select2 - select2 - select2 - select2 - select2 - select2 - select2 - select2 - select2 - */
.select2-container .select2-choice {
  height: 28px;
  line-height: 28px;
  background: none;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #c8c8c8;
}

.select2-container .select2-choice div {
  background: #bdc3c7;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

.select2-drop {
  font-size: 12px;
  font-size: 1.2rem;
  /*border-top:     1px dashed #BFBFBF;*/
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

.select2-drop.select2-drop-active {
  border: 1px solid #c8c8c8;
}

.select2-search {
  margin: 5px 0 0;
}

@media all and (max-width: 640px) {
  .select2-container .select2-choice {
    line-height: 32px;
    height: 32px;
    font-size: 16px;
  }
}
/* - CodeMirror - CodeMirror - CodeMirror - CodeMirror - CodeMirror - CodeMirror - CodeMirror - CodeMirror - */
.CodeMirror {
  /*width:                      50% !important;*/
  line-height: 1.5em !important;
  border: 1px solid #BFBFBF;
}

/*
.CodeMirror-scroll {
    min-height:                 40px;
    height: auto !important;
    overflow-y: hidden;
    overflow-x: auto;
    background:                 #FFF !important;
}

.CodeMirror:focus{
    border-color:               #0A9CE0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
*/
/* - fancybox - fancybox - fancybox - fancybox - fancybox - fancybox - fancybox - fancybox - fancybox - fancybox - */
.fancybox-lock body {
  overflow: scroll !important;
}

.fancybox-lock #cms-topbar {
  /*padding-right:              42px !important;*/
}

.fancybox-wrap {
  top: 51px !important;
  padding-bottom: 25px !important;
}

.fancybox-skin {
  border-radius: 1px;
}

/* jstree contextmenu - jstree contextmenu - jstree contextmenu - jstree contextmenu - jstree contextmenu */
#vakata-contextmenu {
  margin-top: 5px !important;
}

/* noty - noty - noty - noty - noty - noty - noty - noty - noty - noty - noty - noty - noty - noty - noty */
.hidden-menu .noty_bar .noty_message {
  padding: 0 0 0 9px;
}

.collapsed-menu .noty_bar .noty_message {
  padding: 0 0 0 44px;
}

.opened-menu .noty_bar .noty_message {
  padding: 0 0 0 169px;
}

.noty_bar .noty_text {
  padding: 8px 25px 7px 0;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 20px;
}

.noty_bar.info {
  color: #3A87AD;
  background: #D9EDF7;
  background: rgba(217, 237, 247, 0.9);
  border-bottom: 3px solid #3a87ad;
}

.noty_bar.success {
  color: #468847;
  background: #DFF0D8;
  background: rgba(223, 240, 216, 0.9);
  border-bottom: 3px solid #468847;
}

.noty_bar.alert {
  color: #C09853;
  background: #FCF8E3;
  background: rgba(252, 248, 227, 0.9);
  border-bottom: 3px solid #c09853;
}

.noty_bar.error {
  color: #B94A48;
  background: #F2DEDE;
  background: rgba(242, 222, 222, 0.9);
  border-bottom: 3px solid #b94a48;
}

.noty_bar .noty_close {
  height: 35px;
}
