#cms-edit .heading{
    display:        none !important;
}

#cms-edit .wrapper{
    border-top:         1px solid #BFBFBF;
    display:            none;
}

#cms-edit input.submit{
    display:            none;
}