body{
    margin:             5px;
    font-size:          12px;
    font-family:        Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    line-height:        18px;
}