{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
"{{ row.id }}",
"{{ row.translations[0].label }}",
"'{{ row.bundleControllerAction }}' => '{{ row.bundleViewsTwig }}'"
{% endblock %}