{% block appSelector %}
    {% if invictusKernel.getRequestAttribute('layout') != 'nested' %}
        {% if (config.module.MA) %}
            {% if(invictusKernel.getUserALMTree()|length > 1) %}
                <ul id="app-selector">
                    {% for app in invictusKernel.getUserALMTree() %}
                        {% set selApp = (app.id == invictusKernel.appId) ? 'class="sel"' : "" %}
                        <li {{ selApp|raw }}>
                            <a href="{{ invictusKernel.generateModulePath({'app': app.id}) }}">
                                <!--
                                <img src="{{ asset('/bundles/invictuscms/images/apps/' ~ app.icon) }}" alt="{{ app.label }}" />
                                -->
                                {{ app.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock appSelector %}