{% block container %}
    <div id="cms-container" class="cleared">

        {% block table %}
            Empty twig block 'table' in InvictusCmsBundle::container.html.twig.
        {% endblock table %}

        {% block tree %}
            Empty twig block 'tree' in InvictusCmsBundle::container.html.twig.
        {% endblock tree %}

        {% block edit %}
            Empty twig block 'edit' in InvictusCmsBundle::container.html.twig.
        {% endblock edit %}

        <div id="push-footer">&nbsp;</div>

    </div>

    {% block footer %}
    {% endblock footer %}

{% endblock container %}