{% block dialogClone %}

    <div id="dialog-clone" class="cms-dialog" title="Clona elemento">

        <input type="hidden" id="cloneModuleId" name="cloneModuleId" value="" />

        <div class="fieldbox">
            <input name="name" type="text" />
        </div>

        <div class="fieldbox" style="display:none">
            <select name="app">
                <option value="vs">devsign</option>
                <option value="ns">nuovostudiofactory</option>
                <option value="of">officine panottiche</option>
            </select>
        </div>

    </div>

{% endblock dialogClone %}