{% block dialogConfirm %}

    <div id="dialog-confirm" class="cms-dialog" title="Elimina elemento">
        <p>
            {{ 'warning.confirmDelete'|trans()|raw }}
        </p>
    </div>

{% endblock dialogConfirm %}