{% block edit %}
    <div id="cms-edit" class="{{ app.request.attributes.get('action') }}">

        <div class="heading">

            {% block newButton %}
            <div class="button new pull-left">
                <a href="{{ invictusKernel.modulePath }}/add" title="{% trans %}new{% endtrans %}">
                    <span class="icomoon16-plus-5"></span>
                    <span class="label">
                        {% trans %} newItem{% endtrans %}
                    </span>
                </a>
            </div>

            <div class="separator new pull-left">&nbsp;</div>
            {% endblock newButton %}

            {% block mediaLibraryButton %}
            {% endblock %}

            <div class="button save pull-left">
                <a href="javascript:void(0)" title="{% trans %}save{% endtrans %}">
                    <span class="icomoon16-download-3"></span>
                    <span class="label">
                        {% trans %}save{% endtrans %}
                    </span>
                </a>
            </div>

            <div class="separator save pull-left">&nbsp;</div>

            <div class="button caption loading pull-right">
            <span>
                <span class="icon icon-loading">&nbsp;</span>
                <span class="label">
                    {% trans %}info.loading{% endtrans %}
                </span>
            </span>
            </div>

            {% if (not config.module.MA and config.module.ML) %}
                <div class="locale-selector pull-right ML">
                    <ul>
                        {% spaceless %}
                        {% for language in invictusKernel.getUserLanguages(invictusKernel.moduleTag) %}
                            {% set selLanguage = (language.id == invictusKernel.languageId) ? 'class="sel"' : "" %}
                            <li {# selLanguage|raw #} >
                                {# <a href="{{ path('invictus_action', {app: invictusKernel.getApp().getId(), locale: language.id , module: invictusKernel.getModule().getTag()}) }}"> #}
                                <a href="javascript:void(0)" class="{{ language.id }}">
                                    <img src="{{ asset('/bundles/invictuscms/images/flags/' ~ language.icon) }}" alt="{{ language.label }}" />
                                </a>
                            </li>
                        {% endfor %}
                        {% endspaceless %}
                    </ul>
                </div>

                <div class="separator selector pull-right">&nbsp;</div>

            {% elseif(config.module.MA and config.module.ML) %}

                <div class="locale-selector pull-right MAML">
                    <ul>
                        {% spaceless %}
                        {% for language in invictusKernel.getUserMALTree[invictusKernel.moduleTag]['apps'][invictusKernel.appId]['languages'] %}
                            {% set selLanguage = (language.id == invictusKernel.languageId) ? 'class="sel"' : "" %}
                            <li {{ selLanguage|raw }}>
                                <a href="{{ invictusKernel.generateModulePath({'locale': language.id }) }}" class="{{ language.id }}">
                                    <img src="{{ asset('/bundles/invictuscms/images/flags/' ~ language.icon) }}" alt="{{ language.label }}" />
                                </a>
                            </li>
                        {% endfor %}
                        {% endspaceless %}
                    </ul>
                </div>

                <div class="separator pull-right">&nbsp;</div>

            {% endif %}

            <div class="button caption editing-info pull-right">
                <span>
                    <!--
                    <span class="icomoon16-pencil-5"></span>
                    -->
                    <span class="label">
                        {% trans %}editing{% endtrans %}
                    </span>
                </span>
            </div>

        </div>

        <div class="wrapper">

            {% block form %}
                {% if invictusKernel.getRequestAttribute('action') == 'add' or invictusKernel.getRequestAttribute('action') == 'update'  %}
                    {% include "InvictusCmsBundle::form.html.twig" with { form: form } %}
                {% endif %}
            {% endblock %}

        </div>

    </div> <!-- end #edit -->

{% endblock edit %}