{% block footer %}
    {% if invictusKernel.getRequestAttribute('layout') != 'nested' %}
    <div id="cms-footer">

            <span id="credits">
                Powered by <a target="_blank" href="http://www.devsign.it">de<span style="color:#0A9CE0">v</span>sign</a>. Copyright &copy; 2010 - {{ 'now'|date('Y') }}. Tutti i diritti riservati.
            </span>

    </div> <!-- #cms-footer end -->
    {% endif %}
{% endblock footer %}