{% form_theme form with 'InvictusCmsBundle:Form:invictus_form_div_layout.html.twig' %}

{% set application = invictusKernel.appId %}
{% set locale = invictusKernel.languageId %}
{% set moduleTag = invictusKernel.getCurrentModule().getTag() %}
{% set moduleId = invictusKernel.getCurrentModule().getId() %}
{% set action = invictusKernel.getRequestAttribute('action') %}
{% set id = invictusKernel.getRequestAttribute('id') %}
{% set config = invictusKernel.getCurrentModule().getConfig(false) %}
{% set tabsConfig = invictusKernel.getCurrentModule().getTabsConfig(false) %}


<form action="{{ action == 'add' 
                    ? invictusKernel.modulePath ~ '/add'
                    : invictusKernel.modulePath ~ '/update/' ~ id }}"
                    method="post" {{ form_enctype(form) }} novalidate="novalidate" >

    {% for key, tab in tabsConfig %}
        {% if tab.enabled %}
            {{ include(tab.view, {'key': key,'tabConfig': tab, 'form': form, 'item': item}) }}
        {% endif %}
    {% endfor %}

    {{ form_widget(form._token) }}

    <input value="{% trans %}save{% endtrans %}" type="submit" class="submit" />

{% if invictusKernel.environment == 'dev' %}
    <!--
    <div class="fieldbox first w50"></div>
    <div class="fieldbox w50">
        <div class="tab-debug">
            <pre>
            {{ moduleTag }} {{ moduleId }}
                <hr>
            {# dump(config) #}
                <hr>
            {# dump(tabsConfig) #}
            </pre>
        </div>
    </div>
    -->
{% endif %}

</form>

