{% set config = invictusKernel.getCurrentModule().getConfig(false) %}

<!DOCTYPE html>
<html lang="{{ invictusKernel.UILanguageId }}">

    <head>
        {% block head %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block pageTitle %}INVICTUS | {{ invictusKernel.getModuleTranslation().getLabel() }} ( {{ invictusKernel.appId }} {{ invictusKernel.languageId }} ) {% endblock %}</title>
        <meta name="author" content="Matteo Poile | devsign">
        <meta name="description" content="INVICTUS CMS" />
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="noindex">

        {% block stylesheets %}
            {{ include('InvictusCmsBundle:Assets:css.html.twig') }}
            {{ include('InvictusFrontEndBundle:Assets:css.html.twig') }}

            <link href="{{ asset( invictusKernel.getCurrentModule().getAssetsFolder() ~ '/css/' ~ invictusKernel.getCurrentModule().getTag() ~ '.css') }}" type="text/css" rel="stylesheet" />
        {% endblock stylesheets %}

        <script src="{{ asset('/bundles/invictuscms/libs/modernizr-2.6.2.min.js') }}"></script>
        {% endblock head %}
    </head>

    {% set menuStatusClass = (invictusKernel.layout == 'nested') ? 'hidden-menu' : app.session.get('menuStatus') ~ '-menu' %}
    <body class="{% block bodyClass %}{% endblock bodyClass %} {{ menuStatusClass }}"> {# standard|nested + table|tree  #}

        {% block topbar %}
        {% endblock topbar %}


        {% block appSelector %}
        {% endblock appSelector %}


        {% block container %}
        {% endblock container %}


        {% block menu %}
        {% endblock menu %}


        {% block dialogs %}
        {% endblock dialogs %}
        
        
        {% block javascripts %}
            <script src="{{ asset('/bundles/invictuscms/libs/jquery-1.9.1.min.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js') }}" type="text/javascript" ></script>

            <script src="{{ asset('/bundles/invictuscms/libs/tinymce_3.5.8/tiny_mce.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/tinymce_3.5.8/jquery.tinymce.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/jcookies.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/jquery.easing.1.3.js') }}" type="text/javascript" ></script> 
            <script src="{{ asset('/bundles/invictuscms/libs/jquery.hoverIntent.minified.js') }}" type="text/javascript" ></script>

            <script src="{{ asset('/bundles/invictuscms/libs/codemirror-3.12/lib/codemirror.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/codemirror-3.12/mode/javascript/javascript.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/codemirror-3.12/addon/lint/lint.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/codemirror-3.12/addon/lint/json-lint.js') }}" type="text/javascript" ></script>

            <script src="{{ asset('/bundles/invictuscms/libs/noty/js/jquery.noty.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/tipsy/jquery.tipsy.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/jquery.validate.min.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/select2/select2.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/select2-sortable/select2.sortable.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/iCheck/jquery.icheck.min.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/fancyBox/source/jquery.fancybox.pack.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/libs/history.js/scripts/bundled/html5/jquery.history.js') }}" type="text/javascript" ></script>
            <!--
            <script src="{{ asset('/bundles/invictuscms/libs/jquery-serialize-object/jquery.serialize-object.js') }}" type="text/javascript" ></script>
            -->
            
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'messages' }) }}"></script>
            <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': invictusKernel.getCurrentModule().getTag() }) }}"></script>
            
            <script src="{{ asset('/bundles/invictuscms/js/objects.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/js/interactions.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/js/plugins.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('/bundles/invictuscms/js/ready.js') }}" type="text/javascript" ></script>

            <script type="text/javascript">
                {% if invictusKernel.getRequestAttribute('action') == 'add' %}
                    $(document).trigger('loadForm');
                    $(document).trigger('loadAddForm');
                {% endif %}

                {% if invictusKernel.getRequestAttribute('action') == 'update' %}
                    $(document).trigger('loadForm');
                    $(document).trigger('loadUpdateForm');
                {% endif %}
            </script>

            {% if invictusKernel.getCurrentModule().getListType() == 'table' %}
                <script src="{{ asset('/bundles/invictuscms/libs/jquery.jqGrid-4.4.5/js/i18n/grid.locale-' ~ invictusKernel.UILanguage.getISO639() ~ '.js') }}" type="text/javascript" ></script>
                <script src="{{ asset('/bundles/invictuscms/libs/jquery.jqGrid-4.4.5/js/jquery.jqGrid.min.js') }}" type="text/javascript" ></script>
                <script type="text/javascript">
                    Table.jqGridOptions.page = "{{ invictusKernel.getGETParam('page') ? invictusKernel.getGETParam('page') : 1 }}";
                    Table.jqGridOptions.rowNum = "{{ invictusKernel.getCurrentModule().getListRows() }}";
                    jqGridUrl = '{{ invictusKernel.modulePath }}' + '/tableList';
                    Table.jqGridOptions.url = jqGridUrl;
                </script>
            {% endif %}

            {% if invictusKernel.getCurrentModule().getListType() == 'tree' %}
                <script src="{{ asset('/bundles/invictuscms/libs/jstree/jquery.jstree.js') }}" type="text/javascript" ></script>
                <script src="{{ asset('/bundles/invictuscms/libs/jstree/_lib/jquery.hotkeys.js') }}" type="text/javascript" ></script>
                <script src="{{ asset('/bundles/invictuscms/libs/jstree/_lib/jquery.cookie.js') }}" type="text/javascript" ></script>
                <script type="text/javascript">
                    //Tree.jstreeOptions.json_data.data = {{ invictusKernel.repositoryProxy('InvictusCms', 'Menu', 'getJsTreeChildren', [null])|raw }};
                </script>
            {% endif %}

        {% endblock javascripts %}

        <!-- Meglio caricare il js del bundle dopo il blocco javascripts in modo che in module.html.twig si possano aggiungere altri file js caricati prima della sua esecuzione -->
        <script src="{{ asset( invictusKernel.getCurrentModule().getAssetsFolder() ~ '/js/' ~ invictusKernel.getCurrentModule().getTag() ~ '.js') }}" type="text/javascript" ></script>

        {% block phpToJs %}
            <script type="text/javascript">
                CMS.invictusFolder = "{{ invictusKernel.invictusFolder }}";
                Tree.jstreeOptions.json_data.ajax.url = '/' + CMS.invictusFolder + '/get-jstree-children',
                CMS.app = "{{ invictusKernel.appId }}";
                CMS.appLabel = "{{ invictusKernel.getCurrentApp().getLabel()|default('') }}";
                CMS.locale = "{{ invictusKernel.languageId }}";
                CMS.localeLabel = "{{ invictusKernel.getCurrentLanguage().getLabel()|default('') }}";
                CMS.lastUsedApp = "{{ app.session.get('lastUsedApp') }}";
                CMS.lastUsedLocale = "{{ app.session.get('lastUsedLocale') }}";
                CMS._locale = "{{ app.user.UILanguage }}";
                CMS.userALMTree = {{ invictusKernel.getUserALMTree(true)|raw }};
                CMS.userMALTree = {{ invictusKernel.getUserMALTree(true)|raw }};
                //console.info('ALM');
                console.dir(CMS.userALMTree);
                //console.info('MAL');
                console.dir(CMS.userMALTree);
                CMS.sessionLifetime = {{ invictusKernel.invictusSessionLifetime }};
                CMS.modulePath = "{{ invictusKernel.modulePath }}";
                CMS.listType = "{{ invictusKernel.getCurrentModule().getListType() }}";
                User.id = "{{ app.user.id }}";
                User.firstName = "{{ app.user.firstName }}";
                User.lastName = "{{ app.user.lastName }}";
                User.username = "{{ app.user.username }}";
                User.email = "{{ app.user.email }}";
                Module.tag = "{{ invictusKernel.getCurrentModule().getTag() }}";
                Module.label = "{{ invictusKernel.getModuleTranslation().getLabel() }}";
                Module.config = {{ invictusKernel.getCurrentModule().getConfig(true)|raw }};


                {% if invictusKernel.getGETParam('itemId') %}
                    Form.url = CMS.modulePath + '/update/{{ invictusKernel.getGETParam('itemId') }}';
                    $(document).trigger('loadUpdateForm');
                {% endif %}

                {% if invictusKernel.getGETParam('attachmentsOf') %}
                    CMS.openNestedModule('{{ invictusKernel.generateModulePath({'layout': 'nested', 'parentModuleTag': invictusKernel.moduleTag, 'parentItemId': invictusKernel.getGETParam('attachmentsOf'), 'moduleTag': 'attachment' }) }}');
                {% endif %}

                {% if invictusKernel.getGETParam('redirectFrom') %}
                    $(document).trigger('redirectFrom', {from:'{{ invictusKernel.getGETParam('redirectFrom') }}'});
                {% endif %}

                {% if invictusKernel.layout == 'nested' %}
                    parent.CMS.setFancyIframeHeight(360);
                    setInterval(
                        function(){
                            var height = $('#cms-table').height() + $('#cms-edit').height() + 0; // 75 sono i margin fra sopra #cms-table, sopra e sotto #cms-edit
                            parent.CMS.setFancyIframeHeight(height);
                           },
                        2500
                    );

                {% endif %}

                //console.log(CMS.userAppsLanguagesModulesTree);
                //console.dir(CMS.userModulesAppsLanguagesTree);

            </script>
        {% endblock %}
    </body>

</html>