{% extends 'InvictusCmsBundle::invictus.html.twig' %}

{% block bodyClass %}standard {{ invictusKernel.getCurrentModule().getListType() }}{% endblock bodyClass %}

{% use 'InvictusCmsBundle::topbar.html.twig' %}

{% use 'InvictusCmsBundle::app-selector.html.twig' %}

{% use 'InvictusCmsBundle::menu.html.twig' %}

{% use 'InvictusCmsBundle::container.html.twig' %}

{% use 'InvictusCmsBundle::footer.html.twig' %}

{% use 'InvictusCmsBundle::messages.html.twig' %}

{% block dialogs %}
    {% include 'InvictusCmsBundle::dialog-confirm.html.twig' %}
{% endblock dialogs %}

