{% extends 'InvictusCmsBundle::invictus.html.twig' %}

{% block bodyClass %}nested {{ invictusKernel.getCurrentModule().getListType() }}{% endblock bodyClass %}


{% use 'InvictusCmsBundle::container.html.twig' %}

{% use 'InvictusCmsBundle::footer.html.twig' %}

{% use 'InvictusCmsBundle::messages.html.twig' %}


{% block dialogs %}
    {% include 'InvictusCmsBundle::dialog-confirm.html.twig' %}
{% endblock dialogs %}