{% block menu %}
<div id="cms-menu">

    <div class="logo-wrapper">
    </div>

    <nav>
        <ul>
            <li>
                <a href="#" style="background-image:url(/bundles/invictuscms/images/icons/loading_FFF.gif);padding-left:36px;" class="loading">&nbsp;</a>
            </li>
        </ul>

    </nav> <!-- #cms-menu end -->

    <div class="shadow"></div>

</div>
{% endblock menu %}