{% block table %}
    Empty twig block table in InvictusCmsBundle::module-ajax.html.twig
{% endblock table %}

{% block edit %}
    Empty twig block edit in InvictusCmsBundle::module-ajax.html.twig
{% endblock edit %}


