{% extends app.request.xmlHttpRequest ? 'InvictusCmsBundle::module-ajax.html.twig' : 'InvictusCmsBundle::layout-' ~ invictusKernel.getRequestAttribute('layout') ~ '.html.twig' %}

{% form_theme form with 'InvictusCmsBundle:Form:invictus_form_div_layout.html.twig' %}

{% use 'InvictusCmsBundle::topbar.html.twig' %}

{% use 'InvictusCmsBundle::app-selector.html.twig' %}

{% use 'InvictusCmsBundle::table.html.twig' %}
{% use 'InvictusCmsBundle::tree.html.twig' %}

{% use 'InvictusCmsBundle::edit.html.twig' %}

{% use 'InvictusCmsBundle::messages.html.twig' %}


