<fieldset id="{{ key  }}">
    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {% for key, widget in tabConfig.widgets %}
        {% if widget.enabled %}
            {{ include(widget.view, {'key': key, 'widget': widget}) }}
        {% endif %}
    {% endfor %}

{% if invictusKernel.environment == 'dev' %}
<div class="fieldbox w50">
<div class="tab-debug">
<pre>
<b>Config tab “{{ key }}”</b>:

{# dump(tabConfig) #}
</pre>
</div>
</div>
{% endif %}
</fieldset>