<table>
    <thead>
        <tr>
            {% for header in headers %}
                <td>{{ header }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.label }}</td>
            <td>{{ row.enabled }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>