{% block table %}

{% if invictusKernel.getCurrentModule().getListType() == 'table' %}
    {% set config = invictusKernel.getCurrentModule().getConfig(false) %}

    <div id="cms-table">

        <div class="heading" style="display:none">

            <div class="button caption pull-left">
                <span class="{{ invictusKernel.module.getIcon() }} module-icon"></span>
                <span class="label">
                    {{ invictusKernel.getModuleTranslation().getLabel() }}
                </span>
            </div>

            <div class="separator pull-left">&nbsp;</div>

            <div class="button pull-right">
                <a href="#" id="cms-table-toggler" class="img toggler">
                    <span class="icomoon14-caret-up"></span>
                </a>
            </div>

            <div class="separator pull-right">&nbsp;</div>

            {% if (not config.module.MA and config.module.ML) %}

                <div class="locale-selector pull-right">
                    <ul>
                        {% for language in invictusKernel.getUserLanguages(invictusKernel.moduleTag) %}
                            {% set selLanguage = (language.id == invictusKernel.languageId) ? 'class="sel"' : "" %}
                            <li {{ selLanguage|raw }}>
                                <a href="{{ invictusKernel.generateModulePath({'locale': language.id }) }}">
                                    <img src="{{ asset('/bundles/invictuscms/images/flags/' ~ language.icon) }}" alt="{{ language.label }}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="separator pull-right">&nbsp;</div>

            {% elseif(config.module.MA and config.module.ML) %}

                <div class="locale-selector pull-right">
                    <ul>
                        {% for language in invictusKernel.getUserMALTree[invictusKernel.moduleTag]['apps'][invictusKernel.appId]['languages'] %}
                            {% set selLanguage = (language.id == invictusKernel.languageId) ? 'class="sel"' : "" %}
                            <li {{ selLanguage|raw }}>
                                <a href="{{ invictusKernel.generateModulePath({'locale': language.id }) }}">
                                    <img src="{{ asset('/bundles/invictuscms/images/flags/' ~ language.icon) }}" alt="{{ language.label }}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="separator pull-right">&nbsp;</div>

            {% endif %}

        </div>

        <div class="wrapper">

            <table id="jqGrid">
            </table>
            <div id="pager">
            </div>

        </div>

    </div> <!-- end #cms-table -->
{% endif %}

{% endblock table %}