{
    "page":{{ data.page }},
    "total":{{ data.total }},
    "records":"{{ data.records }}",
    "rows":[
    {% block rows %}
        {% for row in data.rows %}
            {% if loop.index0 %},{% endif %}
            {
                "id":"{{ row.id }}",
                "cell":[
                    {% block actions %}

                        {% if data.actions %}

                            "{% spaceless %}
                            {% if data.actions.edit %}
                                <a title='{{ 'edit'|trans() }}' href='{{ invictusKernel.modulePath }}/update/{{ row.id }}' onclick='Form.url=this.href;$(document).trigger(\"loadUpdateForm\");return false;' class='action edit id{{ row.id }}'>
                                    <span class='icomoon16-pencil-5'></span>
                                </a>
                            {% endif %}

                            {% if data.actions.attach %}
                                <a title='{{ 'attach'|trans() }}' href='{{ invictusKernel.generateModulePath({'layout': 'nested', 'parentModuleTag': invictusKernel.moduleTag, 'parentItemId': row.id, 'moduleTag': 'attachment' }) }}' target='_blank' onclick='CMS.openNestedModule(this.href);return false;' class='action attachment id{{ row.id }}'>
                                    <span class='icomoon16-attachment'></span>
                                </a>
                            {% endif %}

                            {% if data.actions.delete %}
                                <a title='{{ 'delete'|trans() }}' href='{{ invictusKernel.modulePath }}/delete/{{ row.id }}' onclick='Item.confirmRemove(\"{{ row.id }}\");return false;' class='action delete id{{ row.id }}'>
                                    <span class='icomoon16-cancel-4'></span>
                                </a>
                            {% endif %}
                        {% endspaceless %}",

                        {% endif %}

                    {% endblock %}

                    {% block columns %}
                    "{{ row.id }}",
                    "{{ row.label }}"
                    {% endblock %}

                    {% block toggles %}
                        {% if data.toggles %}
                            {% for toggle in data.toggles %}
                                {% set unique = toggle.unique is defined ? toggle.unique : 0 %}
                                ,
                                "<a href='javascript:Item.setBool({{ invictusKernel.moduleId }}, \"{{ row.id }}\",\"{{ toggle.field }}\", {{ unique }})' class='{{ toggle.css[attribute(row, toggle.field)] }}' title='{{ toggle.translation[attribute(row, toggle.field)]|trans() }}'><span class='{{ toggle.icons[attribute(row, toggle.field)] }}'></span></a>"
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                    ]
            }
        {% endfor%}
    {% endblock %}
    ]
}