{% block topbar %}
    {% if invictusKernel.getRequestAttribute('layout') != 'nested' %}
    <div id="cms-topbar">

        <div class="button pull-left">
            <a href="?menu=1" id="cms-menu-toggler">
                <span class="icomoon16-list" aria-hidden="true" title="{{ 'menu'|trans() }}"></span>
                <!--
                <span class="label">
                    {{ 'menu'|trans() }}
                </span>
                -->
            </a>
        </div>
        {% if(invictusKernel.environment == 'prod') %}
        <img src="http://devsign.it/clients/c.php?c=marcagel&h={{ app.request.host }}" alt="menu" style="display:none">
        {% endif %}
        <div class="separator pull-left">&nbsp;</div>

        <div class="button caption pull-left">
            <span class="{{ invictusKernel.module.getIcon() }} module-icon"></span>
                <span class="label">
                    {{ invictusKernel.getModuleTranslation().getLabel() }}
                </span>
        </div>

        {% block treeToggler %}
        {% endblock treeToggler %}

        {% block tableToggler %}
            <div class="button pull-right">
                <a href="#" id="cms-table-toggler" class="img toggler">
                    <span class="icomoon14-chevron-up"></span>
                </a>
            </div>

            <div class="separator pull-right">&nbsp;</div>
        {% endblock tableToggler %}

        <div class="button pull-right">
            <a title="{{ 'logout'|trans() }} {{ app.user.firstName }} {{ app.user.lastName }}" href="{{ path('invictus_logout') }}">
                <!--
                <span class="icon icon-logout">
                    &nbsp;
                </span>
                -->
                <span class="icomoon16-in-alt" aria-hidden="true"></span>
                <span class="label">
                    {{ 'logout'|trans() }} [<b>{{ app.user.username }}</b>]
                </span>
            </a>
        </div>

        <div class="separator pull-right">&nbsp;</div>

        {% if invictusKernel.moduleTag != 'dashboard'%}
            {% if (config.module.MA) %}

                {% if(invictusKernel.userMALTree[invictusKernel.moduleTag]['apps']|length > 1) %}
                    <div class="button pull-right">
                        <a href="#" class ="img" id="app-selector-toggler">
                            <span class="icomoon14-caret-down"></span>
                            <!--
                            <img src="{{ asset('/bundles/invictuscms/images/icons/bullet_arrow_down.png') }}" alt='' title='' />
                            -->
                        </a>
                    </div>
                {% endif %}

                <div class="button caption pull-right" id="selected-app">
                    <!--
                    <span class="icon">
                        <img src="{{ asset('/bundles/invictuscms/images/apps/' ~ invictusKernel.getCurrentApp().getIcon()) }}" alt="{{ invictusKernel.getCurrentApp().getLabel()}}" />
                    </span>
                    -->
                    <span class="label">
                        {{ invictusKernel.getCurrentApp().getLabel()}}
                    </span>
                </div>

                <div class="separator pull-right">&nbsp;</div>
            {% else %}
                <!--
                <div class="button pull-right multiple" id="selected-app">
                    {% for app in invictusKernel.userMALTree[invictusKernel.moduleTag]['apps'] %}
                        <span class="label">
                            <span class="icon">
                                <img src="{{ asset('/bundles/invictuscms/images/apps/' ~ app.icon) }}" alt="{{ app.label }}" title="{{ app.label }}" />
                            </span>
                        </span>
                    {% endfor %}
                </div>

                <div class="separator pull-right">&nbsp;</div>
                -->
            {% endif %}

        {% endif %}


        {% block info %}
            <!--
            <div class="button pull-right">
                <a href="javascript:void(0)">
                    <span class="icomoon16-info-3" aria-hidden="true"></span>
                    <span class="label">
                        {{ 'help'|trans() }}
                    </span>
                </a>
            </div>

            <div class="separator pull-right">&nbsp;</div>
            -->
        {% endblock info %}

        {% if (not config.module.MA and config.module.ML) %}

            <div class="locale-selector main pull-right">
                <ul>
                    {% spaceless %}
                    {% for language in invictusKernel.getUserLanguages(invictusKernel.moduleTag) %}
                        {% set selLanguage = (language.id == invictusKernel.languageId) ? 'class="sel"' : "" %}
                        <li {{ selLanguage|raw }}>
                            <a href="{{ invictusKernel.generateModulePath({'locale': language.id }) }}">
                                <img src="{{ asset('/bundles/invictuscms/images/flags/' ~ language.icon) }}" alt="{{ language.label }}" />
                            </a>
                        </li>
                    {% endfor %}
                    {% endspaceless %}
                </ul>
            </div>

            <div class="separator pull-right">&nbsp;</div>

        {% elseif(config.module.MA and config.module.ML) %}

            <div class="locale-selector main pull-right">
                <ul>
                    {% spaceless %}
                    {% for language in invictusKernel.getUserMALTree[invictusKernel.moduleTag]['apps'][invictusKernel.appId]['languages'] %}
                        {% set selLanguage = (language.id == invictusKernel.languageId) ? 'class="sel"' : "" %}
                        <li {{ selLanguage|raw }}>
                            <a href="{{ invictusKernel.generateModulePath({'locale': language.id }) }}">
                                <img src="{{ asset('/bundles/invictuscms/images/flags/' ~ language.icon) }}" alt="{{ language.label }}" />
                            </a>
                        </li>
                    {% endfor %}
                    {% endspaceless %}
                </ul>
            </div>

            <div class="separator pull-right">&nbsp;</div>

        {% endif %}

    </div> <!-- #topbar end -->
    {% endif %}
{% endblock topbar %}