{% block treeToggler %}
{#
{% if invictusKernel.getCurrentModule().getListType() == 'tree' %}
<div class="button pull-left">
    <a href="?tree=1" id="cms-tree-toggler">
                    <span class="icon icon-tree">
                        &nbsp;
                    </span>
        &nbsp;{{ 'tree'|trans() }}
    </a>
</div>

<div class="divider pull-left">&nbsp;</div>
{% endif %}
#}
{% endblock treeToggler %}

{% block tree %}

{% if invictusKernel.getCurrentModule().getListType() == 'tree' %}
    {% set config = invictusKernel.getCurrentModule().getConfig(false) %}

    <div id="cms-tree">

        <div class="heading" style="display:none">

            <div class="button caption pull-left">
                <span class="{{ invictusKernel.module.getIcon() }}"></span>
                <span class="label">
                    {{ invictusKernel.getModuleTranslation().getLabel() }}
                </span>
            </div>

            <div class="divider pull-left">&nbsp;</div>

            {% if (not config.module.MA and config.module.ML) %}

                <div class="locale-selector pull-right">
                    <ul>
                        {% for language in invictusKernel.getUserLanguages(invictusKernel.moduleTag) %}
                            {% set selLanguage = (language.id == invictusKernel.languageId) ? 'class="sel"' : "" %}
                            <li {{ selLanguage|raw }}>
                                <a href="{{ invictusKernel.generateModulePath({'locale': language.id }) }}">
                                    <img src="{{ asset('/bundles/invictuscms/images/flags/' ~ language.icon) }}" alt="{{ language.label }}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="divider pull-right">&nbsp;</div>

            {% elseif(config.module.MA and config.module.ML) %}

                <div class="locale-selector pull-right">
                    <ul>
                        {% for language in invictusKernel.getUserMALTree[invictusKernel.moduleTag]['apps'][invictusKernel.appId]['languages'] %}
                            {% set selLanguage = (language.id == invictusKernel.languageId) ? 'class="sel"' : "" %}
                            <li {{ selLanguage|raw }}>
                                <a href="{{ invictusKernel.generateModulePath({'locale': language.id }) }}">
                                    <img src="{{ asset('/bundles/invictuscms/images/flags/' ~ language.icon) }}" alt="{{ language.label }}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="divider pull-right">&nbsp;</div>

            {% endif %}

        </div>

        <div class="wrapper">
        </div>

    </div> <!-- #cms-tree-sidebar end -->
{% endif %}
{% endblock tree %}