<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Invoice</title>
    <link rel="stylesheet" href="{{ asset('/bundles/invictuspurchase/css/invoice.css') }}" />

</head>
<body>

    <div id="wrapper">

        <header>
            <img src="/bundles/invictuspurchase/images/invoice_header.png" alt="Hide&amp;Jack" >
        </header>

        <h1>
            Date: {{ 'now'|date('d/m/Y') }} <br>
            Invoice: {{ purchase.invoiceNumber }} <br>
            Order: {{ purchase.label }} <br>
            PayPal transaction id: {{ purchase.paypalId }}
        </h1>

        <section id="buyer">
            <address>
            <span>{{ purchase.fkAuthUser.firstName }} {{ purchase.fkAuthUser.lastName }}</span><br>
            san tiziano 45<br>
            35010 trebaseleghe (padova)<br>
            IT<br>
            </address>
        </section>

        <table id="items">
            <thead>
            <tr>
                <th>Item</th>
                <th>Code</th>
                <th>Unit price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for item in purchase.purchaseItems %}
                {% set subtotal = item.price * item.quantity %}
                <tr>
                    <td>{{ item.label }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.price }} €</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ subtotal}} €</td>
                </tr>
                {% set total = total + subtotal %}
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Net amount</td>
                {% set net = (total/1.22)|round(2) %}
                <td>{{ net }} €</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Iva (22%)</td>
                <td>{{ total - net }} €</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>TOTAL</b></td>
                <td><b>{{ total}} €</b></td>
            </tr>
            </tbody>
        </table>

        <footer>
            <img src="/bundles/invictuspurchase/images/invoice_footer.png" alt="Hide&amp;Jack" >
        </footer>
    </div>

</body>
</html>