<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>
    
    {{ form_row(form.enabled) }}
    
    {{ form_row(form.id, { 'fieldboxClass' : 'first w25'}) }}
    
    {{ form_row(form.label, { 'fieldboxClass' : 'first w50'}) }}

    {{ form_row(form.position, { 'fieldboxClass' : 'first w25'}) }}

    {{ form_row(form.icon, { 'fieldboxClass' : 'w25'}) }}

    {{ form_row(form.logo, { 'fieldboxClass' : 'w25'}) }}

    {{ form_row(form.highlighted) }}
    
    {{ form_row(form.deleted) }}
    
    {{ form_rest(form) }}

    <div class="tab-debug">
        <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
    </div>

</fieldset>