{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}



{% block columns %}
"{{ row.id }}",
"{{ row.label }}"{#,
"<img src=\"{{ asset('/bundles/invictuscms/images/apps/' ~ row.icon) }}\" alt=\"{{ row.label }}\" title=\"{{ row.label }}\" />"#}
{% endblock %}