<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {{ form_row(form.enabled) }}

    {#
    {{ form_row(form.parent, { 'fieldboxClass' : 'first w25' }) }}
    #}

    <div class="fieldbox first w50">
        {% set parentId = action == 'update' ? item.parent.id|default(0) : 0  %}
        {% set options = invictusKernel.repositoryProxy('InvictusCms', 'Category', 'renderOptionsTree', [ 1, application, locale, {selId: parentId}]) %}
        <label for="category_parent">{{ 'parent'|trans({},'category') }}</label>
        <select class="select2" name="category[parent]" id="category_parent" style="width: 100%;">
            <option selected="selected" value="">{{ 'newCategory'|trans({},'category') }}</option>
            {{ options|raw }}
        </select>
    </div>

    {# form_row(form.tag, { 'fieldboxClass' : 'first w25' }) #}


    {% for translation in form.translations %}
        {{ form_row(translation.label, { 'fieldboxClass' : 'first w50 label', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {#
    {% for translation in form.translations %}
        {{ form_row(translation.abstract, { 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}
    #}

    {% for translation in form.translations %}
        {{ form_row(translation.body, { 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {{ form_row(form.customVars, { 'fieldboxClass' : 'first w100 childrenAttributes' }) }}

    {{ form_row(form.deleted) }}

    {% for translation in form.translations %}
        {{ form_row(translation.fkLanguage) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.fkBase) }}
    {% endfor %}

    <!--
    <div class="tab-debug">
        <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
    </div>
    -->

</fieldset>