<link href="{{ asset('/bundles/invictuscms/libs/noty/css/jquery.noty.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/libs/tipsy/css/tipsy.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/libs/select2/select2.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/libs/iCheck/skins/line/green.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/libs/iCheck/skins/square/blue.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/libs/fancyBox/source/jquery.fancybox.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/libs/jquery.jqGrid-4.4.5/css/ui.jqgrid.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/libs/jquery-ui-1.10.2.custom/css/invictus/jquery-ui-1.10.2.custom.min.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/icomoon/16/style.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/icomoon/14/style.css') }}" type="text/css" rel="stylesheet" />

<link href="{{ asset('/bundles/invictuscms/css/invictus.css') }}" type="text/css" rel="stylesheet" />