<link href="{{ asset('/bundles/invictuscms/css/invictus.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/icomoon/16/style.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/icomoon/14/style.css') }}" type="text/css" rel="stylesheet" />

<link href="{{ asset('/bundles/invictuscms/libs/noty/css/jquery.noty.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('/bundles/invictuscms/libs/tipsy/css/tipsy.css') }}" type="text/css" rel="stylesheet" />