<!DOCTYPE html>
<html>

<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>INVICTUS | login</title>
        <meta name="author" content="Matteo Poile | devsign">
        <meta name="description" content="INVICTUS CMS" />
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="noindex">

        {% block stylesheets %}
        <link href="{{ asset('/bundles/invictuscms/css/invictus.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/invictuscms/icomoon/16/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/invictuscms/icomoon/14/style.css') }}" type="text/css" rel="stylesheet" />

        <link href="{{ asset('/bundles/invictuscms/libs/noty/css/jquery.noty.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/invictuscms/libs/tipsy/css/tipsy.css') }}" type="text/css" rel="stylesheet" />

        {% endblock stylesheets %}

        <script src="{{ asset('/bundles/invictuscms/libs/modernizr-2.6.2.min.js') }}"></script>

    {% endblock head %}
</head>

<body>

    <div id="login">

        <h2 class="heading">
            <div class="button new pull-left">
                    <span class="icomoon16-key"></span>
                    &nbsp;Login
            </div>

            <div class="divider pull-left">&nbsp;</div>
        </h2>

        <div class="wrapper">
            <form action="{{ path('invictus_login_check') }}" method="post">

                <div class="fieldbox">
                    <label for="username">{{ 'username'|trans() }}:</label>
                    <input type="text" id="username" class="input" name="invictus_username" value="{{ last_username }}" />
                </div>

                <div class="fieldbox">
                    <label for="password">{{ 'password'|trans() }}:</label>
                    <input type="password" id="password" class="input" name="invictus_password" autocomplete="on" />
                    <span class="icomoon14-eye-close" aria-hidden="true" id="show-password"></span>
                </div>
                <!--
                <input type="hidden" name="_target_path" value="/invictus/dashboard" />
                -->
                <input name="submit" id="submit" class="submit login" type="submit" value="{{ 'login'|trans() }}" accesskey="e" tabindex="3"/>

            </form>

        </div>

    </div> <!-- #login -->


    <script src="{{ asset('/bundles/invictuscms/libs/jquery-1.9.1.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('/bundles/invictuscms/libs/jquery.easing.1.3.js') }}" type="text/javascript" ></script>

    <script src="{{ asset('/bundles/invictuscms/libs/noty/js/jquery.noty.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('/bundles/invictuscms/libs/jquery.validate.min.js') }}" type="text/javascript" ></script>

    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function(){

            $('#username').focus();

            $('#show-password').click(function(){
                if($(this).hasClass('icomoon14-eye-close')){
                    $(this).prop('class', 'icomoon14-eye-open');
                    var pwdVal = $('#password').val();
                    $('#password').remove();
                    $('.fieldbox').eq(1).append('<input name="invictus_password" id="password" class="input" type="text" maxlength="50" accesskey="p" tabindex="2" autocomplete="off" />');
                    $('#password').val(pwdVal);
                }else{
                    $(this).prop('class', 'icomoon14-eye-close');
                    var pwdVal = $('#password').val();
                    $('#password').remove();
                    $('.fieldbox').eq(1).append('<input name="invictus_password" id="password" class="input" type="password" maxlength="50" accesskey="p" tabindex="2" autocomplete="off" />');
                    $('#password').val(pwdVal);
                }
            });

            $("form").validate({
                rules:{
                    invictus_username:{
                        required : true,
                        minlength: 4
                    },
                    invictus_password:{
                        required : true,
                        minlength: 8
                    }
                },
                errorClass: "error",
                onkeyup: false,
                focusInvalid: false,
                highlight: function(element, errorClass) {
                    $(element).parent().addClass(errorClass);
                    $('#login').css({left:'-50px'}).stop().animate({left:0}, 750, 'easeOutElastic');
                },
                unhighlight: function(element, errorClass) {
                    $(element).parent().removeClass(errorClass);
                },
                errorPlacement: function(error, element) {} //workaround per non far comparire i label.error
            });

            {% if error %}
            notify("{{ error.message|trans()|raw }}", "alert");
            {% endif %}

        });

        function notify(text, type){
            $.noty.clearQueue();
            $.noty.closeAll();
            noty({
                "text":			text,
                "layout":		"top",
                "type":			type,
                "textAlign":	"center",
                "easing":		"easeInOutCubic",
                "animateOpen":	{"height":"toggle"},
                "animateClose":	{"height":"toggle"},
                "speed":		"500",
                "timeout":		"99999",
                "closable":		true,
                "closeOnSelfClick":true
            });
        }

        //]]>
    </script>

</body>