{
"page": {{ page }},
"total": {{ total }},
"records": {{ records }},
"rows":[
    {% for row in data %}
        {% if loop.index > 1 %},{% endif %}
        {"id" : "{{ row.id }}",
        "cell":[
        {#"<a title='{{ 'edit'|trans() }}' href='{{ invictusKernel.modulePath }}/update/{{ row.id }}' onclick='Form.url=this.href;$(document).trigger(\"loadUpdateForm\");return false;' class='action edit id{{ row.id }}'><span class='icomoon16-pencil-5'></span></a>",#}
        "{{ row.id }}",
        "{{ row.first_name }} {{ row.last_name }}",
        "{{ row.username }}",
        "{{ row.email }}",
        {% set class = row.enabled ? 'enabled' : 'disabled' %}
        {% set trans = row.enabled ? 'enabled' : 'disabled' %}
        {% set icon = row.enabled ? 'icomoon16-checkmark-3' : 'icomoon16-minus-3' %}
        "<a href='javascript:Item.setBool({{ invictusKernel.moduleId }}, \"{{ row.id }}\",\"enabled\", 0)' class='{{ class }}' title='{{ trans|trans() }}'><span class='{{ icon }}'></span></a>"
        ]}
    {% endfor %}
]
}
