
    <div id="medialibrary">

        <div class="filters">

            <div class="selected">
                <ul class="attachments">
                </ul>

                <div class="fieldbox">
                    <input name="submit" type="submit" class="input submit" value="Associa allegati selezionati" data-module-id="{{ moduleId }}" data-item-id="{{ itemId }}">
                </div>

            </div>

            <div class="search">

                <input id="moduleId" name="moduleId" value="" type="hidden">
                <input id="itemId" name="itemId" value="" type="hidden">

                <div class="fieldbox" style="display:none">
                    <label for="module">Modulo</label>
                    <select id="medialibraryModule" name="module" class="module select2" style="width:100%">
                        <option value="17">Articoli</option>
                        <option value="19">Caratteristiche</option>
                        <option value="22">Cataloghi</option>
                        <option value="18">Collezioni</option>
                        <option value="27">Designer</option>
                        <option value="12">News</option>
                        <option value="29">Newsletter</option>
                        <option value="28">Press Room</option>
                        <option value="13" selected="selected">Prodotti</option>
                        <option value="26">Progetti</option>
                        <option value="5">Struttura app</option>
                        <option value="20">Tipologie</option>
                    </select>
                </div>

                <div class="fieldbox">
                    <label for="attachmentType">Tipo di allegato</label>
                    <select name="attachmentType" class="type select2" style="width:100%">
                        <option value="0">Tutti</option>
                        {% for attachment in attachments %}
                            <option value="{{ attachment.id }}">{{ attachment.translations[0].label }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="fieldbox">
                    <label for="text">Nome del file o didascalia</label>
                    <input name="text" class="text" class="input" value="">
                </div>

                <div class="fieldbox" style="margin-bottom:0">
                    <input name="submit" type="submit" class="input submit" value="Cerca">
                </div>

            </div>

        </div> <!-- end #filters -->

        <div class="info">
            <p>

            </p>
        </div>

        <div class="results">

            <ul class="attachments">
            </ul>

        </div>

    </div>

<script type="text/javascript">

    $('.select2').select2();

    /*
    $('#module').change(function(){
        var module = $('#module option:selected').attr('value');
        $.post('getAttachmentType.php', {module: module}, function(data){
            $('#attachmentType').html(data);
            $('#attachmentType').trigger("liszt:updated");
        });
    });
    $('#module').trigger('change');
    */

    $('#medialibrary .search .submit').click(function(){
        var moduleId = $('#medialibrary .module option:selected').attr('value');
        var typeId = $('#medialibrary .type option:selected').attr('value');
        var text = $('#medialibrary .text').val();
        //alert(module + ' - ' + type + ' - ' + text);
        $('.results').addClass('loading');
        $('.results .attachments').animate({opacity:0.1}, 350);
        $.post('/invictus/{{ locale }}/medialibrary/results', {moduleId: moduleId, typeId: typeId, text: text}, function(data){
            $('.results').removeClass('loading');
            $('.results .attachments').animate({opacity:1}, 350);
            $('.results .attachments').html(data);
            $('#medialibrary .info').css({display:'block'}).children('p').text($('.results li').length + ' allegati trovati').css({display:'block'});
        });
    });

    $('#medialibrary .selected .submit').click(function(){
        $('#medialibrary').animate({opacity:0.3}, 350);
        var moduleId = $(this).data('module-id');
        var itemId = $(this).data('item-id');
        var selected = new Array();
        var i = 0;
        $('#medialibrary .selected li').each(function(){
            var rel = $(this).attr('rel').split('-');
            selected[i] = rel[0];
            i++;
        });
        //$('#selected .attachments').empty();
        console.dir(selected);
        $.post('/invictus/{{ locale }}/medialibrary/connect/' + moduleId + '/' + itemId, {attachments: selected}, function(data){
            CMS.notify(data);
            if(data.type == 'success'){
                $('#medialibrary .filters .selected').css({display:'none'});
                $('#medialibrary .filters .attachments').empty();
            }
            $(document).trigger('reloadTable')
            $(document).trigger('itemSaved');
            $('#cms-edit .wrapper').empty();
            $('#cms-edit').removeClass();
        });
    });

    $('.results').on('click', 'p a', function(e){
        e.stopPropagation();
    });

    $('.results').on('click', 'li', function(){
        var rel = $(this).attr('rel');
        $('.filters li[rel="' + rel + '"]').remove();
        $(this).clone().prependTo('.filters .attachments');
        $(this).css({display:'none'});
        $('.filters .selected').css({display:'block'});
    });

    $('.filters').on('click', '.action', function(){
        var rel = $(this).parent().attr('rel');
        console.log(rel);
        $(this).parent().remove();
        $('.results li[rel="' + rel + '"]').css({display:'block'});
        if($('.selected .attachments li').length < 1){
            $('.selected').css({display:'none'});
        }
    });

</script>