<!--
<li rel="1576-21">
    <img src="/uploads/1471947_10151791841872227_805626732_n.jpg" class="preview">
    <p>
        <span class="module">Prodotti</span>
        <span class="label">Prodotto molto bello</span>
        <span class="filename">sp_clavius_tobacco.j</span>
        <span class="size">263 Kb</span>
    </p>
    <div class="action">
        <span class="icomoon16-checkmark add"></span>
        <span class="icomoon16-cancel-4 delete"></span>
    </div>
</li>
<li rel="1576-22">
    <img src="/uploads/p.jpg" class="preview">
    <p>
        <span class="module">Prodotti</span>
        <span class="label">Prodotto molto bello</span>
        <span class="filename">sp_clavius_tobacco.j</span>
        <span class="size">263 Kb</span>
    </p>
    <div class="action">
        <span class="icomoon16-checkmark add"></span>
        <span class="icomoon16-cancel-4 delete"></span>
    </div>
</li>
<li rel="1576-23">
    <img src="/uploads/1471947_10151791841872227_805626732_n.jpg" class="preview">
    <p>
        <span class="module">Prodotti</span>
        <span class="label">Prodotto molto bello</span>
        <span class="filename">sp_clavius_tobacco.j</span>
        <span class="size">263 Kb</span>
    </p>
    <div class="action">
        <span class="icomoon16-checkmark add"></span>
        <span class="icomoon16-cancel-4 delete"></span>
    </div>
</li>
<li rel="1576-24">
    <img src="/uploads/p.jpg" class="preview">
    <p>
        <span class="module">Prodotti</span>
        <span class="label">Prodotto molto bello</span>
        <span class="filename">sp_clavius_tobacco.j</span>
        <span class="size">263 Kb</span>
    </p>
    <div class="action">
        <span class="icomoon16-checkmark add"></span>
        <span class="icomoon16-cancel-4 delete"></span>
    </div>
</li>
<li rel="1576-25">
    <img src="/uploads/1471947_10151791841872227_805626732_n.jpg" class="preview">
    <p>
        <span class="module">Prodotti</span>
        <span class="label">Prodotto molto bello</span>
        <span class="filename">sp_clavius_tobacco.j</span>
        <span class="size">263 Kb</span>
    </p>
    <div class="action">
        <span class="icomoon16-checkmark add"></span>
        <span class="icomoon16-cancel-4 delete"></span>
    </div>
</li>
<li rel="1576-26">
    <img src="/uploads/p.jpg" class="preview">
    <p>
        <span class="module">Prodotti</span>
        <span class="label">Prodotto molto bello</span>
        <span class="filename">sp_clavius_tobacco.j</span>
        <span class="size">263 Kb</span>
    </p>
    <div class="action">
        <span class="icomoon16-checkmark add"></span>
        <span class="icomoon16-cancel-4 delete"></span>
    </div>
</li>
<li rel="1576-27">
    <img src="/uploads/1471947_10151791841872227_805626732_n.jpg" class="preview">
    <p>
        <span class="module">Prodotti</span>
        <span class="label">Prodotto molto bello</span>
        <span class="filename">sp_clavius_tobacco.j</span>
        <span class="size">263 Kb</span>
    </p>
    <div class="action">
        <span class="icomoon16-checkmark add"></span>
        <span class="icomoon16-cancel-4 delete"></span>
    </div>
</li>
<li rel="1576-28">
    <img src="/uploads/p.jpg" class="preview">
    <p>
        <span class="module">Prodotti</span>
        <span class="label">Prodotto molto bello</span>
        <span class="filename">sp_clavius_tobacco.j</span>
        <span class="size">263 Kb</span>
    </p>
    <div class="action">
        <span class="icomoon16-checkmark add"></span>
        <span class="icomoon16-cancel-4 delete"></span>
    </div>
</li>
-->

{% for attachment in attachments %}

    <li rel="{{ attachment.id }}-{{ attachment.fkModule.id }}">
        {% if('image' in attachment.mime and attachment.filename|length > 3) %}
            <img src="{{ attachment.filename | imagine_filter('invictus_medialibrary') }}" class="preview">
        {% else %}
            <div class="preview">
                <span class="{{ attachment.fkAttachmentTypology.icon }}"></span>
            </div>
        {% endif %}
        <p>
            <span class="module">{{ attachment.fkModule.tag }}</span>
            <span class="label" title="{{ attachment.translations[0].label|default('') }}">{{ attachment.translations[0].label|default('no label') }}</span>
            {% if('http' in attachment.translations[0].link|default('no link') and attachment.translations[0].link|default('no link')|length > 11) %}
                <span class="filename"><a href="{{ attachment.translations[0].link|default('#') }}" title="{{ attachment.translations[0].link|default('') }}" target="_blank">{{ attachment.translations[0].link }}</a></span>
            {% elseif (attachment.filename|length > 3) %}
                <span class="filename"><a href="/uploads/{{ attachment.filename }}" title="{{ attachment.filename }}" target="_blank">{{ attachment.filename }}</a></span>
                <span class="size">{{ attachment.size }} Kb</span>
            {% endif %}
        </p>
        <div class="action">
            <span class="icomoon16-checkmark add" title="[{{ attachment.id }}]"></span>
            <span class="icomoon16-cancel-4 delete"></span>
        </div>
    </li>

{% endfor %}