<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {{ form_row(form.fkApp) }}

    {{ form_row(form.enabled) }}

      <label style="padding-bottom:7px">Tipo di servizio</label>
      {{ form_row(form.type) }}

      <label style="padding-bottom:7px">Categoria di servizio</label>
      {{ form_row(form.installation) }}
      {{ form_row(form.mainteinance) }}

      <div class="fieldbox first w50">
        {% set parentId = action == 'update' ? item.parent.id|default(0) : 0  %}
        {% set options = invictusKernel.repositoryProxy('InvictusService', 'Service', 'renderOptionsTree', [ null, application, locale, {selId: parentId}]) %}
        <label for="service_parent">{{ 'parent'|trans({},'menu') }}</label>
        <select class="select2" name="service[parent]" id="service_parent" style="width: 100%;">
          <option selected="selected" value="">{{ 'newService'|trans({},'service') }}</option>
          {{ options|raw }}
        </select>
      </div>

     {% for translation in form.translations %}
         {{ form_row(translation.label, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

      {% for translation in form.translations %}
        {{ form_row(translation.abstract, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
      {% endfor %}

     {% for translation in form.translations %}
       {{ form_row(translation.what, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

     {% for translation in form.translations %}
         {{ form_row(translation.body, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

     {% for translation in form.translations %}
       {#{ form_row(translation.abstract2, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }#}
     {% endfor %}

     {% for translation in form.translations %}
       {{ form_row(translation.body2, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

     {% for translation in form.translations %}
       {{ form_row(translation.prices, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

     {{ form_row(form.northPrice, { 'fieldboxClass': 'first w25'}) }}

     {{ form_row(form.centralPrice, { 'fieldboxClass': 'w25'}) }}

     {{ form_row(form.southPrice, { 'fieldboxClass': 'w25'}) }}



      {{ form_row(form.extensionPrice, { 'fieldboxClass': 'first w25'}) }}


      {{ form_row(form.northDiscount, { 'fieldboxClass': 'first w25'}) }}

      {{ form_row(form.centralDiscount, { 'fieldboxClass': 'w25'}) }}

      {{ form_row(form.southDiscount, { 'fieldboxClass': 'w25'}) }}


      {{ form_row(form.northCCDiscount, { 'fieldboxClass': 'first w25'}) }}

      {{ form_row(form.centralCCDiscount, { 'fieldboxClass': 'w25'}) }}

      {{ form_row(form.southCCDiscount, { 'fieldboxClass': 'w25'}) }}


      {{ form_row(form.questions, { 'fieldboxClass': 'first w33'}) }}

     {% for translation in form.translations %}
         {{ form_row(translation.fkLanguage) }}
     {% endfor %}

     {% for translation in form.translations %}
         {{ form_row(translation.fkBase) }}
     {% endfor %}

    {{ form_row(form.deleted) }}

    {% if invictusKernel.environment == 'dev' %}
    <div class="tab-debug">
        <b>Config:</b><br>
        <br>
<pre>{# dump(tabConfig) #}</pre>
    </div>
    {% endif %}
</fieldset>