{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
{% set primary = row.type ? 'Primario' : 'Complementare' %}
{% set i = row.installation ? 'Installazione' : '' %}
{% set m = row.mainteinance ? 'Manutenzione' : '' %}
{% set label = row.parent.id|default(false) ? ' - ' ~ row.translations[0].label|default('...') : ' + ' ~ row.translations[0].label|default('...')  %}
"{{ row.id }}",
"<a href='{{ row.getUrl() }}' target='_blank'><span class='icomoon16-eye' title='{{ 'preview'|trans() }}'></span></a> <b>{{ i }} {{ m }}</b>) {{ label }}",
"Nord: {{ row.northPrice }}€ | Centro: {{ row.centralPrice }}€ | Sud: {{ row.southPrice }}€",

"{{ primary }}"
{% endblock %}