{% extends app.request.xmlHttpRequest ? 'InvictusCmsBundle::module-ajax.html.twig' : 'InvictusCmsBundle::layout-' ~ invictusKernel.getRequestAttribute('layout') ~ '.html.twig' %}


{% use 'InvictusCmsBundle::table.html.twig' %}
{% use 'InvictusCmsBundle::tree.html.twig' %}

{% use 'InvictusCmsBundle::edit.html.twig' %}


{% block dialogs %}
    {{ parent() }}
{% endblock dialogs %}


{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language={{ invictusKernel.languageId|default(invictusKernel.UILanguageId)|slice(0, 2) }}&amp;libraries=weather,panoramio,drawing"></script>
    <!--
    <script type="text/javascript" src="{{ asset('/bundles/invictuscms/libs/gmap3/gmap3.min.js') }}"></script>
    -->
{% endblock javascripts %}
