{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}


{% block columns %}
"{{ row.id }}",
"{{ row.translations[0].comName|default('')|striptags|raw }}",
"{{ row.translations[0].scName|default('')|striptags|raw }}",
"{{ row.famiglia|default('') }}",
"{{ row.ordine|default('') }}",
"{{ row.regno|default('') }}"
{% endblock %}