{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
    "{{ row.id }}",
    "{{ row.code }}",
    "{{ row.translations[0].label|default('') }} - {{ row.translations[0].selectText|default('?') }}",
    "{{ row.fkCategory.translations[0].label|default('') }}",
    {% set finalPrice = row.price/100*(100-row.discount) %}
    "{{ row.price|default(0) }}€ - {{ row.discount|default(0) }}% = <b>{{ finalPrice|round(2)|default(0) }}€</b>"
{% endblock %}