<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {{ form_row(form.fkApp) }}

    {{ form_row(form.enabled) }}

    <div class="fieldbox typology first w50">
        {% set fkCategory = action == 'update' ? item.fkCategory.id|default(0) : 0  %}
        {% set options = invictusKernel.repositoryProxy('InvictusCms', 'Category', 'renderOptionsTree', [53, application, locale, {selId: fkCategory}]) %}
        <label class="required" for="habitat_fkCategory">{{ 'category'|trans({},'category') }}</label>
        <select class="select2" required="required" name="habitat[fkCategory]" id="habitat_fkCategory" style="width: 100%;">
            <option selected="selected" disabled="disabled" value="">{{ 'selectCategory'|trans({},'category') }}</option>
            {% set fkCategory = action == 'update' ? 1 : 0  %}
            {{ options|raw }}
        </select>
    </div>

    {{ form_row(form.cod, {'fieldboxClass': 'first w25'}) }}
    {{ form_row(form.codiceN2K, {'fieldboxClass': 'w25'}) }}
    {{ form_row(form.color, { 'fieldboxClass': 'w25'}) }}
    {{ form_row(form.zIndex, { 'fieldboxClass': 'w25'}) }}


    {% for translation in form.translations %}
        {{ form_row(translation.descN2K, { 'fieldboxClass': 'first w33', 'locale' : translation.vars.value.fkLanguage }) }}
        {{ form_row(translation.scName, { 'fieldboxClass': 'w34', 'locale' : translation.vars.value.fkLanguage }) }}
        {{ form_row(translation.comName, { 'fieldboxClass': 'w33', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}


    {{ form_row(form.supLag, { 'fieldboxClass': 'first w34' }) }}
    {{ form_row(form.supLiito, { 'fieldboxClass': 'w33' }) }}
    {{ form_row(form.supSito, { 'fieldboxClass': 'w33' }) }}


    {% for translation in form.translations %}
        {{ form_row(translation.protLevelN2K, {'fieldboxClass': 'first w25', 'locale' : translation.vars.value.fkLanguage}) }}
    {% endfor %}


    {% for translation in form.translations %}
        {{ form_row(translation.descLevel1, { 'fieldboxClass': 'first w100', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}


    {% for translation in form.translations %}
        {{ form_row(translation.descLevel2, { 'fieldboxClass': 'first w100', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}


    {{ form_row(form.descLevelSc, { 'fieldboxClass': 'first w100' }) }}


    {% for translation in form.translations %}
        {{ form_row(translation.fkLanguage) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.fkBase) }}
    {% endfor %}

    {{ form_row(form.deleted) }}

    {% if invictusKernel.environment == 'dev' %}
    <div class="tab-debug">
        <b>Config:</b><br>
        <br>
        <pre>{# dump(tabConfig) #}</pre>
    </div>
    {% endif %}
</fieldset>