{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
    "{{ row.id }}",
    "{{ row.cod|default('') }}",
    "{{ row.translations[0].descN2K|default('')|striptags }}",
    "{{ row.fkCategory.translations[0].label|default('') }}",
    "<span style='width:16px;display:inline-block;border:1px solid #CCC;background:#{{ row.color|default('FFF') }}'>&nbsp;</span> &nbsp; &nbsp; {{ row.zIndex|default('1') }}"
{% endblock %}