<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {{ form_row(form.fkApp) }}

    {{ form_row(form.enabled) }}

    {% set relatedTemplates = invictusKernel.getRelatedElementsFromConfig([
                            { moduleId: 4, itemId: invictusKernel.moduleId, relationIndex: 'template-owning-1'},
                            { moduleId: 12 }, false
                        ])['data'] %}
    {% set templateDisplay = relatedTemplates|length > 1 ? '' : 'display:none' %}
    <div class="fieldbox first w25" style="{{ templateDisplay }}">
        <label class="required" for="page_fkTemplate">{{ 'template'|trans({}, 'page') }}</label>
        <select class="select2" name="page[fkTemplate]" id="page_fkTemplate" style="width: 100%;">
            {% set fkTemplateId = item.fkTemplate.id|default(null)  %}
            <!-- <option value="">{{ 'none'|trans() }}</option> -->
            {% for template in relatedTemplates %}
                {% set selected = template.id == fkTemplateId ? 'selected="selected"' : '' %}
                <option value="{{ template.id }}" {{ selected }}>{{  template.translations[0].label }}</option>
            {% endfor %}
        </select>
    </div>

    {% for translation in form.translations %}
     {{ form_row(translation.label, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {% for translation in form.translations %}
     {{ form_row(translation.abstract, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {% for translation in form.translations %}
     {{ form_row(translation.body, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {% for translation in form.translations %}
     {{ form_row(translation.fkLanguage) }}
    {% endfor %}

    {% for translation in form.translations %}
     {{ form_row(translation.fkBase) }}
    {% endfor %}

    {{ form_row(form.deleted) }}

    {% if invictusKernel.environment == 'dev' %}
    <div class="tab-debug">
        <b>Config:</b><br>
        <br>
<pre>{# dump(tabConfig) #}</pre>
    </div>
    {% endif %}
</fieldset>