{% extends app.request.xmlHttpRequest ? 'InvictusCmsBundle::module-ajax.html.twig' : 'InvictusCmsBundle::layout-' ~ invictusKernel.getRequestAttribute('layout') ~ '.html.twig' %}


{% use 'InvictusCmsBundle::table.html.twig' %}
{% use 'InvictusCmsBundle::tree.html.twig' %}

{% use 'InvictusCmsBundle::edit.html.twig' %}


{% block dialogs %}
    {{ parent() }}
{% endblock dialogs %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/invictuscms/libs/codemirror-3.12/lib/codemirror.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('/bundles/invictuscms/libs/codemirror-3.12/addon/lint/lint.css') }}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/invictuscms/libs/codemirror-3.12/lib/codemirror.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('/bundles/invictuscms/libs/codemirror-3.12/mode/javascript/javascript.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('/bundles/invictuscms/libs/jshint.js') }}"></script>
    <script src="{{ asset('/bundles/invictuscms/libs/jsonlint.js') }}"></script>
    <script src="{{ asset('/bundles/invictuscms/libs/codemirror-3.12/addon/lint/lint.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('/bundles/invictuscms/libs/codemirror-3.12/addon/lint/json-lint.js') }}" type="text/javascript" ></script>
{% endblock javascripts %}


