<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {{ form_row(form.enabled) }}

    {{ form_row(form.tag, { 'fieldboxClass' : 'first w25' }) }}


    {% for translation in form.translations %}
        {{ form_row(translation.label, { 'fieldboxClass' : 'first w50', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.abstract, { 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.body, { 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {{ form_row(form.icon, { 'fieldboxClass' : 'first w25' }) }}

    {{ form_row(form.type, { 'fieldboxClass' : 'w25' }) }}

    {{ form_row(form.allowedTypes, { 'fieldboxClass' : 'w25' }) }}

    {{ form_row(form.customJs, { 'fieldboxClass' : 'w25' }) }}

    {{ form_row(form.deleted) }}

    {% for translation in form.translations %}
        {{ form_row(translation.fkLanguage) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.fkBase) }}
    {% endfor %}

    <!--
    <div class="tab-debug">
        <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
    </div>
    -->

</fieldset>