{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
"{{ row.id }}",
"<span class='{{ row.icon }}'></span>&nbsp; {{ row.translations[0].label }}",
"{{ row.tag }}"
{% endblock %}