<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {{ form_row(form.enabled) }}

    {% for translation in form.translations %}
        {{ form_row(translation.label, { 'fieldboxClass' : 'first w50', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {{ form_row(form.tag, { 'fieldboxClass' : 'first w25' }) }}

    <!--
    {# set options = invictusKernel.getData([ { moduleId: 12, languageId: invictusKernel.UILanguageId, where: {'base.enabled': null}, params: {'enabled': null} }, false ])['data'] #}
    <div class="fieldbox w25">
        <label class="required" for="module_fkTemplate">{{ 'template'|trans({}, 'module') }}</label>
        <select class="select2" name="module[fkTemplate]" id="module_fkTemplate" style="width: 100%;">
            {# set fkTemplateId = item.fkTemplate.id|default(null)  #}
            <option value="">{{ 'none'|trans() }}</option>
            {# for option in options #}
                {# set selected = option.id == fkTemplateId ? 'selected="selected"' : '' #}
                <option value="{# option.id #}" {# selected #}>{# option.translations[2].label #}</option>
            {# endfor #}
        </select>
    </div>
    -->

    {% for translation in form.translations %}
        {# form_row(translation.abstract, { 'locale' : translation.vars.value.fkLanguage }) #}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.body, { 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {% for translation in form.translations %}
        {# form_row(translation.path, { 'fieldboxClass' : 'first w25', 'locale' : translation.vars.value.fkLanguage }) #}
    {% endfor %}


    {{ form_row(form.icon, { 'fieldboxClass' : 'first w25' }) }}

    {{ form_row(form.listType, { 'fieldboxClass' : 'w25' }) }}

    {{ form_row(form.dbTable, { 'fieldboxClass' : 'w25' }) }}

    {{ form_row(form.listRows, { 'fieldboxClass' : 'w25' }) }}

    {{ form_row(form.config) }}

    {{ form_row(form.tabsConfig) }}

    {{ form_row(form.deleted) }}

    {% for translation in form.translations %}
        {{ form_row(translation.fkLanguage) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.fkBase) }}
    {% endfor %}

    <!--
    <div class="tab-debug">
        <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
    </div>
    -->

</fieldset>