 <fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>


    {{ form_row(form.bundle) }}
    
    {{ form_row(form.controller) }}

    {{ form_row(form.views) }}
    
    {{ form_row(form.entity) }}

     {{ form_row(form.formType) }}

     {{ form_row(form.js) }}

     {{ form_row(form.css) }}

    <div class="tab-debug">
        <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
    </div>

</fieldset>