{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
"{{ row.id }}",
"<span class='{{ row.icon }}'></span> &nbsp;{{ row.tag }}",
"{{ row.translations[0].label }}",
"{{ row.bundle }}",
"{{ row.dbTable }}"
{% endblock %}