{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
"{{ row.id }}",
"{{ row.label }}",
"{{ row.country }}",
"<img src=\"{{ asset('/bundles/invictuscms/images/flags/' ~ row.icon) }}\" alt=\"{{ row.label }}\" title=\"{{ row.label }}\" />"
{% endblock %}