Widget: geo pin pointer<br>
<br>

{#  invictusKernel.serviceProxy('widget.geo_point', 'getGeoPointsByModuleId', [invictusKernel.moduleId, item.id, 'array'])|raw  #}

<div class="widget-wrapper widget-gmap-pin-pointer {{ key }}">

    <input type="hidden" name="widgets[geo_point][service]" value="widget.geo_point" />
    <input type="hidden" name="widgets[geo_point][method]" value="saveGeoPoints" />
    <input type="hidden" name="widgets[geo_point][argument]" value="geoPoints" />
    <input type="hidden" name="widgets[geo_point][enabled]" value="0" />

    {#
    {% set points = invictusKernel.repositoryProxy('InvictusCms', 'Geo', 'getPoints', [ moduleId, itemId, application, locale]) %}
    {% set points = invictusKernel.serviceProxy('widget.geo_point', 'getGeoPoints', [52, 4]) %}
    #}

    <div class="fieldbox w100" style="position:relative">

        <div class="map-logger" data-number="0" style="display:none;padding:20px;float:right;border:1px solid #C00;width:400px;max-height:400px;overflow:auto">
        </div>

        <div id="{{ tab.widgets.gmapPinPointer.mapId }}" class="gmap" data-random="{{ random(1000) }}" style="width:{{ tab.widgets.gmapPinPointer.mapWidth }};height:{{ tab.widgets.gmapPinPointer.mapHeight }}">
        </div>

        {% include "InvictusWidgetBundle:Gmap:widget-gmap-marker-form.html.twig" %}

        <div class="geo-points-fields"></div>

    </div>

</div>

<script type="text/javascript">

/*
 <xml> <message>Hello world</message> </xml>
 $.get('data/hello.xml', function(xml){
    var json = $.xml2json(xml); alert(json.message); });
    - See more at: http://www.fyneworks.com/jquery/xml-to-json/#sthash.L5gt10Yv.dpuf
*/

    var GMap = {
        map: false,
        mapId: false,
        mapOptions: {},
        markers: {},
        activeMarker: false,
        predefinedMarkers: {},
        otherMarkers: {},
        panoramioTag: false,
        init: function () {

            GMap.resetLog();
            GMap.log('Init map');

            $('.widget-gmap-pin-pointer.{{ key }} input[name="widgets[geo_point][enabled]"]').val(1);

            GMap.map = new google.maps.Map(document.getElementById(GMap.mapId), GMap.mapOptions);

            GMap.initPredefinedMarkers();

            GMap.initOtherMarkers();

            GMap.initLocaleSelector();

            GMap.bindMapEvents();

            $(".widget-gmap-pin-pointer.{{ key }} .gmap").css({background:'none'});

            $(".widget-gmap-pin-pointer.{{ key }} .marker-form").on("click", ".close", function(){
                GMap.hideMarkerForm();
            });

            $(".widget-gmap-pin-pointer.{{ key }} .marker-form").draggable({
                handle: "header",
                containment: "parent"
            });

            $(".widget-gmap-pin-pointer.{{ key }} .marker-form input[type='submit']").on("click", function(e){

                e.preventDefault();

                var markerData = GMap.markerFormToObject();

                if(markerData.uniqueId != '0'){
                    var markerId =  markerData.uniqueId;
                    GMap.removeMarker(GMap.markers[markerData.uniqueId], markerData.uniqueId);
                    GMap.log('Submit del marker con uniqueId' + markerData.uniqueId);
                }else{
                    var markerId =  GMap.getMarkerUniqueId(markerData.lat, markerData.lng);
                    GMap.log('Submit di un nuovo marker');
                }

                if(GMap.markers[markerId] != undefined){
                    CMS.notify({message:'Esiste già un marker a questa latitudine (' + lat + ') e longitudine  (' + lng + ')'});
                    GMap.hideMarkerForm();
                    return false;
                }

                var marker = new google.maps.Marker({
                    position: GMap.getLatLng(markerData.lat, markerData.lng),
                    map: GMap.map,
                    title: GMap.getCorrectTitleTranslation(markerData),
                    uniqueId: markerId,
                    data: markerData,
                    animation: google.maps.Animation.DROP,
                    options: {
                        draggable: true
                    }
                });

                GMap.markers[markerId] = marker; // cache marker in markers object

                GMap.bindMarkerEvents(marker); // bind right click event to marker

                GMap.hideMarkerForm();

                GMap.updateMarkersToSubmit();

            });
        },
        initPredefinedMarkers: function(){
            GMap.log('initPredefinedMarkers');

            if($.isEmptyObject(GMap.predefinedMarkers)){
                return false;
            }

            var bounds = new google.maps.LatLngBounds();

            i = 0;
            for(var key in GMap.predefinedMarkers){

                marker = GMap.addMarker(GMap.predefinedMarkers[key]);

                bounds.extend(marker.position);

                i++;
            }
            GMap.map.fitBounds(bounds);

            // Se c'è un solo marker setto lo zoom al default impostato in mapOptions
            // perchè fitBounds imposta la mappa allo zomm massimo per contenere tutti i marker

            if(i == 1){
                setTimeout(function(){GMap.map.setZoom(GMap.mapOptions.zoom);}, 500);
                GMap.log("Setto lo zoom a " + GMap.mapOptions.zoom);
            }else{
                setTimeout(
                        function(){
                            if(GMap.map.getZoom() > GMap.mapOptions.zoom){
                                GMap.map.setZoom(GMap.mapOptions.zoom);
                            }
                        },
                        500);
            }

            GMap.updateMarkersToSubmit();
        },
        initOtherMarkers: function(){
            GMap.log('initOtherMarkers');

            if($.isEmptyObject(GMap.otherMarkers)){
                return false;
            }

            for(var key in GMap.otherMarkers){
                marker = GMap.addOtherMarker(GMap.otherMarkers[key]);
            }
        },
        initLocaleSelector: function(){
            $('#cms-edit .marker-form .locale-selector').html($('#cms-edit .heading .locale-selector').html());

            $('#cms-edit .marker-form .locale-selector').on('click', 'a', function(event){
                event.preventDefault();
                $this = $(this);
                locale = $this.attr('class');
                $('#cms-edit .marker-form .locale-selector a').parent().removeClass('sel');
                $this.parent().addClass('sel');
                $('#cms-edit .marker-form .fieldbox.translation').addClass('hidden');
                $('#cms-edit .marker-form .fieldbox.' + locale).removeClass('hidden');

            });

            $('#cms-edit .marker-form .locale-selector li.sel a').eq(0).trigger('click');
        },
        getMarkerUniqueId: function(lat, lng) {
            return lat + '_' + lng;
        },
        getLatLng: function(lat, lng) {
            return new google.maps.LatLng(lat, lng);
        },
        addMarker: function(markerData){
            var marker = new google.maps.Marker({
                position: GMap.getLatLng(markerData.lat, markerData.lng),
                map: GMap.map,
                data: markerData,
                title: GMap.getCorrectTitleTranslation(markerData),
                uniqueId: GMap.getMarkerUniqueId(markerData.lat, markerData.lng),
                animation: google.maps.Animation.DROP,
                options: {
                    draggable: true
                }
            });
            GMap.markers[marker.uniqueId] = marker; // cache marker in markers object
            GMap.bindMarkerEvents(marker);

            return marker;
        },
        addOtherMarker: function(markerData){
            var marker = new google.maps.Marker({
                position: GMap.getLatLng(markerData.lat, markerData.lng),
                map: GMap.map,
                data: markerData,
                title: GMap.getCorrectTitleTranslation(markerData),
                uniqueId: GMap.getMarkerUniqueId(markerData.lat, markerData.lng),
                icon: 'http://www.n2ktag.com/bundles/n2ktagwebapp/images/marker_white.png'
            });

            return marker;
        },
        removeMarker: function(marker, markerId) {
            marker.setMap(null); // set markers setMap to null to remove it from map
            delete GMap.markers[markerId]; // delete marker instance from markers object
            GMap.log('Rimosso marker con uniqueId ' + marker.uniqueId);
        },
        bindMapEvents: function(){
            google.maps.event.addListener(GMap.map, 'rightclick', function(e){
                var lat = e.latLng.lat(); // lat of clicked point
                var lng = e.latLng.lng(); // lng of clicked point

                $(".widget-gmap-pin-pointer.{{ key }} .marker-form input[name='marker[uniqueId]']").val('0'); // utile a capire in seguito se si sta creando o modificando un marker esistente
                $(".widget-gmap-pin-pointer.{{ key }} .marker-form .fieldbox.translation input").val('');
                $(".widget-gmap-pin-pointer.{{ key }} .marker-form .fieldbox.translation textarea").val('');
                $(".widget-gmap-pin-pointer.{{ key }} .marker-form input[name='marker[lat]']").val(lat);
                $(".widget-gmap-pin-pointer.{{ key }} .marker-form em.lat").text(lat);
                $(".widget-gmap-pin-pointer.{{ key }} .marker-form input[name='marker[lng]']").val(lng);
                $(".widget-gmap-pin-pointer.{{ key }} .marker-form em.lng").text(lng);

                GMap.showMarkerForm();

                GMap.log('Mostra il form per aggiungere un marker');
            });
        },
        bindMarkerEvents: function(marker) {

            google.maps.event.addListener(marker, 'click', function(){
                //console.info('Click sul marker:');
                //console.dir(marker);
                GMap.activeMarker = marker;
                marker.setAnimation(google.maps.Animation.BOUNCE);

                GMap.markerToMarkerForm(marker);

                GMap.showMarkerForm();

                GMap.log('Mostra il form per il marker con uniqueId ' + marker.uniqueId );
            });

            google.maps.event.addListener(marker, "rightclick", function (point){
                var markerId = GMap.getMarkerUniqueId(point.latLng.lat(), point.latLng.lng()); // get marker id by using clicked point's coordinate
                var marker = GMap.markers[markerId]; // find marker
                GMap.removeMarker(marker, markerId); // remove it
                GMap.updateMarkersToSubmit();
                GMap.log('Elimina dalla mappa il marker con uniqueId ' + marker.data.uniqueId );
            });

            google.maps.event.addListener(marker, "dragstart", function (point) {
                GMap.log('Inizio spostamento del marker con uniqueId ' + marker.uniqueId );
            });

            google.maps.event.addListener(marker, "dragend", function (point) {
                console.info('activeMarker: ' + GMap.activeMarker);
                console.info('current marker unique id: ' + marker.uniqueId);
                oldMarkerUniqueId = marker.uniqueId;

                //console.dir(GMap.markers);
                var markerUniqueId = GMap.getMarkerUniqueId(point.latLng.lat(), point.latLng.lng()); // get marker id by using clicked point's coordinate
                GMap.markers[markerUniqueId] = GMap.markers[oldMarkerUniqueId];
                GMap.markers[markerUniqueId].uniqueId = markerUniqueId;
                GMap.markers[markerUniqueId].setPosition(GMap.getLatLng(point.latLng.lat(), point.latLng.lng()));

                delete GMap.markers[oldMarkerUniqueId]; // delete marker instance from markers object

                //console.dir(GMap.markers);

                GMap.activeMarker = markerUniqueId;
                GMap.log('Fine spostamento del marker con uniqueId ' + oldMarkerUniqueId + ' che ora ha uniqueId ' + markerUniqueId );

                GMap.updateMarkersToSubmit();
            });
        },
        getCorrectTitleTranslation: function(marker){
            console.log('---------getCorrectTitleTranslation-----------');
            console.dir(marker);
            console.log('---------getCorrectTitleTranslation-----------');

            var title = false;
            var fallbackTitle = '';

            for(var translation in marker.translations){
                if(marker.translations[translation].fkLanguage.id == '{{ invictusKernel.UILanguageId }}' && marker.translations[translation].label != ''){
                    title = marker.translations[translation].label;
                }
                if(marker.translations[translation].label != ''){
                    fallbackTitle = marker.translations[translation].label;
                }
            }
            if(!title){
                title = fallbackTitle;
            }

            return title;
        },
        markerFormToObject: function(){
            object = $(".widget-gmap-pin-pointer.{{ key }} .marker-form input, .widget-gmap-pin-pointer.{{ key }} .marker-form textarea").toJSON();

            //console.info('markerFormToObject :');
            //console.dir(object.marker);

            return object.marker;
        },
        markerToMarkerForm: function(marker){

            $(".widget-gmap-pin-pointer.{{ key }} .marker-form input[name='marker[uniqueId]']").val(marker.uniqueId);
            //$(".widget-gmap-pin-pointer.{{ key }} .marker-form input[name='markertitle']").val(marker.title);
            //$(".widget-gmap-pin-pointer.{{ key }} .marker-form textarea[name='marker-description']").val(marker.description.replace(/<br\s*[\/]?>/gi, ""));
            $(".widget-gmap-pin-pointer.{{ key }} .marker-form input[name='marker[lat]']").val(marker.getPosition().lat());
            $(".widget-gmap-pin-pointer.{{ key }} .marker-form em.lat").text(marker.getPosition().lat());
            $(".widget-gmap-pin-pointer.{{ key }} .marker-form input[name='marker[lng]']").val(marker.getPosition().lng());
            $(".widget-gmap-pin-pointer.{{ key }} .marker-form em.lng").text(marker.getPosition().lng());
            for(var translation in marker.data.translations){
                locale = marker.data.translations[translation].fkLanguage.id;
                label = marker.data.translations[translation].label;
                body = marker.data.translations[translation].body;
                //console.info(locale + label + body);
                $(".widget-gmap-pin-pointer.{{ key }} .marker-form input[name='marker[translations][" + locale + "][label]']").val(label);
                $(".widget-gmap-pin-pointer.{{ key }} .marker-form textarea[name='marker[translations][" + locale + "][body]']").val(body);
            }

        },
        showMarkerForm: function(){
            $(".widget-gmap-pin-pointer.{{ key }} .marker-overlay, .widget-gmap-pin-pointer.{{ key }} .marker-form").addClass('visible');
        },
        hideMarkerForm: function(){
            $(".widget-gmap-pin-pointer.{{ key }} .marker-overlay, .widget-gmap-pin-pointer.{{ key }} .marker-form").removeClass('visible');
            if(GMap.activeMarker){
                GMap.activeMarker.setAnimation(null);
            }
        },
        clearMarkerForm: function(){
            $(".widget-gmap-pin-pointer.{{ key }} input[name='marker[lat]']").val('');
            $(".widget-gmap-pin-pointer.{{ key }} input[name='marker[lng]']").val('');
            $(".widget-gmap-pin-pointer.{{ key }} .fieldbox.translation input").val('');
            $(".widget-gmap-pin-pointer.{{ key }} .fieldbox.translation textarea").val('');
        },
        updateMarkersToSubmit: function(markers) {
            GMap.log('updateMarkersToSubmit ');
            $('.widget-gmap-pin-pointer.{{ key }} .geo-points-fields').empty();
            var j = 0;
            for(var key in GMap.markers){
                markerInputs = GMap.markerToInputsToSubmit(GMap.markers[key], j);
                $('.widget-gmap-pin-pointer.{{ key }} .geo-points-fields').append(markerInputs);
                j++;
            }
        },
        markerToInputsToSubmit: function(marker, j){
            //console.dir(marker);
            markerInputs = '';
            markerInputs += '<input type="hidden" name="geoPoints[{{ key }}][' + j + '][lat]" value="' + marker.getPosition().lat() + '" />';
            markerInputs += '<input type="hidden" name="geoPoints[{{ key }}][' + j + '][lng]" value="' + marker.getPosition().lng() + '" />';

            for(var translation in marker.data.translations){
                locale = marker.data.translations[translation].fkLanguage.id;
                label = marker.data.translations[translation].label;
                body = marker.data.translations[translation].body;

                markerInputs += '<input type="hidden" name="geoPoints[{{ key }}][' + j + '][translations][' + locale + '][label]" value="' + label + '" />';
                markerInputs += '<input type="hidden" name="geoPoints[{{ key }}][' + j + '][translations][' + locale + '][body]" value="' + body + '" />';
            }

            return markerInputs;
        },
        setWeatherLayer: function(){
            var weatherLayer = new google.maps.weather.WeatherLayer({
                temperatureUnits: google.maps.weather.TemperatureUnit.CELSIUS
            });
            weatherLayer.setMap(GMap.map);
        },
        setCloudLayer: function(){
            var cloudLayer = new google.maps.weather.CloudLayer();
            cloudLayer.setMap(GMap.map);
        },
        setPanoramioLayer: function(){
            var panoramioLayer = new google.maps.panoramio.PanoramioLayer();
            if(GMap.panoramioTag){
                panoramioLayer.setTag(GMap.panoramioTag);
            }
            panoramioLayer.setMap(GMap.map);

            google.maps.event.addListener(panoramioLayer, 'click', function(photo) {
                var li = document.createElement('li');
                var link = document.createElement('a');
                link.innerHTML = photo.featureDetails.title + ': ' +
                        photo.featureDetails.author;
                link.setAttribute('href', photo.featureDetails.url);
                li.appendChild(link);
            });
        },
        log: function(string){
            number = parseInt($('.map-logger').attr('data-number'));
            $('.map-logger').prepend(number + ') ' + string + '<br><br>');
            $('.map-logger').attr('data-number', ++number);
        },
        resetLog: function(string){
            $('.map-logger').empty();
            $('.map-logger').attr('data-number', 0);
        }
    };
    $(document).bind({
        'initGMap' : GMap.init
    });
    //console.dir(GmapPinPointer);
    GMap.mapId = '{{ tab.widgets.gmapPinPointer.mapId }}';
    GMap.mapOptions = {
        zoom: 11,
        minZoom: 1,
        center: new google.maps.LatLng(45.379161,12.458496),
        mapTypeId: google.maps.MapTypeId.SATELLITE,
        mapTypeControl: true,
        mapTypeControlOptions:{
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        },
        navigationControl: true,
        scrollwheel: false,
        streetViewControl: false,
        autofit: {}
    };
    {% spaceless %}
    GMap.predefinedMarkers = {{ invictusKernel.serviceProxy('widget.geo_point', 'getGeoPointsByModuleId', [invictusKernel.moduleId, item.id, 'array'])|raw }};
    GMap.otherMarkers = {{ invictusKernel.serviceProxy('widget.geo_point', 'getOtherGeoPointsByModuleId', [invictusKernel.moduleId, item.id, 'array'])|raw }};
    {% endspaceless %}



    $('#{{ tab.widgets.gmapPinPointer.mapId }}').one('mouseover', function(){
        $(document).trigger('initGMap');
    });

</script>


{% if invictusKernel.environment == 'dev' %}
<div class="fieldbox"></div>
<div class="fieldbox w50">
    <div class="tab-debug">

    </div>
</div>
{% endif %}