<div class="marker-overlay" style="width:{{ tab.widgets.gmapPinPointer.mapWidth }};height:{{ tab.widgets.gmapPinPointer.mapHeight }}"></div>

<section class="marker-form">

    <header>
        <div class="locale-selector">
        </div>

        <span class="close icomoon16-cancel"></span>
    </header>

    <input type="hidden" name="marker[uniqueId]" />

    <input type="hidden" name="marker[fk_app_id]" value="{{ invictusKernel.appId }}" />

    <div class="fieldbox translation it_IT">
        <label>Titolo</label>
        <input type="text" name="marker[translations][it_IT][label]" />
    </div>

    <div class="fieldbox translation it_IT">
        <label>Descrizione</label>
        <textarea name="marker[translations][it_IT][body]">???</textarea>
    </div>

    <input type="hidden" name="marker[translations][it_IT][fkLanguage][id]" value="it_IT" />

    <div class="fieldbox translation en_GB">
        <label>Titolo</label>
        <input type="text" name="marker[translations][en_GB][label]" />
    </div>

    <div class="fieldbox translation en_GB">
        <label>Descrizione</label>
        <textarea name="marker[translations][en_GB][body]">???</textarea>
    </div>

    <input type="hidden" name="marker[translations][en_GB][fkLanguage][id]" value="en_GB" />

    <div class="fieldbox">
        <label>Latitudine:</label>
        <input type="text" name="marker[lat]" />
    </div>

    <div class="fieldbox">
        <label>Longitudine:</label>
        <input type="text" name="marker[lng]" />
    </div>

    <input type="submit" name="marker[save]" value="Salva" />
</section>