Widget: geo pin pointer<br>
<br>

<div class="widget-wrapper widget-gmap-pin-pointer {{ key }}">

    <input type="hidden" name="widgets[geo_point][service]" value="widget.geo_point" />
    <input type="hidden" name="widgets[geo_point][method]" value="savePathMarkers" />
    <input type="hidden" name="widgets[geo_point][argument]" value="selected" />
    <input type="hidden" name="widgets[geo_point][enabled]" value="0" />

    {#
    {% set points = invictusKernel.repositoryProxy('InvictusCms', 'Geo', 'getPoints', [ moduleId, itemId, application, locale]) %}
    {% set points = invictusKernel.serviceProxy('widget.geo_point', 'getGeoPoints', [52, 4]) %}
    #}

    {% set pathKml = invictusKernel.repositoryProxy('InvictusCms', 'Attachment', 'findOneBy', [{fkModule:55, fkItemId: item.id, enabled: 1, deleted: 0}]) %}

    {% set habitats = invictusKernel.getData([ { moduleId: 51, languageId: invictusKernel.UILanguageId, joins:{ 'visibility': false }, where: {'base.enabled': 'base.enabled = :enabled', 'base.deleted': 'base.deleted = :deleted'}, params: {'enabled': true, 'deleted': false}, orderBy: {'comName':'translation.comName ASC'} }, false ])['data'] %}
    {% set species = invictusKernel.getData([ { moduleId: 52, languageId: invictusKernel.UILanguageId, joins:{ 'visibility': false }, where: {'base.enabled': 'base.enabled = :enabled', 'base.deleted': 'base.deleted = :deleted'}, params: {'enabled': true, 'deleted': false}, orderBy: {'comName':'translation.comName ASC'} }, false ])['data'] %}

    <div class="fieldbox first w50 filter" style="visibility:hidden">
        <label for="habitat-select">Habitat</label>
        <select id="habitat-select" class="select2" multiple>
            {% for habitat in habitats %}
                <option value="{{ habitat.id }}">{{ habitat.getTranslations()[0].comName|default('nome comune non impostato per l\'habitat con id:' ~ habitat.id) }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="fieldbox w50 filter" style="visibility:hidden">
        <label for="specie-select">Specie</label>
        <select id="specie-select" class="select2" multiple>
            {% for specie in species %}
                <option value="{{ specie.id }}">{{ specie.getTranslations()[0].comName|default('nome comune non impostato') }}</option>
            {% endfor %}
        </select>
    </div >

    <div class="fieldbox w100" style="position:relative">

        <div class="map-logger" data-number="0" style="display:none;padding:20px;float:right;border:1px solid #C00;width:400px;max-height:400px;overflow:auto">
        </div>

        <div id="{{ tab.widgets.gmapPinPointer.mapId }}" class="gmap" data-random="{{ random(1000) }}" style="width:{{ tab.widgets.gmapPinPointer.mapWidth }};height:{{ tab.widgets.gmapPinPointer.mapHeight }}">
        </div>

        {% include "InvictusWidgetBundle:Gmap:widget-gmap-marker-form.html.twig" %}

        <div class="geo-points-fields"></div>

    </div>

    <input type="hidden" id="selected-datasheets" name="selected[datasheets]">
    <input type="hidden" id="selected-habitats" name="selected[habitats]">

</div>

<script type="text/javascript">

/*
 <xml> <message>Hello world</message> </xml>
 $.get('data/hello.xml', function(xml){
    var json = $.xml2json(xml); alert(json.message); });
    - See more at: http://www.fyneworks.com/jquery/xml-to-json/#sthash.L5gt10Yv.dpuf
*/

    var GMap = {
        map: false,
        mapId: false,
        mapOptions: {},
        markers: {0:[], 51:[], 52:[]},
        activeMarker: false,
        selectedMarkers: {51: [], 52: []},
        predefinedMarkers: {},
        panoramioTag: false,
        pathKml: '{{ pathKml.filename|default(false) }}',
        habitatAjaxCall: false,
        datasheetAjaxcall: false,
        buffer: [],
        init: function () {

            GMap.resetLog();
            GMap.log('Init map');

            $('.widget-gmap-pin-pointer.{{ key }} input[name="widgets[geo_point][enabled]"]').val(1);

            GMap.map = new google.maps.Map(document.getElementById(GMap.mapId), GMap.mapOptions);

            if(GMap.pathKml){
                var kmlLayer = new google.maps.KmlLayer({
                    url: 'http://www.n2ktag.com/uploads/' + GMap.pathKml,
                    suppressInfoWindows: true,
                    map: GMap.map
                });
            }

            function showInContentWindow(name, description, coords) {
                $('#gmapPinPointer .tab-debug').eq(0).html('<b>' + name + '</b><p>' + description + '</p><cite>' + coords + '</cite>');
            }

            GMap.initPredefinedMarkers();

            GMap.bindMapEvents();


            $('.fieldbox.filter').css({visibility: 'visible'});

            $('#habitat-select').unbind('change').change(function(){
                GMap.loadHabitatsMarkers($("#habitat-select").select2("val"));
                $('.select2-search-choice').css({'margin-top':'5px'});
            });
            $('#specie-select').unbind('change').change(function(){
                GMap.loadSpeciesMarkers($("#specie-select").select2("val"));
                $('.select2-search-choice').css({'margin-top':'5px'});
            });

            $(".widget-gmap-pin-pointer.{{ key }} .gmap").css({background:'none'});

        },
        initPredefinedMarkers: function(){
            GMap.log('initPredefinedMarkers');

            if($.isEmptyObject(GMap.predefinedMarkers)){
                return false;
            }

            var bounds = new google.maps.LatLngBounds();

            for(var key in GMap.predefinedMarkers){

                for(var point in GMap.predefinedMarkers[key]){

                    GMap.selectedMarkers[GMap.predefinedMarkers[key][point].moduleId].push(parseInt(GMap.predefinedMarkers[key][point].pointId));

                    var marker = GMap.addMarker(0, GMap.predefinedMarkers[key][point]);

                }
            }

            GMap.selectedMarkersToInput();
        },
        getMarkerUniqueId: function(lat, lng) {
            return lat + '_' + lng;
        },
        getLatLng: function(lat, lng) {
            return new google.maps.LatLng(lat, lng);
        },
        loadHabitatsMarkers: function(ids){
            if(GMap.habitatAjaxCall){
                GMap.habitatAjaxCall.abort();
            }
            $('.gmap').animate({opacity:0.3});
            GMap.habitatAjaxCall = $.get('/path/get-markers-by-habitat-ids/{{ invictusKernel.UILanguageId }}/' + ids, function(data){
                GMap.removeUnselectedMarker(51);
                for(var point in data){
                    if(!GMap.isSelectedMarker(data[point].moduleId, data[point].pointId)){
                        var marker = GMap.addMarker(51, data[point]);
                    }
                }
                setTimeout(function(){$('.gmap').animate({opacity:1});},500);
            });
        },
        loadSpeciesMarkers: function(ids, language){
            if(GMap.datasheetAjaxCall){
                GMap.datasheetAjaxCall.abort();
            }
            $('.gmap').animate({opacity:0.3});
            GMap.datasheetAjaxCall = $.get('/path/get-markers-by-datasheet-ids/{{ invictusKernel.UILanguageId }}/' + ids, function(data){
                GMap.removeUnselectedMarker(52);
                for(var point in data){
                    if(!GMap.isSelectedMarker(data[point].moduleId, data[point].pointId)){
                        var marker = GMap.addMarker(52, data[point]);
                    }
                }
                setTimeout(function(){$('.gmap').animate({opacity:1});},500);
            });
        },
        addMarker: function(moduleId, markerData){
            var marker = new google.maps.Marker({
                position: GMap.getLatLng(markerData.lat, markerData.lng),
                map: GMap.map,
                data: markerData,
                title: markerData.label,
                uniqueId: GMap.getMarkerUniqueId(markerData.lat, markerData.lng),
                //animation: google.maps.Animation.DROP,
                options: {
                    draggable: false
                }
            });
            GMap.markers[moduleId][markerData.pointId] = marker; // cache marker in markers object

            var icon = (marker.data.moduleId == 51) ? 'round' : 'marker' ;
            var color = GMap.isSelectedMarker(marker.data.moduleId, marker.data.pointId) ? 'red' : 'white';
            var iconPath = '/bundles/n2ktagwebapp/images/' + icon + '_' + color + '.png';
            marker.setIcon(iconPath);

            GMap.bindMarkerEvents(marker);

            return marker;
        },
        removeMarker: function(marker, markerId) {
            marker.setMap(null); // set markers setMap to null to remove it from map
            delete GMap.markers[markerId]; // delete marker instance from markers object
            GMap.log('Rimosso marker con uniqueId ' + marker.uniqueId);
        },
        removeUnselectedMarker: function(moduleId){
            for(marker in GMap.markers[moduleId]){
                if(!GMap.isSelectedMarker(parseInt(GMap.markers[moduleId][marker].data.moduleId), parseInt(GMap.markers[moduleId][marker].data.pointId))){
                    GMap.markers[moduleId][marker].setMap(null); // set markers setMap to null to remove it from map
                    delete GMap.markers[moduleId][marker]; // delete marker instance from markers object
                }
            }
        },
        bindMapEvents: function(){
            return false;
        },
        bindMarkerEvents: function(marker) {
            var img = (marker.data.moduleId == 51) ? '/bundles/n2ktagwebapp/images/round_white.png' : '/bundles/n2ktagwebapp/images/marker_white.png' ;
            var selImg = (marker.data.moduleId == 51) ? '/bundles/n2ktagwebapp/images/round_red.png' : '/bundles/n2ktagwebapp/images/marker_red.png' ;
            google.maps.event.addListener(marker, 'click', function(){
                //alert(' Selected ' + GMap.selectedMarkers[marker.data.moduleId]);
                if(GMap.isSelectedMarker(marker.data.moduleId, marker.data.pointId)){
                    marker.setIcon(img);
                    marker.data.selected = false;
                    GMap.removeSelectedMarker(marker.data.moduleId, parseInt(marker.data.pointId));
                    //alert('Remove:' + marker.data.pointId + ' | Selected: ' + GMap.selectedMarkers[marker.data.moduleId]);
                }else{
                    marker.setIcon(selImg);
                    marker.data.selected = true;
                    GMap.addSelectedMarker(marker.data.moduleId, parseInt(marker.data.pointId));
                    //alert('Add:' + marker.data.pointId + ' | Selected: ' + GMap.selectedMarkers[marker.data.moduleId]);
                }
                GMap.selectedMarkersToInput();
            });
        },
        log: function(string){
            number = parseInt($('.map-logger').attr('data-number'));
            $('.map-logger').prepend(number + ') ' + string + '<br><br>');
            $('.map-logger').attr('data-number', ++number);
        },
        resetLog: function(string){
            $('.map-logger').empty();
            $('.map-logger').attr('data-number', 0);
        },
        addSelectedMarker: function(moduleId, pointId){
            GMap.selectedMarkers[moduleId].push(pointId);
        },
        removeSelectedMarker: function(moduleId, pointId){

            var i,index;
            for(i = 0; i < GMap.selectedMarkers[moduleId].length; i++) {
                if(GMap.selectedMarkers[moduleId][i] == pointId) {
                    index = i;
                    break;
                }
            }
            GMap.selectedMarkers[moduleId].splice(index, 1);
        },
        isSelectedMarker: function(moduleId, pointId){
            return (jQuery.inArray( parseInt(pointId), GMap.selectedMarkers[moduleId] ) < 0) ? false : true;
        },
        selectedMarkersToInput: function(){
            $('#selected-habitats').val(GMap.selectedMarkers[51]);
            $('#selected-datasheets').val(GMap.selectedMarkers[52]);
        }
    };
    $(document).unbind('initGMap').bind({
        'initGMap' : GMap.init
    });
    //console.dir(GmapPinPointer);
    GMap.mapId = '{{ tab.widgets.gmapPinPointer.mapId }}';
    GMap.mapOptions = {
        zoom: 11,
        minZoom: 1,
        center: new google.maps.LatLng(45.379161,12.458496),
        mapTypeId: google.maps.MapTypeId.SATELLITE,
        mapTypeControl: true,
        mapTypeControlOptions:{
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        },
        navigationControl: true,
        scrollwheel: false,
        streetViewControl: false,
        autofit: {}
    };
    {% spaceless %}
    GMap.predefinedMarkers = {{ invictusKernel.serviceProxy('widget.geo_point', 'getPathMarkersById', ['it_IT', item.id|default(0)])|raw }};
    {% endspaceless %}


    $('#{{ tab.widgets.gmapPinPointer.mapId }}').one('mouseover', function(){
        $(document).trigger('initGMap');
    });

</script>


{% if invictusKernel.environment == 'dev' %}
<div class="fieldbox"></div>
<div class="fieldbox w50">
    <div class="tab-debug">

    </div>
</div>
{% endif %}