{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
    "{{ row.id }}",
    "{{ row.translations[0].label|default('') }} ({{ row.fkShoe.code }}.{{ row.fkCover.code }})"
{% endblock %}