<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {% set items = invictusKernel.repositoryProxy('InvictusPurchaseBundle', 'PurchaseItem', 'findBy', [{'fkPurchase': item.id}]) %}

    {% for item in items %}

    <div class="fieldbox">
        <label><a href="/invictus/en_GB/product?itemId={{ item.productId }}" target="_blank">{{ item.code }} ({{ item.productId }})</a></label>
        {{ item.price }}€ - nr. {{ item.quantity }} - {{ item.price * item.quantity}}€<br>
        {% set translation = invictusKernel.repositoryProxy('InvictusProductBundle', 'ProductTranslation', 'findOneBy', [{'fkBase': item.productId, 'fkLanguage': 'en_GB'}], false) %}
        <b>{{ translation.label|default('description no set') }}</b>
    </div>

    {% endfor %}

</fieldset>