<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {{ form_row(form.fkApp) }}

    {{ form_row(form.status, {'fieldboxClass': 'first w50'}) }}

    {{ form_row(form.invoiceNumber, {'fieldboxClass': 'first w25'}) }}

    {{ form_row(form.tracking, {'fieldboxClass': 'first w25'}) }}

    <div class="fieldbox">
        <label>Order number</label>
        {{ form.vars.value.label|default('-') }}
    </div>

    <div class="fieldbox">
        <label>Date</label>
        {{ form.vars.value.date|date('Y.m.d H:i:s')|default('-') }}
    </div>

    <div class="fieldbox">
        <label>{{ 'buyer'|trans({}, 'purchase') }}</label>
        {% set buyer = item.fkAuthUser.firstName|default('?') ~ ' ' ~ item.fkAuthUser.lastName|default('') %}
        {{ buyer }}
    </div>

    <div class="fieldbox">
        <label>{{ 'email'|trans() }}</label>
        {% if item.fkAuthUser is null %}
            {% set email = item.email|default('?') %}
        {% else %}
            {% set email = item.fkAuthUser.email|default('?') %}
        {% endif %}
        <a href="mailto:{{ email }}">{{ email }}</a>
    </div>

    <div class="fieldbox">
        <label>{{ 'total'|trans({}, 'purchases') }}</label>
        {{ item.total|default('?') }} €
    </div>

    <div class="fieldbox">
        <label>PayPal id</label>
        {{ item.paypalId|default('?') }}
    </div>

    {% if item.userAgent|length > 3 %}
    <div class="fieldbox">
        <label>Browser/Device</label>
        {{ item.userAgent|default('?') }}
    </div>
    {% endif %}

    {{ form_row(form.deleted) }}

    {% if invictusKernel.environment == 'dev' %}
    <div class="tab-debug">
        <b>Config:</b><br>
        <br>
        <pre>{# dump(tabConfig) #}</pre>
    </div>
    {% endif %}

</fieldset>