<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {% if item.fkAuthUser is null %}
        {% set shipping = item.shipping %}
        {% set billing = item.billing %}
        <div class="fieldbox w33">
            <label>Shipping</label><br>
            {{ shipping }}
        </div>

        <div class="fieldbox w33">
            <label>Billing</label><br>
            {{ billing }}
        </div>
    {% else %}
        {% set shipping = invictusKernel.repositoryProxy('HideandjackAuthBundle', 'AuthUserAddress', 'findBy', [{'idUser': item.fkAuthUser.id, 'type': 'shipping' }], false) %}
        {% set billing = invictusKernel.repositoryProxy('HideandjackAuthBundle', 'AuthUserAddress', 'findBy', [{'idUser': item.fkAuthUser.id, 'type': 'billing' }], false) %}

        <div class="fieldbox w33">
            <label>Shipping</label><br>
            company: <b>{{ shipping[0].company|default('-') }}</b><br>
            name: <b>{{ shipping[0].idUser.firstName|default('?') }} {{ shipping[0].idUser.lastName|default('') }}</b><br>
            address: <b>{{ shipping[0].address|default('-') }}</b><br>
            zip: <b>{{ shipping[0].zip|default('-') }} {{ shipping[0].city|default('-') }} ({{ shipping[0].prov|default('-') }})</b><br>
            country: <b>{{ shipping[0].state|default('-') }}</b><br>
            province/region: <b>{{ shipping[0].prov|default('-') }}</b><br>
            phone: <b>{{ shipping[0].phone|default('-') }}</b><br>
            mobile: <b>{{ shipping[0].mobile|default('-') }}</b>
        </div>

        <div class="fieldbox w33">
            <label>Billing</label><br>
            company: <b>{{ billing[0].company|default('-') }}</b><br>
            name: <b>{{ billing[0].idUser.firstName|default('?') }} {{ billing[0].idUser.lastName|default('') }}</b><br>
            address: <b>{{ billing[0].address|default('-') }}</b><br>
            zip: <b>{{ billing[0].zip|default('-') }} {{ billing[0].city|default('-') }} ({{ billing[0].prov|default('-') }})</b><br>
            country: <b>{{ billing[0].state|default('-') }}</b><br>
            province/region: <b>{{ billing[0].prov|default('-') }}</b><br>
            p.iva: <b>{{ billing[0].piva|default('-') }}</b><br>
            phone: <b>{{ billing[0].phone|default('-') }}</b><br>
            mobile: <b>{{ billing[0].mobile|default('-') }}</b>
        </div>
    {% endif %}



</fieldset>