{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block actions %}
    {% if data.actions %}
        "{% spaceless %}
        {% if data.actions.edit %}
            <a title='{{ 'edit'|trans() }}' href='{{ invictusKernel.modulePath }}/update/{{ row.id }}' onclick='Form.url=this.href;$(document).trigger(\"loadUpdateForm\");return false;' class='action edit id{{ row.id }}'>
                <span class='icomoon16-pencil-5'></span>
            </a>
        {% endif %}

        {% if data.actions.attach %}
            <a title='{{ 'attach'|trans() }}' href='{{ invictusKernel.generateModulePath({'layout': 'nested', 'parentModuleTag': invictusKernel.moduleTag, 'parentItemId': row.id, 'moduleTag': 'attachment' }) }}' target='_blank' onclick='CMS.openNestedModule(this.href);return false;' class='action attachment id{{ row.id }}'>
                <span class='icomoon16-attachment'></span>
            </a>
        {% endif %}

        {% if data.actions.delete %}
            <a title='{{ 'delete'|trans() }}' href='{{ invictusKernel.modulePath }}/delete/{{ row.id }}' onclick='Item.confirmRemove(\"{{ row.id }}\");return false;' class='action delete id{{ row.id }}'>
                <span class='icomoon16-cancel-4'></span>
            </a>
        {% endif %}
        {% if row.invoiceNumber|length > 3 %}
            <a title='{{ 'invoice'|trans() }}' href='/en_GB/invoice/{{ row.label|default('-') }}?pdf=1' target='_blank'>
                <span class='icomoon16-file-pdf'></span>
            </a>
        {% endif %}
    {% endspaceless %}",
    {% endif %}
{% endblock %}



{% block columns %}
    "{{ row.id }}",
    "{{ row.date|date('Y.m.d H:i:s')|default('') }}",
    "{{ row.label|default('Order number missing') }}",
    {% if row.fkAuthUser is null %}
        {% set buyer = row.label|default('?') ~ ' | ' ~ row.email|default('?') %}
    {% else %}
        {% set buyer = row.fkAuthUser.firstName|default('') ~ ' ' ~ row.fkAuthUser.lastName|default('') ~ ' | ' ~ row.fkAuthUser.email|default('') %}
    {% endif %}
    "{{ buyer }}",
    "{{ row.paypalId|default('?') }}",
    "{{ row.total|default('?') }} €",
    {% if row.status == 0 %}
        "<span class='icomoon16-minus-alt' style='color:#e67e22'></span> <span style='color:#e67e22;font-weight:bold;font-size:12px'><b>{{ 'notPaid'|trans({}, 'purchase') }}</span>"
    {% elseif row.status == 1 %}
        "<span class='icomoon16-check-alt' style='color:#27ae60'></span> <span style='color:#27ae60;font-weight:bold;font-size:12px'>{{ 'paid'|trans({}, 'purchase') }}</span>"
    {% elseif row.status == 2 %}
        "<span class='icomoon16-wrench' style='color:#9E6138'></span> <span style='color:#9E6138;font-weight:bold;font-size:12px'>{{ 'preparation'|trans({}, 'purchase') }}</span>"
    {% elseif row.status == 3 %}
        "<span class='icomoon16-direction' style='color:#2980b9'></span> <span style='color:#2980b9;font-weight:bold;font-size:12px'>{{ 'sent'|trans({}, 'purchase') }}</span>"
    {% elseif row.status == 4 %}
        "<span class='icomoon16-folder' style='color:#2c3e50'></span> <span style='color:#2c3e50;font-weight:bold;font-size:12px'>{{ 'completed'|trans({}, 'purchase') }}</span>"
    {% elseif row.status == 5 %}
        "<span class='icomoon16-x-altx-alt' style='color:#c0392b'></span> <span style='color:#c0392b;font-weight:bold;font-size:12px'>{{ 'aborted'|trans({}, 'purchase') }}</span>"
    {% elseif row.status == 6 %}
        "<span class='icomoon16-spinner-5' style='color:#333'></span> <span style='color:#333;font-weight:bold;font-size:12px'>{{ 'refunded'|trans({}, 'purchase') }}</span>"
    {% elseif row.status == 7 %}
        "<span class='icomoon16-read-more' style='color:#AAA'></span> <span style='color:#AAA;font-weight:bold;font-size:12px'>{{ 'partial'|trans({}, 'purchase') }}</span>"
    {% endif %}
{% endblock %}