<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {{ form_row(form.enabled) }}

    {#
    {{ form_row(form.parent, { 'fieldboxClass' : 'first w25' }) }}


    <div class="fieldbox first w50">
        {% set options = invictusKernel.repositoryProxy('InvictusCms', 'Menu', 'getParents', []) %}
        <label for="menu_parent">{{ 'parent'|trans({},'menu') }}</label>
        <select class="select2" name="menu[parent]" id="menu_parent" style="width: 100%;">
            <option selected="selected" value="">{{ 'newMenu'|trans({},'menu') }}</option>
            {% set parent = action == 'update' ? item.parent.id|default('') : ''  %}
            {% for option in options %}
                {% set selected = option.id == parent ? 'selected="selected"' : '' %}
                <option value="{{ option.id }}" {{ selected }}>{{ option.label }}</option>
            {% endfor %}
        </select>
    </div>
#}

    <div class="fieldbox first w50">
        {% set parentId = action == 'update' ? item.parent.id|default(0) : 0  %}
        {% set options = invictusKernel.repositoryProxy('InvictusCms', 'Menu', 'renderOptionsTree', [ null, application, locale, {selId: parentId}]) %}
        <label for="menu_parent">{{ 'parent'|trans({},'menu') }}</label>
        <select class="select2" name="menu[parent]" id="menu_parent" style="width: 100%;">
            <option selected="selected" value="">{{ 'newMenu'|trans({},'menu') }}</option>
            {{ options|raw }}
        </select>
    </div>

    <!--
    {{ form_row(form.tag, { 'fieldboxClass' : 'first w25' }) }}
    -->

    {% for translation in form.translations %}
        {{ form_row(translation.label, { 'fieldboxClass' : 'first w50 label', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {#
    {% for translation in form.translations %}
        {{ form_row(translation.abstract, { 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}
    #}

    {% for translation in form.translations %}
        {{ form_row(translation.body, { 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.link, { 'fieldboxClass' : 'first w25 link', 'locale' : translation.vars.value.fkLanguage }) }}
    {% endfor %}

    {{ form_row(form.itemAttributes, { 'fieldboxClass' : 'first w50 itemAttributes' }) }}

    {{ form_row(form.linkAttributes, { 'fieldboxClass' : 'first w50 linkAttributes' }) }}

    {{ form_row(form.childrenAttributes, { 'fieldboxClass' : 'first w50 childrenAttributes' }) }}

    {{ form_row(form.deleted) }}

    {% for translation in form.translations %}
        {{ form_row(translation.fkLanguage) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.fkBase) }}
    {% endfor %}

    <!--
    <div class="tab-debug">
        <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
    </div>
    -->

</fieldset>