{% extends app.request.xmlHttpRequest ? 'InvictusCmsBundle::module-ajax.html.twig' : 'InvictusCmsBundle::layout-' ~ invictusKernel.getRequestAttribute('layout') ~ '.html.twig' %}


{% use 'InvictusCmsBundle::table.html.twig' %}
{% use 'InvictusCmsBundle::tree.html.twig' %}

{% use 'InvictusCmsBundle::edit.html.twig' %}

{% block tableToggler %}
{% endblock tableToggler %}

{% block dialogs %}
    {{ parent() }}
{% endblock dialogs %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}


