{% extends 'InvictusCmsBundle::table.json.twig' %}

{% block actions %}
    {% if data.actions %}
        "{% if data.actions.modify %}{% spaceless %}
            <a title='{{ 'modify'|trans() }}' href='/invictus/{{ invictusKernel.App().getId() }}/{{ invictusKernel.getLanguage().getId() }}/{{ invictusKernel.getModule().getTag() }}/update/{{ row.id }}' onclick='Form.url=this.href;$(document).trigger(\"loadUpdateForm\");return false;' class='action modify'>
                <img src='/bundles/invictuscms/images/icons/application_form_edit.png' title='{{ 'modify'|trans() }}' alt='{{ 'modify'|trans() }}' />
            </a>
        {% endspaceless %}{% endif %}{% if data.actions.delete %}
            {% if (row.id != invictusKernel.getApp().getId()) %}{% spaceless %}
                <a title='{{ 'delete'|trans() }}' href='/invictus/{{ invictusKernel.getApp().getId() }}/{{ invictusKernel.getLanguage().getId() }}/{{ invictusKernel.getModule().getTag() }}/delete/{{ row.id }}' onclick='Item.confirmRemove(\"{{ row.id }}\");return false;' class='action delete'>
                    <img src='/bundles/invictuscms/images/icons/cross.png' title='{{ 'delete'|trans() }}' alt='{{ 'delete'|trans() }}' />
                </a>
            {% endspaceless %}{% else %}{% spaceless %}
                <a title='{{ 'locked'|trans() }}' href='javascript:void(0)' onclick='return false;' class='action delete'>
                    <img src='/bundles/invictuscms/images/icons/lock.png' title='{{ 'locked'|trans() }}' alt='{{ 'locked'|trans() }}' />
                </a>
            {% endspaceless %}{% endif %}
        {% endif %}"
        ,
    {% endif %}
{% endblock %}


{% block itemColumns %}
"{{ row.id }}",
"{{ row.label }}",
"<img src=\"{{ asset('/bundles/invictuscms/images/apps/' ~ row.icon) }}\" alt=\"{{ row.label }}\" title=\"{{ row.label }}\" />"
{% endblock %}

{% block bools %}
    {% if data.actions %}
        {% for bool in data.bools %}
            {% if (row.id != invictusKernel.getApp().getId() b-or bool.field != 'enabled') %}
            ,
            "<a href='javascript:Item.setBool(\"{{ path('invictus_set_bool', { 
                                                                               app: invictusKernel.getApp().getId(), 
                                                                               locale: invictusKernel.getLanguage().getId(),
                                                                               module: invictusKernel.getModule().getTag(),
                                                                               bundle: invictusKernel.getModule().getBundle(),
                                                                               entity: invictusKernel.getModule().getEntity(),
                                                                               id: row.id,
                                                                               field: bool.field
                                                                                       }) }}\")' title='{{ bool.translation[row[bool.field]]|trans() }}'><img src='/bundles/invictuscms/images/icons/{{ bool.icons[row[bool.field]] }}' alt='{{ bool.translation[row[bool.field]]|trans() }}' /></a>"
            {% else %}
             ,
            "<a href='javascript:void(0);' title='{{ 'locked'|trans() }}'><img src='/bundles/invictuscms/images/icons/lock.png' alt='{{ 'locked'|trans() }}' /></a>"   
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}