{% extends 'InvictusCmsBundle::layout-standard.html.twig' %}

{% block tableToggler %}
{% endblock %}

{% block info %}
{% endblock %}

{% block container %}
    <div id="cms-container" class="cleared">
        <div id="cms-info">

            <div class="wrapper">

                <h1>MANUALE D'USO</h1>

                <p>
                    <b>INVICTUS</b> è il sistema di gestione dei contenuti (<b>CMS</b>)
                    che vi permetterà di gestire in autonomia e senza richiedere particolari competenze tecniche pagine, testi, immagini e ogni altro contenuto necessario al vostro sito.
                </p>

                <p>
                    Dopo aver aver selezionato una voce dal menu di sinistra, l'ambiente di lavoro si presenterà diviso in <b>4 aree</b>:
                    <br>
                    - testata
                    <br>
                    - menu aree gestibili
                    <br>
                    - tabella elementi
                    <br>
                    - area di creazione/modifica elemento
                </p>

                <p>
                    <strong>Testata</strong>
                    <br>
                    A destra nella fascia superiore troviamo il menu per la gestione multilingua (e in caso il sito lo richieda anche multiapp) dei contenuti e
                    le informazioni sull'utente connesso comprensive  di un link per effettuare il logout; sotto la fascia sulla sinistra il vostro logo.
                </p>

                <p>
                    <strong>Menu</strong>
                    <br>
                    Il menu di sinistra, appena sotto al vostro logo, elenca i vari <em>Moduli</em> (solitamente corrispondono a sezioni del sito) gestibili via CMS.
                    <br>
                    Ogni voce del menu porta ad un <em>Modulo</em> di <b>INVICTUS</b> sviluppato ad hoc in base alle vostre esigenze (es. News, Prodotti, Area riservata, ...),
                    nuovi <em>Moduli</em> possono essere implementati su richiesta﻿ ogni volta si renda necessario.<br>
                    Il menu può essere compresso, per lasciare maggiore spazio all'area di creazione/modifica, cliccando sull'icona grigia a forma di trinagolo situata in alto a destra.

                </p>

                <p>
                    <strong>Tabella elementi</strong>
                    <br>
                    Nella parte centrale troviamo una tabella che elenca gli <em>Elementi</em> del <em>Modulo</em> corrente precedentemente salvati nel sistema.
                    <br>
                    Tramite le icone della colonna <em>Azioni</em> sulla destra della tabella è possibile scegliere se aprire in modifica (è possibile usare anche un doppio click) o eliminare l'<em>Elemento</em> corrispondente.
                    <br>
                    Gli <em>Elementi</em> di ogni tabella sono divisi in pagine, è possibile cambiare pagina usando il paginatore posto alla base della tabella e decidere il numero di <em>Elementi</em> per pagina grazie al menu a tendina alla destra destra del paginatore.
                    <br>
                    Alcuni moduli possono prevedere azioni aggiuntive come ad esempio la possibilità di allegare immagini, video e altri documenti all'<em>Elemento</em>,
                    alcune tabelle possono prevedere funzionalità aggiuntive di ricerca o export.
                </p>

                <p>
                    <strong>Area di creazione/modifica elemento</strong>
                    <br>
                    Appena al di sotto della tabella degli <em>Elementi</em> c'è il pulsante <em>Nuovo</em>, punto di partenza per la creazione di un nuovo <em>Elemento</em> tramite la compilazione dei campi di un classico form web.
                    <br>
                    Nella stessa area è possibile caricare in modifica <em>Elementi</em>, precedentemente salvati, utilizzando l'icona <em>Modifica</em> nella tabella elementi o facendo doppio click sulla riga dell'<em>Elemento</em> di interesse.
                    <br>
                    I campi da compilare per creare/modificare un <em>Elemento</em> all'interno dell'area di creazione/modifica possono essere suddivisi in varie gruppi, è possibile scegliere il gruppo di campi da visualizzare attraverso il menu dell'area di creazione/modifica.
                    <br>
                    Nel form per la gestione delle informazioni dell'<em>Elemento</em> possiamo trovare campi di vari tipi:
                    <br>
                    - campi di testo semplice
                    <br>
                    - aree di testo
                    <br>
                    - campi di selezione data
                    <br>
                    - pulsanti di abilitazione (come ad esempio pubblicato/non pubblicato)
                    <br>
                    -  di un editor avanzato per la formattazione del testo.
                    <br>
                    Questi editor in stile <em>Microsoft Word</em> rendono molto intuitiva la gestione del testo, la creazione di link, l'utilizzo del grassetto e di altre formattazioni.
                    <br>
                    Va specificato che in queste aree di testo il classico <strong>ritorno a capo</strong> si ottiene premendo <strong>Shift + Invio</strong>
                    mentre premendo <strong>Invio</strong> verrà invece creato un <strong>nuovo paragrafo</strong>.
                    <br>
                    Purtroppo il copia/incolla di testi da <em>Microsoft Word</em> o da altri software/fonti verso un campo di testo munito di editor può provocare problemi di formattazione
                    dovuti a codici propietari (presenti all'interno dei testi copiati) non adatti all'inclusione in pagine web. Per questo motivo l'editor mette a disposizione dei pulsanti
                    che permettono di incollare in modo sicuro il testo precedentemente copiato:
                    <br>
                    - <em>Incolla come testo semplice</em> (vengono rimosse, dal testo precedentemente copiato, tutte le formattazione)
                    <br>
                    - <em>Incolla da Word</em> (vengono rimosse dal testo, precedentemente copiato da Microsoft Word, solo le formattazioni non supportate nelle pagine web)
                </p>
            </div>

        </div> <!-- end #info -->

        <div id="push-footer">&nbsp;</div>

    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

{% endblock container %}