 <fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {{ form_row(form.fkApp) }}

    {{ form_row(form.enabled) }}

     {% for translation in form.translations %}
         {{ form_row(translation.label, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

     {% for translation in form.translations %}
         {{ form_row(translation.abstract, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

     {% for translation in form.translations %}
         {{ form_row(translation.body, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

     {% for translation in form.translations %}
         {{ form_row(translation.fkLanguage) }}
     {% endfor %}

     {% for translation in form.translations %}
         {{ form_row(translation.fkBase) }}
     {% endfor %}

    {{ form_row(form.deleted) }}

    {% if invictusKernel.environment == 'dev' %}
    <div class="tab-debug">
        <b>Config:</b><br>
        <br>
<pre>{# dump(tabConfig) #}</pre>
    </div>
    {% endif %}
</fieldset>