﻿/* da mettere nel bundle dashboard */

#cms-welcome .wrapper{
    padding:                    20px !important;
    font-size:                  12px;
}

#cms-welcome p{
    margin-bottom:              10px;
}

#cms-welcome b,
#cms-welcome strong{
    color:                      #222;
    font-weight:                bold;
}

#cms-welcome i,
#cms-welcome em{
    color:                      #222;
    font-style:                 italic;
}








/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */



/* MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN  */



/* MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN  */



/* SIDEBAR - SIDEBAR - SIDEBAR - SIDEBAR - SIDEBAR - SIDEBAR - SIDEBAR */




/* MENU - MENU - MENU - MENU - MENU - MENU - MENU - MENU - MENU */



/* CMS-TABLE  CMS-TABLE  CMS-TABLE  CMS-TABLE  CMS-TABLE  CMS-TABLE  CMS-TABLE */


/* CMS-TABLE  CMS-TABLE  CMS-TABLE  CMS-TABLE  CMS-TABLE  CMS-TABLE  CMS-TABLE */



/* TREE LAYOUT -  TREE LAYOUT -  TREE LAYOUT -  TREE LAYOUT -  TREE LAYOUT -  TREE LAYOUT */

#tree-layout #cms-sidebar{    
    width:          15%;
}

#tree-layout #cms-treebar{    
    float:          left;    
    width:          20%;    
    margin:         20px 0 0 2%;    
    display:        inline;
}

#tree-layout #cms-treebar #tree,
#tree-layout #cms-treebar #tree > ul{    
    min-height:     300px;    
    background:     #F9F9F9;
}

#tree-layout #cms-treebar #tree{    
    padding:        15px 0;
}

#tree-layout #cms-content{    
    width:          55%;
}

/* TREE LAYOUT -  TREE LAYOUT -  TREE LAYOUT -  TREE LAYOUT -  TREE LAYOUT -  TREE LAYOUT */



/* CMS TREE - CMS TREE - CMS TREE - CMS TREE - CMS TREE - CMS TREE */

#cms-tree #tree{
    background:                 url(../images/icons/loading2.gif) 50% 50% no-repeat !important;
}

#cms-tree #tree ul{
    background:                 #F4F4F4 !important;
}

/* CMS TREE - CMS TREE - CMS TREE - CMS TREE - CMS TREE - CMS TREE */



/* EDIT - EDIT - EDIT - EDIT - EDIT - EDIT - EDIT - EDIT - EDIT */



/* EDIT - EDIT - EDIT - EDIT - EDIT - EDIT - EDIT - EDIT - EDIT */


/* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER */


/* PERSONALIZZAZIONE TYNYMCE (da mettere nel content.css della skin usata) */

/*body, td, pre {color:#333; font-family: "Trebuchet MS",Verdana,Arial,sans-serif; font-size:12px; margin:5px;}*/

/* PERSONALIZZAZIONE TYNYMCE (da mettere nel content.css della skin usata) */



/* DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG */



/* DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG - DIALOG */

