ul.dynatree-container{
    border:                     0;
    background-color:           transparent;
}

span.dynatree-node{
    padding:                    0;
    display:                    block;
}

span.dynatree-icon{
    /*background-image:           url(../img/silky/folder.png);*/
}

ul.dynatree-container a{
    border-color:               transparent;
}

ul.dynatree-container a.dynatree-title i{
    color:                      #AAA;
}