﻿#cms-edit fieldset{
	margin:						0;
	padding:					0;
	border:						0;
}

#cms-edit legend{
    position:                   relative;
    left:                       -15px;
    padding:                    0 15px;
    margin-bottom:              15px;
    font-weight:                bold;
    line-height:                22px;
    border:                     1px solid $border-color;
    background:                 #EEE;
    @include border-radius(2px);
}

#cms-edit label i{
    color:                      #666;
    font-weight:                normal;
}

#cms-edit label b{
    color:                      #222;
    font-style:                 normal;
}

#cms-edit label u{
    color:                      #222;
    font-style:                 normal;
}

#cms-edit label del{
    color:                      #e18a7d;
}

label{
    padding:                    0 20px 0 1px;
    font-size:                  13px !important;
    font-weight:                bold;
    line-height:                20px;
    display:                    block;
    cursor:                     pointer;
    overflow:                   hidden;
    text-overflow:              ellipsis;
    white-space:                nowrap;
}

input{
    height:                     26px;
    padding:                    0;
    color:                      #333;
    font-size:                  $font-size-large-px;
    font-size:                  $font-size-large-rem;
    font-family:                $font-family !important;
    line-height:                26px;
    border:                     1px solid #BFBFBF;
    display:                    inline-block;
    @include border-radius(2px);
    height:                     30px;
    padding:                    3px 3px;
}

#cms-edit select{
    height:                     22px;
    color:                      #333;
	font-family: 			    $font-family !important;
    font-size:                  $font-size-px;
    font-size:                  $font-size-rem;
    border:                     1px solid #BFBFBF;
    display:                    block;
    @include border-radius(2px);
}

#cms-edit textarea{
    min-height:                 300px;
    padding:                    2px 4px;
    margin:                     0;
    color:                      #333;
    font-family:                $font-family !important;
    font-size:                  $font-size-px;
    font-size:                  $font-size-rem;
    border:                     1px solid #BFBFBF;
    display:                    block;
    border-radius:              2px;
}

#cms-edit textarea.syntax{
    min-height:                 36px;
    height:                     auto;
    overflow:                   hidden;
}

.fieldbox{
    position:                   relative;
    width:					            100%;
    float:                      left;
    margin:                     0 0 20px 0;
	  padding:					          0 20px 0 0;
	  display:					          block;
    /*overflow:                   hidden;*/
    text-overflow:              ellipsis;
    -webkit-box-sizing:         border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing:            border-box;    /* Firefox, other Gecko */
    box-sizing:                 border-box;
}

.fieldbox .input-prepend,
.fieldbox .input-append{
    position:                   relative;
}

.fieldbox .input-prepend .input{
    padding-left:               40px !important;
}

.fieldbox .input-append .input{
    padding-right:              40px !important;
}

.fieldbox .input-icon{
    position:                   absolute;
    top:                        1px;
    padding:                    5px 4px;
    background:                 #F4F4F4;
    border-left:                1px solid $border-color;
    cursor:                     pointer;
}

.fieldbox .input-prepend .input-icon{
    left:                       1px;
}

.fieldbox .input-append .input-icon{
    right:                      1px;
}

.fieldbox .inner-wrapper{
    float:                  left;
    width:                  100%;
}

#cms-edit .fieldbox.first{
    clear:                      left;
}

#cms-edit .fieldbox.w75{
    min-width:                  279px;
    width:					    75%;
}

#cms-edit .fieldbox.w50{
    min-width:                  181px;
    width:					    50%;
}

#cms-edit .fieldbox.w25{
    min-width:					83px;
    width:					    25%;
}

.fieldbox.w66{
    width:					    66%;
}

.fieldbox.w33{
    width:					    33%;
}

.fieldbox.w34{
    width:					    34%;
}

.fieldbox.w20{
    width:					    20%;
}

.fieldbox.w10{
    width:					    10%;
}

#cms-edit .fieldbox .errors{
    color:                      #C00;
    font-size:                  11px;
}

input,
textarea{
    width:                      100%;
    -webkit-box-sizing:         border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing:            border-box;    /* Firefox, other Gecko */
    box-sizing:                 border-box;
}

#cms-edit input[type="text"],
#cms-edit input[type="password"]{
    padding:                    0 3px;
}

#cms-edit input[type="email"]{
    padding:                    0 23px 0 3px;
}

#cms-edit input[type="file"]{
    height:                     24px;
}

#cms-edit input[type="hidden"]{
    display:                    none;
}

input[type="submit"]{
    width:                      auto;
    height:                     30px;
    margin-top:                 20px;
    padding:                    2px 15px 5px 13px;
    color:                      #FFF;
    font-weight:                bold;
    background:                 $cms-topbar-bg;
    border:                     1px solid $cms-topbar-bg;
    cursor:                     pointer;
    @include border-radius(2px);
}

input[type="submit"]:hover{
    color:                      #FFF;
    background:                 $cms-edit-heading-bg;
    border:                     1px solid $cms-edit-heading-bg;
    /*box-shadow:                 0 0 5px rgba(117, 158, 26, 1);*/
}

#cms-edit input:focus,
#cms-edit select:focus,
#cms-edit textarea:focus,
#login input:focus,
#login select:focus,
#login textarea:focus{
    border-color:               $cms-edit-heading-bg;
    /*box-shadow:                 0 0 5px rgba(0, 0, 0, 0.3);*/
}

.fieldbox.hidden,
.fieldbox.hidden input{
    display:                    none !important;
}

.fieldbox.translation label{
    padding-left:                24px;
}

.fieldbox.it_IT label{
    background:                 transparent url("../images/flags/it.gif") 2px 50% no-repeat;
}

.fieldbox.en_GB label{
    background:                 transparent url("../images/flags/uk.gif") 2px 50% no-repeat;
}

.fieldbox.es_ES label{
    background:                 transparent url("../images/flags/es.gif") 2px 50% no-repeat;
}

.fieldbox.fr_FR label{
  background:                 transparent url("../images/flags/fr.gif") 2px 50% no-repeat;
}

.fieldbox.de_DE label{
  background:                 transparent url("../images/flags/de.gif") 2px 50% no-repeat;
}

.fieldbox > div.disabled{
    height:                     22px;
    min-width:                  200px;
    padding:                    0 8px 0 28px;
    color:                      #999;
	font-family: 			    $font-family;
    line-height:                22px;
    border:                     1px solid #BFBFBF;
    background:                 url(../img/silky/lock.png) 5px 50% no-repeat;
    display:                    inline-block;
    border-radius:              2px;
}

#cms-edit form .fieldbox.error label{
    color:                      #C00;
}

.fieldbox.error input,
.fieldbox.error textarea{
    border:                     1px solid #C00;
    /*background:                 #FFF url(../../admin/img/silky/exclamation.png) 100% 50% no-repeat;*/
}

#cms-edit form .fieldbox label span{
    position:                   relative;
    bottom:                     1px;
    padding-left:               5px;
    color:                      #C00;
    font-size:                  10px;
    font-style:                 italic;
    display:                    none;
}

form .fieldbox.error label span{
    display:                    inline;
}

@media all and (max-width: 640px) {
    #cms-edit .fieldbox{
        width:                  100% !important;
        margin-bottom:          20px;
    }

    #cms-edit label{
        line-height:                24px !important;
        font-size:				    $font-size-larger-px;
        font-size:				    $font-size-larger-rem;
    }

    #cms-edit input{
        height:                     32px !important;
        font-size:				    $font-size-larger-px !important;
        font-size:				    $font-size-larger-rem !important;
        line-height:                32px !important;
        @include border-radius(2px);
    }
}