﻿/* jqgrid jquery-ui css reset */
#cms-table .ui-jqgrid-hdiv{
    background:         $cms-table-thead-bg !important;
    border-bottom:      0;
}

#cms-table .ui-state-default{
    background:         $cms-table-thead-bg !important;
}

#cms-table .ui-state-default.loading{
    background:         $cms-table-bg !important;
}

#cms-table .ui-jqgrid-hbox{
    padding-right:      0;
}

#cms-table .ui-jqgrid .ui-jqgrid-htable th{
    height:                 32px;
    padding:                0 2px;
    border-right:           1px solid $cms-table-border;
}

#cms-table .ui-jqgrid .ui-jqgrid-htable th:last-child{
    border-right:           0;
}

#cms-table .ui-jqgrid .ui-jqgrid-htable th div{
    padding:                0 5px;
    color:                  $cms-table-thead-font-color;
    font-size:              $font-size-large-px;
    font-size:              $font-size-large-rem;
    font-weight:            bold;
    line-height:            17px;
}

#cms-table .jqgrow{
    border:                 1px solid $cms-table-border;
    border-right:           0 !important;
    background:             $cms-table-row-bg;
}

#cms-table .jqgrow.odd{
    background:             $cms-table-row-odd-bg;
}

#cms-table .ui-jqgrid tr.jqgrow td {
    height:                 29px;
    padding:                0 5px;
    color:                  $cms-table-font-color;
    font-size:				$font-size-px;
    font-size:				$font-size-rem;
    border:                 1px solid $cms-table-border;
}

#cms-table td:last-child{
    border-right:           0 !important;
}

#cms-table .ui-jqgrid .loading{
    color:                  $color;
	font-size:				$font-size-px;
	font-size:				$font-size-rem;
    border:                 1px solid $border-color !important;
}

#cms-table .ui-jqgrid .ui-jqgrid-view {
	font-size:				$font-size-px;
	font-size:				$font-size-rem;
}

#cms-table .ui-jqgrid{
    border:                 0;
}

/* ROWS CONTAINER */
#cms-table .ui-jqgrid-bdiv{
    min-height:             250px;
    /*border-bottom:          1px solid $cms-table-heading-border;*/
    background:             $cms-table-bg;
    overflow:               hidden !important;
}

/* ROW HOVER */
#cms-table .jqgrow.ui-state-hover{
    border:                 1px solid $cms-table-row-hover-border;
    background:             $cms-table-row-hover;
    cursor:                 pointer;
    font-weight:            bold;
}

/* ROW SELECTED */
#cms-table .jqgrow.ui-state-highlight{
    border:                 1px solid $cms-table-row-sel-border;
    background:             $cms-table-row-sel;
}

#cms-table .ui-jqgrid .ui-jqgrid-htable th div {
    padding:                0 2px;
}

#cms-table .ui-jqgrid .ui-jqgrid-htable th div .s-ico{
    padding-left:           5px;
}

#cms-table .ui-jqgrid .ui-pg-table td td.ui-pg-button:hover{
    padding:                1px;
    border:                 0;
}

#cms-table .ui-jqgrid .ui-jqgrid-pager{
    background:             $cms-table-pager-bg !important;
    border-top:             0;
}

#cms-table .ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
    padding:                0;
}

#cms-table .ui-jqgrid .ui-pg-table td td .ui-icon{
    padding:                1px 0 !important;
    margin:                 0 !important;
    border:                 1px solid transparent;
}

#cms-table .ui-jqgrid .ui-pg-table td td.ui-state-hover .ui-icon{
    border:                 1px solid $border-color;
    @include border-radius(2px); 
}

#cms-table .ui-jqgrid .ui-pg-input{
    width:                  30px;
    padding:                1px;
    font-size:				$font-size-small-px;
    font-size:				$font-size-small-rem;
    font-family:            $font-family;
    display:                inline;
}

#cms-table .ui-jqgrid .ui-pg-selbox{
    font-size:				$font-size-small-px;
    font-size:				$font-size-small-rem;
    font-family:            $font-family;
}

#cms-table .ui-jqgrid .ui-paging-info{
    line-height:            19px;
}

#cms-table #pager_center .ui-separator{
    border-right:           0;
}

#cms-table .ui-jqgrid-pager .ui-state-hover{
    background: none;
    border: 1px solid $border-color;
}