﻿.ui-widget{
	font-family: 			    $font-family;
}

.ui-widget-content{    
    color:                      inherit;
}

.ui-tabs .ui-tabs-nav{    
    padding:                    0;    
    border:                     0;    
    background:                 #DEDEDE;
}

.ui-tabs .ui-tabs-nav li{    
    
    margin: 0;    
    top: 0;    
    border:                     0 !important;    
    border-left:                1px solid $border-color !important;    
    -webkit-border-top-left-radius: 0;    
    -webkit-border-top-right-radius: 0;    
    -moz-border-radius-topleft: 0;    
    -moz-border-radius-topright: 0;    
    border-top-left-radius: 0;    
    border-top-right-radius: 0;}
    
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{    
    padding-bottom:             0;
}

.ui-tabs .ui-tabs-selected a:link,
.ui-tabs .ui-tabs-selected a:visited{    
    color:                      #000 !important;
}

.ui-tabs .ui-tabs-hide{     
    display: none !important; 
}

.ui-tabs .ui-state-disabled a{    
    color:                  #999 !important;    
    cursor:                 not-allowed;
}

.ui-tabs .ui-tabs-panel {    
    padding:                0 !important;
}

#ui-datepicker-div{    
    width:                  250px;    
    margin-top:             0;
    padding:                0;    
    border:                 1px solid $border-color;    
    background:             #FFF;    
    -webkit-border-bottom-right-radius: 2px;    
    -webkit-border-bottom-left-radius: 2px;    
    -moz-border-radius-bottomright: 2px;    
    -moz-border-radius-bottomleft: 2px;    
    border-bottom-right-radius: 2px;    
    border-bottom-left-radius: 2px;
}

.ui-datepicker .ui-datepicker-header {
    position:               relative;
    padding:                0;
    border:                 0;
    border-bottom:          1px solid $border-color;    
    -webkit-border-radius:  0;
    -moz-border-radius:     0;
    border-radius:          0;
}

.ui-datepicker .ui-datepicker-title {    
    color:                  #444;    
    font-size:              12px;    
    font-weight:            bold;    
    line-height:            24px;     
    text-align:             center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{     
    top:                    0;    
    width:                  24px;    
    height:                 24px;    
    cursor:                 pointer;
}

/*
.ui-datepicker .ui-datepicker-prev{    
    background:             url(../img/bullet_arrow_left.png) 50% 50% no-repeat;
}

.ui-datepicker .ui-datepicker-next{     
    background:             url(../img/bullet_arrow_right.png) 50% 50% no-repeat;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{     
    display:                none;
}
*/

.ui-datepicker table{    
    margin:                 0;    
    font-size:              11px;
}

.ui-datepicker th{   
    border-bottom:          1px dashed $border-color;    
    background:             #F4F4F4;
}

.ui-datepicker td{     
    padding:                2px;
}

.ui-datepicker td a{     
    text-align:             center;    
    border:                 1px solid #FFF;    
    background:             #DFDFDF !important;
}

.ui-datepicker td.ui-datepicker-today a{     
    background:             #F4F4F4 !important;
}

.ui-datepicker td a:hover,
.ui-datepicker td a:focus,
.ui-datepicker td a.ui-state-active{     
    border:                 1px dashed $border-color;    
    background:             #F4F4F4 !important;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-widget-content {
    border: 0;
}

.ui-dialog {
    padding: 0;
}

.ui-dialog .ui-widget-header{
  height:         32px;
  color:          #FFF;
  font-size:      13px;
  line-height:    32px;
  background:     $darker-color;
  border:         0;
}

.ui-dialog .ui-dialog-titlebar{
  padding:        0 15px;
}

.ui-dialog .ui-dialog-titlebar span{
  margin:          0;
}

.ui-dialog .ui-dialog-titlebar-close{
  display:        none;
}

.ui-dialog .ui-dialog-buttonpane button{
  background:     $lighter-color;
  font-size:      #FFF;
  border:         0;
}

.ui-dialog .ui-dialog-buttonpane button.ui-state-hover{
  background:     $cms-topbar-bg;
  font-size:      #FFF;
  border:         0;
}

.ui-dialog .ui-dialog-buttonpane button span{
    color:          #FFF;
    font-size:      13px;
    font-weight:    bold;
}

.ui-dialog #dialog-confirm{
    padding:        15px;
}