/* - iCheck - iCheck - iCheck - iCheck - iCheck - iCheck - iCheck - iCheck - iCheck -  */

#cms-edit [class*="icheckbox_line-"], #cms-edit [class*="iradio_line-"]{
    padding:        5px 15px 5px 30px;
    font-size:      12px;
    line-height:    16px;
    display:        inline-block;
    border-radius:  2px;
}

#cms-edit [class*="icheckbox_line-"].checked, #cms-edit [class*="iradio_line-"].checked,
#cms-edit [class*="icheckbox_line-"].checked.hover, #cms-edit [class*="iradio_line-"].checked.hover{
    background:     #759E1A;
}

#cms-edit [class*="icheckbox_line-"], #cms-edit [class*="iradio_line-"]
#cms-edit [class*="icheckbox_line-"].hover, #cms-edit [class*="iradio_line-"].hover{
    background:     #bb5547;
}

#cms-edit [class*="icheckbox_line-"] .on{
    display:        none;
}

#cms-edit [class*="icheckbox_line-"].checked .off{
    display:        none;
}

#cms-edit [class*="icheckbox_line-"].checked .on{
    display:        block;
}

@media all and (max-width: 640px) {
    #cms-edit [class*="icheckbox_line-"], #cms-edit [class*="iradio_line-"]{
        line-height:    24px;
        font-size:      16px;
    }
}



/* - select2 - select2 - select2 - select2 - select2 - select2 - select2 - select2 - select2 - */

.select2-container .select2-choice {
    height:         28px;
    line-height:    28px;
    background:     none;
    @include border-radius(0px, true);
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices{
    border:         1px solid $cms-edit-heading-bg;
}


.select2-container .select2-choice div{
    background:     $cms-table-heading-bg;
    @include border-radius(0px, true);
}


.select2-drop {
    font-size:                  $font-size-px;
    font-size:                  $font-size-rem;
    /*border-top:     1px dashed #BFBFBF;*/
    @include border-radius(0px, true);
}


.select2-drop.select2-drop-active {
    border:         1px solid $cms-edit-heading-bg;
}

.select2-search {
    margin:         5px 0 0;
}

@media all and (max-width: 640px) {
    .select2-container .select2-choice {
        line-height:    32px;
        height:         32px;
        font-size:      16px;
    }
}


/* - CodeMirror - CodeMirror - CodeMirror - CodeMirror - CodeMirror - CodeMirror - CodeMirror - CodeMirror - */

.CodeMirror{
    /*width:                      50% !important;*/
    line-height:                1.5em !important;
    border:                     1px solid #BFBFBF;
}
/*
.CodeMirror-scroll {
    min-height:                 40px;
    height: auto !important;
    overflow-y: hidden;
    overflow-x: auto;
    background:                 #FFF !important;
}

.CodeMirror:focus{
    border-color:               #0A9CE0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
*/


/* - fancybox - fancybox - fancybox - fancybox - fancybox - fancybox - fancybox - fancybox - fancybox - fancybox - */

.fancybox-lock body{
    overflow:                   scroll !important;
}

.fancybox-lock #cms-topbar{
    /*padding-right:              42px !important;*/
}

.fancybox-wrap{
    top:                        51px !important;
    padding-bottom:             25px !important;
}

.fancybox-skin{
    border-radius:              1px;
}


/* jstree contextmenu - jstree contextmenu - jstree contextmenu - jstree contextmenu - jstree contextmenu */

#vakata-contextmenu{
    margin-top:                 5px !important;
}

/* noty - noty - noty - noty - noty - noty - noty - noty - noty - noty - noty - noty - noty - noty - noty */

.hidden-menu .noty_bar .noty_message {
    padding: 0 0 0 9px;
}

.collapsed-menu .noty_bar .noty_message {
    padding: 0 0 0 ($cms-menu-collapsed-width + $cms-menu-border-width + 6px);
}

.opened-menu .noty_bar .noty_message {
    padding: 0 0 0 ($cms-menu-opened-width + $cms-menu-border-width + 6px);
}

.noty_bar .noty_text{
    padding:        8px 25px 7px 0;
    font-size:                  $font-size-large-px;
    font-size:                  $font-size-large-rem;
    line-height:    20px;
}

.noty_bar.info{
    color:          #3A87AD;
    background:     #D9EDF7;
    background:     rgba(217, 237, 247, 0.90);
    border-bottom:  $cms-topbar-border-width solid #3A87AD;
}

.noty_bar.success{
    color:          #468847;
    background:     #DFF0D8;
    background:     rgba(223, 240, 216, 0.90);
    border-bottom:  $cms-topbar-border-width solid #468847;
}

.noty_bar.alert{
    color:          #C09853;
    background:     #FCF8E3;
    background:     rgba(252, 248, 227, 0.90);
    border-bottom:  $cms-topbar-border-width solid #C09853;
}

.noty_bar.error{
    color:          #B94A48;
    background:     #F2DEDE;
    background:     rgba(242, 222, 222, 0.90);
    border-bottom:  $cms-topbar-border-width solid #B94A48;
}
.noty_bar .noty_close {
    height:         $cms-topbar-height;
}