#cms-edit .widget-gmap-pin-pointer{

    position:       relative;

    .gmap{
        border:         1px solid #BFBFBF;
        background:     #EEE url("../images/icons/load_on_mouseover.png") 50% 50% no-repeat;
    }

    .marker-overlay{

        position:       absolute;
        top:            0;
        /*left:           -20px;*/
        width:          100%;
        height:         100%;
        background:     rgba(220, 220, 220, 0.5);
        display:        none;

    }

    .marker-overlay.visible{
         display:        block;
     }

    section.marker-form{
        position:       absolute;
        top:            50px;
        right:          5%;
        width:          300px;
        padding:        40px 20px 20px 20px;
        background:     #FFF;
        border:         1px solid #BFBFBF;
        @include border-radius(2px);
        display:        none;

        header{
            position:       absolute;
            top:            0;
            right:          0;
            width:          100%;
            height:         25px;
            border-bottom:  1px solid #BFBFBF;
            background:     #EEE;
            cursor:         move;
        }

        .close{
            position:       absolute;
            top:            0;
            right:          0;
            padding:        5px;
            color:          #333;
            cursor:         pointer;
        }

        .locale-selector{
            position:       absolute;
            top:            4px;
            left:           15px;
            padding:        0;
        }

        textarea{
            min-height:     70px;
            max-height:     300px;
            resize:         vertical;
        }

        input[type=submit]{
            margin:                 20px 0 0 0;
        }
    }

    section.marker-form.visible{
        display:        block;
    }

    .geo-points-fields{
        display:        none;
    }

}