#widget-visibility-selector{
    float:                  left;
    margin-bottom:          25px;
    clear:                  both;
}

#widget-visibility-selector .app{
    float:                  left;
    margin-bottom:          25px;
    clear:                  both;
}

#widget-visibility-selector .app strong{
    margin-bottom:          8px;
    padding:                0 15px 0 0;
    font-weight:            bold;
    line-height:            25px;
    border-bottom:          1px solid $border-color;
    display:                inline-block;
    cursor:                 pointer;
}

#widget-visibility-selector .app strong:hover{
    padding:                0 15px 0 15px;
    color:                  #FFF;
    background-color:      #2489C5;
    border-bottom:          1px solid #2489C5;
}

#widget-visibility-selector .language{
    float:                  left;
    margin-right:           20px;
}

#widget-visibility-selector li label{
    padding:                0 5px;
    font-weight:            normal;
    display:                inline-block;
}

#widget-visibility-selector li .icheckbox_square-blue{
    display:                inline-block;
}