#widget-relation-selector header{
    float:                  left;
    width:                  100%;
    color:                  $darker-color;
    line-height:            25px;
    background:             tint($cms-edit-heading-bg, 20%);
    border-bottom:          1px solid $border-color;
    display:                block;
}

#widget-relation-selector header strong{
    font-weight:            bold;
}

#widget-relation-selector header img.language{
    margin:                 0 2px;
    padding:                0 5px;
    cursor:                 pointer;
    opacity:                0.3;
}

#widget-relation-selector header img.language.sel{
    opacity:                1;
}

#widget-relation-selector .inner-wrapper{
    border:                 1px solid $border-color;
    background:             #F9F9F9;
    @include border-radius-top(0);
}

#widget-relation-selector .sorter{
    display:                none;
}

#widget-relation-selector .inner-wrapper .sorter.first{
    display:                block;
}

#widget-relation-selector .select2-container-multi{
    max-height:             400px;
    padding:                0;
    background:             #F9F9F9;
    overflow:               auto;
}

#widget-relation-selector .select2-container-multi .select2-choices{
    position:               relative;
    padding:                30px 0 15px 0;
    border:                 0;
    background:             none;
    box-shadow:             none;
}

#widget-relation-selector .select2-container-multi .select2-search-field{
    position:               absolute;
    top:                    0;
    width:                  100%;
    margin:                 0;
    padding:                0 !important;
    border-bottom:          1px solid $border-color !important;
    background:             #FFF !important;
    box-shadow:             none;
}

#widget-relation-selector .select2-container-multi .select2-search-field input{
    width:                  100%;
    padding:                0 0 0 50px;
    background:             url(/bundles/invictuscms/images/icons/search.png) 25px 50% no-repeat !important;
    box-shadow:             none;
}

#widget-relation-selector .select2-container-multi .select2-choices .select2-search-choice{
    width:                  100%;
    margin:                 10px 10px 0 10px;
    padding:                0;
    color:                  #666;
    line-height:            1.6rem;
    background:             none;
    border:                 0px;
    overflow:               hidden;
    box-shadow:             none;
    text-overflow:          ellipsis;
    white-space:            nowrap;
    box-sizing:             border-box;
    @include border-radius(0, true);
}

#widget-relation-selector .select2-container-multi .select2-choices .select2-search-choice div{
    margin-right:           20px;
    padding:                0;
    background:             #EFEFEF;
}

#widget-relation-selector .select2-container-multi .select2-choices .select2-search-choice div span.position{
    width:                  25px;
    text-align:             center;
    display:                inline-block;
}

#widget-relation-selector .select2-container-multi .select2-choices .select2-search-choice div.enabled{
    padding:                7px 10px 7px 5px;
    border:                 0;
    border-left:            5px solid #759E1A;
}

#widget-relation-selector .select2-container-multi .select2-choices .select2-search-choice div.disabled{
    padding:                7px 10px 7px 5px;
    border:                 0;
    border-left:            5px solid #95a5a6;
}

#widget-relation-selector .select2-container-multi .select2-search-choice-close{
    top:                    8px !important;
    left:                   auto;
    right:                  25px !important;
}

.select2-drop.select2-drop-above{
    margin-top:             -1px;
}

/* SIMPLE SELECTOR - SIMPLE SELECTOR - SIMPLE SELECTOR - SIMPLE SELECTOR - SIMPLE SELECTOR */

#widget-relation-selector.simple .select-wrapper{
    float:                  left;
    width:                  96%;
    margin:                 5px 2%;
}

#widget-relation-selector.simple .select-wrapper select{
    box-sizing:             border-box;
}