#widget-position-sorter header{
    float:                  left;
    width:                  100%;
    color:                  $cms-edit-heading-font-color;
    line-height:            25px;
    background:             tint($cms-edit-heading-bg, 20%);
    border-bottom:          1px solid #CCC;
    display:                block;
}

#widget-position-sorter header strong{
    font-weight:            bold;
}

#widget-position-sorter header img.language{
    margin:                 0 2px;
    padding:                0 5px;
    cursor:                 pointer;
    opacity:                0.3;
}

#widget-position-sorter header img.language.sel{
    opacity:                1;
}

#widget-position-sorter .inner-wrapper{
    border:                 1px solid #BFBFBF;
    @include border-radius-top(0px);
}

#widget-position-sorter .sorter{
    display:                none;
}

#widget-position-sorter .inner-wrapper .sorter.first{
    display:                block;
}

#widget-position-sorter ul{
    float:                  left;
    width:                  100%;
    max-height:             360px;
    overflow:               auto;
}

#widget-position-sorter li{
    position:               relative;
    margin:                 10px;
    padding:                7px 50px 7px 5px;
    line-height:            1.6rem;
    background:             #EFEFEF;
    /*cursor:                 ns-resize;*/
    overflow:               hidden;
    text-overflow:          ellipsis;
    white-space:            nowrap;
}

#widget-position-sorter .sortable span.position{
    width:                  25px;
    text-align:             center;
    display:                inline-block;
}

#widget-position-sorter .sortable li.enabled{
    border-left:            5px solid #759E1A;
}

#widget-position-sorter .sortable li.disabled{
    border-left:            5px solid #95a5a6;
}

#widget-position-sorter .sortable li .up,
#widget-position-sorter .sortable li .down{
    position:               absolute;
    right:                  5px;
    top:                    0;
    padding:                7px 2px;
    cursor:                 pointer;
}

#widget-position-sorter .sortable li .down {
    right:                  35px;
}

#widget-position-sorter .sortable li:first-child .up{
    display:                none;
}

#widget-position-sorter .sortable li:last-child .down{
    display:                none;
}

.select2-drop.select2-drop-above{
    margin-top:             -1px;
}