<fieldset id="{{ key  }}">
    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>
    
    Relation tab content   
    
<div class="tab-debug">
<pre>
{{ key }}
{# dump(tabConfig) #}
</pre>
</div>
    
</fieldset>