Widget: relation app language selector.<br>
<br>

<input type="hidden" name="widget[setAppLanguageRelations]" value="relations" />

<div id="widget-relation-selector">

{% set relationSide = 'owning' %}
{% set relationSlot = 1 %}

<div class="fieldbox w50">
    {% if action == 'update' %}
    <div class="inner-wrapper">
        <header>
            <div class="button caption pull-left">
                <span class="label">
                    <b>Languages</b>
                </span>
            </div>
            <div class="divider pull-left"></div>
        </header>
        {% set appId = item.getId() %}
        {% set items = invictusKernel.getAppLanguageRelations(appId, widget.filters, widget.label) %}

        {% set relationIdentifier = key %}
        <input type="hidden" name="relations[{{ relationIdentifier }}][side]" value="{{ relationSide }}" />
        <input type="hidden" name="relations[{{ relationIdentifier }}][slot]" value="{{ relationSlot }}" />
        <input type="hidden" name="relations[{{ relationIdentifier }}][fk_app_id]" value="{{ appId }}" />
        <select name="relations[{{ relationIdentifier }}][fk_language_id][]" class="select2Sortable" style="width:100%" multiple>
            {% for item in items %}
                {% set label = item.label ? item.label : '...' %}
                {% set class = item.enabled ? 'enabled' : 'disabled' %}
                {% set position = item.position is null ? '?' : item.position ~ '°' %}
                {% set selected = item.position is null ? '' : 'selected' %}
                <option value="{{ item.id }}" class="{{ class }}" data-position="{{ position }}" {{ selected }}>{{ label|raw }} [{{ item.id }}] </option>
            {% endfor %}
        </select>

    </div>
    {% else %}
        Associazione disponibile solo in modifica
    {% endif %}
</div>

{% if invictusKernel.environment == 'dev' %}
<div class="fieldbox"></div>
<div class="fieldbox w50">

<div class="tab-debug">
<table>
    <tr>
        <td>fk_app_id</td>
        <td>fk_language_id</td>
        <td>fk_module_id_a</td>
        <td>fk_item_id_a</td>
        <td>fk_module_id_b</td>
        <td>fk_item_id_b</td>
        <td>slot</td>
    </tr>
    <tr>
        <td>“appId”</td>
        <td>“languageId”</td>
        <td>NULL</td>
        <td>NULL</td>
        <td>NULL</td>
        <td>NULL</td>
        <td>1</td>
    </tr>
</table>

</pre>

</div>
</div>
{% endif %}