Widget: simple relation selector.<br>
<br>
{% set keyPart = widget.mainConfigKey|split('.') %}
{% set relatedMainConfig = config %}
{% for part in keyPart %}
    {% set relatedMainConfig = relatedMainConfig[part] %}
{% endfor %}

<input type="hidden" name="widget[setRelations]" value="relations" />

<div id="widget-relation-selector" class="simple">

{% if relatedMainConfig is defined and relatedMainConfig %}

    {% set relationSide = relatedMainConfig.side is defined ? relatedMainConfig.side : 'owning' %}
    {% set relationSlot = relatedMainConfig.slot is defined ? relatedMainConfig.slot : 1 %}
    {% set relationMA = relatedMainConfig.MA ? 1 : 0 %}
    {% set relationML = relatedMainConfig.ML ? 1 : 0 %}
    {% set relationModuleId = relatedMainConfig.moduleId %}

    {% set itemId = action == 'update' ? item.id : false %}
    {% if relationSide == 'owning' %}
        {% set owningModuleId = invictusKernel.moduleId %}
        {% set inverseModuleId = relationModuleId %}
        {% set knownItemField = 'fk_item_id_a' %}
        {% set knownItemId = itemId %}
        {% set relatedItemField = 'fk_item_id_b' %}
    {% else %}
        {% set owningModuleId = relationModuleId %}
        {% set inverseModuleId = invictusKernel.moduleId %}
        {% set knownItemField = 'fk_item_id_b' %}
        {% set knownItemId = itemId %}
        {% set relatedItemField = 'fk_item_id_a' %}
    {% endif %}

    {% if relationMA and relationML %}

        {% set currApp = '' %}
        {% for app in invictusKernel.userMALTree[moduleTag]['apps'] %}

            {% for language in app.languages %}

                {% set appLabel = invictusKernel.userALMTree[app.id]['label'] %}
                {% set languageLabel = invictusKernel.userLanguages[language.id]['label'] %}
                <div class="fieldbox w25">
                    <div class="inner-wrapper">
                        <header>
                            <div class="button caption pull-left">
                                <span class="label">
                                    <strong>{{ appLabel }}</strong>
                                    <img src="/bundles/invictuscms/images/flags/{{ invictusKernel.userLanguages[language.id]['icon'] }}" alt="{{ languageLabel }}" title="{{ languageLabel }}" />
                                </span>
                            </div>
                            <div class="divider pull-left"></div>
                        </header>


                        {% set items = invictusKernel.getRelations(relationSide, app.id, language.id, owningModuleId, inverseModuleId, knownItemId, relationSlot, widget.filters, widget.label) %}
                        {#
                        <pre>{{ dump(items) }}</pre>
                        #}
                        {% set relationIdentifier = key ~ '_' ~ app.id ~ '_' ~ language.id %}
                        <input type="hidden" name="relations[{{ relationIdentifier }}][side]" value="{{ relationSide }}" />
                        <input type="hidden" name="relations[{{ relationIdentifier }}][slot]" value="{{ relationSlot }}" />
                        <input type="hidden" name="relations[{{ relationIdentifier }}][fk_app_id]" value="{{ app.id }}" />
                        <input type="hidden" name="relations[{{ relationIdentifier }}][fk_language_id]" value="{{ language.id }}" />
                        <input type="hidden" name="relations[{{ relationIdentifier }}][fk_module_id_a]" value="{{ owningModuleId }}" />
                        <input type="hidden" name="relations[{{ relationIdentifier }}][fk_module_id_b]" value="{{ inverseModuleId }}" />
                        <input type="hidden" name="relations[{{ relationIdentifier }}][{{ knownItemField }}]" value="{{ knownItemId }}" />
                        <select name="relations[{{ relationIdentifier }}][{{ relatedItemField }}][]" id="{{ relationIdentifier }}" class="select2" style="width:100%">
                            <option value="" selected>{{ 'selectAnOption'|trans() }}</option>
                            {% for item in items %}
                                {% set label = item.label ? item.label : '...' %}
                                {% set class = item.enabled ? 'enabled' : 'disabled' %}
                                {% set position = item.position is null ? '?' : item.position ~ '°' %}
                                {% set selected = item.position is null ? '' : 'selected' %}
                                <option value="{{ item.id }}" class="{{ class }}" data-position="{{ position }}" {{ selected }}>{{ label|raw }} [{{ item.id }}] </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

            {% endfor %}

        {% endfor %}

    {% elseif relationMA and not relationML %}

        {% set currApp = '' %}
        {% for app in invictusKernel.getUserApps() %}

            {% set appLabel = invictusKernel.userALMTree[app.id]['label'] %}

            <div class="fieldbox w50">
                <div class="inner-wrapper">
                    <header>
                        <div class="button caption pull-left">
                        <span class="label">
                            <strong>{{ appLabel }}</strong>
                        </span>
                        </div>
                        <div class="divider pull-left"></div>
                    </header>
                    {% set items = invictusKernel.getRelations(relationSide, app.id, null, owningModuleId, inverseModuleId, knownItemId, relationSlot, widget.filters, widget.label) %}

                    {% set relationIdentifier = key ~ '_' ~ app.id  %}
                    <input type="hidden" name="relations[{{ relationIdentifier }}][side]" value="{{ relationSide }}" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][slot]" value="{{ relationSlot }}" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][fk_app_id]" value="{{ app.id }}" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][fk_language_id]" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][fk_module_id_a]" value="{{ owningModuleId }}" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][fk_module_id_b]" value="{{ inverseModuleId }}" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][{{ knownItemField }}]" value="{{ knownItemId }}" />
                    <div class="select-wrapper">
                        <select name="relations[{{ relationIdentifier }}][{{ relatedItemField }}][]" class="select2" style="width:100%">
                            <option value="" selected>{{ 'selectAnOption'|trans() }}</option>
                            {% for item in items %}
                                {% set label = item.label ? item.label : item.label %}
                                {% set class = item.enabled ? 'enabled' : 'disabled' %}
                                {% set position = item.position is null ? '?' : item.position ~ '°' %}
                                {% set selected = item.position is null ? '' : 'selected' %}
                                <option value="{{ item.id }}" class="{{ class }}" data-position="{{ position }}" {{ selected }}>{{ label|raw }} [{{ item.id }}] </option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
            </div>

        {% endfor %}

    {% elseif not relationMA and relationML %}

        {% for language in invictusKernel.getUserLanguages(moduleTag) %}

            {% set languageLabel = invictusKernel.userLanguages[language.id]['label'] %}

            <div class="fieldbox w25">
                <div class="inner-wrapper">
                    <header>
                        <div class="button caption pull-left">
                            <span class="label">
                                <img src="/bundles/invictuscms/images/flags/{{ invictusKernel.userLanguages[language.id]['icon'] }}" alt="{{ languageLabel }}" title="{{ languageLabel }}" />
                            </span>
                        </div>
                        <div class="divider pull-left"></div>
                    </header>

                    {% set items = invictusKernel.getRelations(relationSide, null, language.id, owningModuleId, inverseModuleId, knownItemId, relationSlot, widget.filters, widget.label) %}

                    {% set relationIdentifier = key ~ '_' ~ language.id %}
                    <input type="hidden" name="relations[{{ relationIdentifier }}][side]" value="{{ relationSide }}" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][slot]" value="{{ relationSlot }}" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][fk_app_id]" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][fk_language_id]" value="{{ language.id }}" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][fk_module_id_a]" value="{{ owningModuleId }}" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][fk_module_id_b]" value="{{ inverseModuleId }}" />
                    <input type="hidden" name="relations[{{ relationIdentifier }}][{{ knownItemField }}]" value="{{ knownItemId }}" />
                    <select name="relations[{{ relationIdentifier }}][{{ relatedItemField }}][]" class="select2" style="width:100%">
                        <option value="" selected>{{ 'selectAnOption'|trans() }}</option>
                        {% for item in items %}
                            {% set label = item.label ? item.label : '...' %}
                            {% set class = item.enabled ? 'enabled' : 'disabled' %}
                            {% set position = item.position is null ? '?' : item.position ~ '°' %}
                            {% set selected = item.position is null ? '' : 'selected' %}
                            <option value="{{ item.id }}" class="{{ class }}" data-position="{{ position }}" {{ selected }}>{{ label|raw }} [{{ item.id }}] </option>
                        {% endfor %}
                    </select>

                </div>
            </div>

        {% endfor %}

    {% elseif not relationMA and not relationML %}

        <div class="fieldbox w25">
            <div class="inner-wrapper">
                <header>
                    <div class="button caption pull-left">
                        <span class="label">
                            All <b>Apps</b> and <b>Languages</b>
                        </span>
                    </div>
                    <div class="divider pull-left"></div>
                </header>

                {% set items = invictusKernel.getRelations(relationSide, null, null, owningModuleId, inverseModuleId, knownItemId, relationSlot, widget.filters, widget.label) %}

                {% set relationIdentifier = key %}
                <input type="hidden" name="relations[{{ relationIdentifier }}][side]" value="{{ relationSide }}" />
                <input type="hidden" name="relations[{{ relationIdentifier }}][slot]" value="{{ relationSlot }}" />
                <input type="hidden" name="relations[{{ relationIdentifier }}][fk_app_id]" />
                <input type="hidden" name="relations[{{ relationIdentifier }}][fk_language_id]" />
                <input type="hidden" name="relations[{{ relationIdentifier }}][fk_module_id_a]" value="{{ owningModuleId }}" />
                <input type="hidden" name="relations[{{ relationIdentifier }}][fk_module_id_b]" value="{{ inverseModuleId }}" />
                <input type="hidden" name="relations[{{ relationIdentifier }}][{{ knownItemField }}]" value="{{ knownItemId }}" />
                <select name="relations[{{ relationIdentifier }}][{{ relatedItemField }}][]" class="select2" style="width:100%">
                    <option value="" selected>{{ 'selectAnOption'|trans() }}</option>
                    {% for item in items %}
                        {% set label = item.label ? item.label : '...' %}
                        {% set class = item.enabled ? 'enabled' : 'disabled' %}
                        {% set position = item.position is null ? '?' : item.position ~ '°' %}
                        {% set selected = item.position is null ? '' : 'selected' %}
                        <option value="{{ item.id }}" class="{{ class }}" data-position="{{ position }}" {{ selected }}>{{ label|raw }} [{{ item.id }}] </option>
                    {% endfor %}
                </select>

            </div>
        </div>

    {% endif %}

{% else %}
    <br /><br />“<b>{{ key }}</b>” in Main config undefined or set to false
{% endif %}

{% if invictusKernel.environment == 'dev' %}
<div class="fieldbox"></div>
<div class="fieldbox w50">

<div class="tab-debug">


{% if relationSide == 'owning' %}
    {% set owningModuleTag = invictusKernel.moduleTag %}
    {% set owningItemId = knownItemId %}
    {% set inverseModuleTag = invictusKernel.getModule({id:inverseModuleId}).getTag() %}
    {% set inverseItemId = '?' %}
{% else %}
    {% set owningModuleTag = invictusKernel.getModule({id:owningModuleId}).getTag() %}
    {% set owningItemId = '?' %}
    {% set inverseModuleTag = invictusKernel.moduleTag %}
    {% set inverseItemId = knownItemId %}
{% endif %}
<table>
    <tr>
        <td>fk_app_id</td>
        <td>fk_language_id</td>
        <td>fk_module_id_a</td>
        <td>fk_item_id_a</td>
        <td>fk_module_id_b</td>
        <td>fk_item_id_b</td>
        <td>slot</td>
    </tr>
    <tr>
        <td>{{ relationMA ? '“appId”' : 'NULL' }}</td>
        <td>{{ relationML ? '“languageId”' : 'NULL' }}</td>
        <td>{{ owningModuleId }} ({{ owningModuleTag }})</td>
        <td>{{ owningItemId }}</td>
        <td>{{ inverseModuleId }} ({{ inverseModuleTag }})</td>
        <td>{{ inverseItemId }}</td>
        <td>{{ relationSlot }}</td>
    </tr>
</table>

<pre>

<b>Generated variables:</b>

relationModuleId: {{ relationModuleId }}
itemId : {{ itemId }}
relationSide: {{ relationSide }}
relationSlot: {{ relationSlot }}
relationMA: {{ relationMA }}
relationML: {{ relationML }}
owningModuleId: {{ owningModuleId }}
inverseModuleId: {{ inverseModuleId }}
knownItemField: {{ knownItemField }}
knownItemId: {{ knownItemId }}
relatedItemField: {{ relatedItemField }}


<b>Widget config “{{ key }}”:</b>

{# dump(widget) #}


<b>Related main config “{{ widget.mainConfigKey }}”:</b>

{% if relatedMainConfig is defined and relatedMainConfig %}{# dump(relatedMainConfig) #}{% endif %}

</pre>

</div>
</div>
{% endif %}