{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
    {% set catId = row.fkCategory.id|default(false) ? '(' ~ row.fkCategory.id ~ ')' : '' %}
"{{ row.id }}",
"{{ row.visibleDate|date("d.m.Y") }}{% if(row.fromDate or row.toDate) %}
{% set from = row.fromDate ? row.fromDate|date("d.m.Y") : '...' %}
{% set to = row.toDate ? row.toDate|date("d.m.Y") : '...' %}
 <small>( {{ from }} - {{ to }} )</small>{% endif %}",
"{{ row.translations[0].label }}",
    "{{ row.fkCategory.translations[0].label|default('?') }} {{ catId }}"
{% endblock %}