body{
    color:          #333;
    font-family:    Arial;
    font-size:      16px;
}

header,
h1,
#buyer,
#items,
footer{
    width:      960px;
    margin:     0 auto;
}

header{
    margin-bottom:  50px;
    text-align:     center;
}

h1{
    font-size:  18px;
    line-height:    28px;
}

address{
    font-style: normal;
    line-height:    24px;
}

address span{
    font-size:      18px;
    font-weight:    bold;
}

th{
    padding:    15px;
    text-align: left;
    background: #EEE;
}

td{
    padding:    15px;
    text-align: left;
}

#buyer{
    text-align:     right;
}

#buyer address{
    padding:    50px 30px 100px 0;
}

footer{
    margin-top:  100px;
    text-align: center;
}

footer img{
    width:      513px;
}

.sf-toolbar{
    display:    none;
    visibility: hidden;
    z-index:    -100;
    position:   absolute;
    top:    -9999px;
    left:   -999px;
}