<div class="fieldbox">
Widget: Visibility selector <br>
<br>

<input type="hidden" name="widget[setAllVisibilities]" value="visibilities" />

    {% set fullALTree = invictusKernel.repositoryProxy('InvictusCms', 'Setting', 'getFullALTree', []) %}
    {% set checkedVisibilities = invictusKernel.getCheckedVisibilities(moduleId, id) %}

    {% set currApp = '' %}
    <ul id="widget-visibility-selector" class="MA ML">
    {% for app in fullALTree %}

        {% if app.label != currApp %}
            <li class="app {{ app.id }}">
            <strong>{{ app.label }}</strong>
        {% endif %}

        {% if config.visibility.ML %}
            {% if app.languages|length %}
                <ul>
            {% endif %}
            {% for language in app.languages %}
                <li class="language {{ language.id }}">
                    {% set checked = checkedVisibilities['apps'][app.id]['languages'][language.id] is defined ? 'checked="checked"' : '' %}
                    <input type="checkbox" id="visibility_{{ app.id }}_{{ language.id }}" class="checkbox" name="visibilities[apps][{{ app.id }}][languages][{{ language.id }}]" {{ checked }} />
                    <label for="visibility_{{ app.id }}_{{ language.id }}">
                        <img src="/bundles/invictuscms/images/flags/{{ language.icon }}" alt="" />
                        {{ language.label }}
                    </label>
                </li>
            {% endfor %}
            {% if app.languages|length %}
                </ul>
            {% endif %}
        {% endif %}

        {% if app.label != currApp %}
            </li>
            {% set currApp = app.label %}
        {% endif %}

    {% endfor %}
    </ul>

</div>

{% if invictusKernel.environment == 'dev' %}
<div class="fieldbox"></div>
<div class="fieldbox w50">
<div class="tab-debug">
<pre>
<b>Checked visibilities:</b>
{# dump(checkedVisibilities) #}
</pre>
</div>
</div>
{% endif %}