<div class="fieldbox">
Widget: Visibility selector <br>
<br>

<input type="hidden" name="widget[setVisibilities]" value="visibilities" />

{% set checkedVisibilities = invictusKernel.getCheckedVisibilities(moduleId, id) %}

{% if config.visibility.MA and not config.visibility.ML %}

    <ul id="widget-visibility-selector" class="MA">
        {% for app in invictusKernel.getUserApps() %}
            <li class="app">
                {% set checked = checkedVisibilities['apps'][app.id] is defined ? 'checked="checked"' : '' %}
                {% set checked = action == 'add' ? 'checked="checked"' : checked %}
                <input type="checkbox" id="visibility_{{ app.id }}"class="checkbox" name="visibilities[apps][{{ app.id }}]" {{ checked }} />
                <label for="visibility_{{ app.id }}">{{ app.label }}</label>
            </li>
        {% endfor %}
    </ul>

{% elseif not config.visibility.MA and config.visibility.ML %}
       <ul id="widget-visibility-selector" class="ML">
        {% for language in invictusKernel.getUserLanguages(moduleTag) %}
            <li class="language {{ language.id }}">
                {% set checked = checkedVisibilities['languages'][language.id] is defined ? 'checked="checked"' : '' %}
                {% set checked = action == 'add' ? 'checked="checked"' : checked %}
                <input type="checkbox" id="visibility_{{ language.id }}" class="checkbox" name="visibilities[languages][{{ language.id }}]" {{ checked }} />
                <label for="visibility_{{ language.id }}">
                    <img src="/bundles/invictuscms/images/flags/{{ language.icon }}" alt="" />
                    {{ language.label }}
                </label>
            </li>
        {% endfor %}
    </ul>

{% elseif config.visibility.MA and config.visibility.ML %}

    {% set currApp = '' %}
    <ul id="widget-visibility-selector" class="MA ML">
    {% for app in invictusKernel.userMALTree[moduleTag]['apps'] %}

        {% if app.label != currApp %}
            <li class="app {{ app.id }}">
            <strong>{{ app.label }}</strong>
        {% endif %}

        {% if config.visibility.ML %}
            {% if app.languages|length %}
                <ul>
            {% endif %}
            {% for language in app.languages %}
                <li class="language {{ language.id }}">
                    {% set checked = checkedVisibilities['apps'][app.id]['languages'][language.id] is defined ? 'checked="checked"' : '' %}
                    {% set checked = action == 'add' ? 'checked="checked"' : checked %}
                    <input type="checkbox" id="visibility_{{ app.id }}_{{ language.id }}" class="checkbox" name="visibilities[apps][{{ app.id }}][languages][{{ language.id }}]" {{ checked }} />
                    <label for="visibility_{{ app.id }}_{{ language.id }}">
                        <img src="/bundles/invictuscms/images/flags/{{ language.icon }}" alt="" />
                        {{ language.label }}
                    </label>
                </li>
            {% endfor %}
            {% if app.languages|length %}
                </ul>
            {% endif %}
        {% endif %}

        {% if app.label != currApp %}
            </li>
            {% set currApp = app.label %}
        {% endif %}

    {% endfor %}
    </ul>

{% else %}
    Senseless configuration, disable tab visibility instead and use enabled button
{% endif %}
</div>

{% if invictusKernel.environment == 'dev' %}
<div class="fieldbox"></div>
<div class="fieldbox w50">
<div class="tab-debug">
<pre>
{# {{ dump(invictusKernel.userMALTree[moduleTag]['apps']) }} #}

<b>Checked visibilities:</b>
{# dump(checkedVisibilities) #}
</pre>
</div>
</div>
{% endif %}