<fieldset id="{{ key  }}">

    {#
    {{ invictusKernel.getItemIdentifier(form.vars.value.fkModule.id, 14) }}
    #}

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>


    {% if(action == 'update' and invictusKernel.layout == 'standard') %}
        <p class="info">
        {% set moduleLabel = invictusKernel.getIdentifier(4, item.fkModule.id, locale) %}
        {% set elementIdentifier = invictusKernel.getIdentifier(item.fkModule.id, item.fkItemId, locale) %}
        {% trans with { '%typologyLabel%': item.fkAttachmentTypology.translations[0].label,'%moduleLabel%': moduleLabel, '%elementId%': item.fkItemId, '%elementIdentifier%': elementIdentifier} from "attachment" %}info{% endtrans %}
        </p>
    {% endif %}

    {% if(invictusKernel.layout == 'nested') %}
        <p class="info">
        {% set moduleLabel = invictusKernel.getIdentifier(4, invictusKernel.parentModuleId, locale) %}
        {% set elementIdentifier = invictusKernel.getIdentifier(invictusKernel.parentModuleId, invictusKernel.parentItemId, locale) %}
        {% trans with { '%moduleLabel%': moduleLabel, '%elementId%': invictusKernel.parentItemId, '%elementIdentifier%': elementIdentifier} from "attachment" %}infoNested{% endtrans %}
        </p>
    {% endif %}

    {% set fkModuleValue = (invictusKernel.layout == 'nested') ? invictusKernel.parentModuleId : item.fkModule.id  %}
    {{ form_row(form.fkModule, { value : fkModuleValue }) }}

    {% if(invictusKernel.layout == 'nested') %}
        {% set parentModuleTag = invictusKernel.parentModuleTag %}
        {% set parentItemId = invictusKernel.parentItemId %}
    {% else %}
        {% set parentModuleTag = item.fkModule.tag %}
        {% set parentItemId = item.fkItemId %}
    {% endif %}

    <!-- il campo attachment[fk(tagModuloPadre)Item] viene fatto a mano per prendere dinamicamente il tag del modulo dalla richiesta -->
    <!--
    <input type="hidden" id="attachment_fkItemId" name="attachment[fkItemId]" value="{{ parentItemId }}">
    -->

    {{ form_row(form.fkItemId, { value : parentItemId }) }}


    {% if(invictusKernel.layout == 'nested') %}

        {% set parentItem = invictusKernel.getItemByModuleIdAndItemId(invictusKernel.parentModuleId, invictusKernel.parentItemId) %}
        {% set parentModule = invictusKernel.getModule({id:invictusKernel.parentModuleId}) %}
        {% set templateId = parentItem ? parentItem.fkTemplate.id|default(false) : false %}
        {% set templateId = templateId ? templateId : parentModule.fkTemplate.id|default(false) %}

        {% set relatedAttachments = invictusKernel.getRelatedElementsFromConfig([
                                        { moduleId: 12, itemId: templateId, relationIndex: 'attachmentTypology-owning-1'},
                                        { moduleId: 5, joins: {visibility:false, position: false, metadata: false} },
                                        false
                                    ])['data'] %}
        <div class="fieldbox typology first w50">
            <label class="required" for="attachment_fkAttachmentTypology">{{ 'typology'|trans({}, 'attachment') }}</label>
            <select class="select2" name="attachment[fkAttachmentTypology]" id="attachment_fkAttachmentTypology" style="width: 100%;">
                {% if relatedAttachments|length > 1 %}
                <option value="">{{ 'selectFileTypology'|trans({}, 'attachment') }}</option>
                {% endif %}
                {% set fkAttachmentTypology = action == 'update' ? item.fkAttachmentTypology.id : 0  %}
                {% for attachment in relatedAttachments %}
                    {% set selected = attachment.id == fkAttachmentTypology ? 'selected="selected"' : '' %}
                    <option value="{{ attachment.id }}" {{ selected }}>{{  attachment.translations[0].label }}</option>
                {% endfor %}
            </select>
        </div>

    {% else %}
        <select name="attachment[fkAttachmentTypology]" id="attachment_fkAttachmentTypology" style="width: 100%;display:none">
            <option selected="selected" value="{{ item.fkAttachmentTypology.id }}">Tipology set in "{{ moduleLabel }}" module</option>
        </select>
    {% endif %}

    {#
    <div class="fieldbox first" style="display:none">
    {{ 'uploads/fo_01.13710432825096.jpg' | imagine_filter('invictus_instant_preview') }}
    <img src="{{ 'uploads/img.jpg' | imagine_filter('invictus_thumb') }}" />
    <img src="{{ 'uploads/img.jpg' | imagine_filter('invictus_instant_preview') }}" />
    </div>
    #}

    {{ form_row(form.enabled, {'fieldboxClass': 'enabled'}) }}


    <div id="upload">
        <div id="preview-wrapper">
            {% if(action == 'update' and item.filename and (item.fkAttachmentTypology.type == 'image' or item.fkAttachmentTypology.type == 'panorama' or item.fkAttachmentTypology.type == 'video')) %}
                {% set imgPath = (action == 'update') ? form.vars.value.filename : '' %}
                {% set previewBg = imgPath | imagine_filter('invictus_instant_preview') %}
                {% set previewStyle = 'style="background-image:url(' ~ previewBg ~ ')"' %}
            {% endif %}
            {% if(action == 'update' and item.filename) %}
                {% set previewClass = 'loaded' %}
            {% endif %}
            <div id="preview" {{ previewStyle|default('')|raw }} class="{{ previewClass|default('') }}">

                <a href="javascript:void(0)" class="close">
                    <span class="icomoon16-x-altx-alt"></span>
                </a>
                {% set filePath = (previewBg is defined) ? previewBg : '/uploads/' ~ item.filename %}
                <a href="{{ filePath }}" class="preview" target="_blank">
                    <span class="icomoon16-magnifier"></span>
                </a>
                <div id="progress-bar">
                </div>
            </div>
        </div>

        {{ form_row(form.file, {'fieldboxClass': 'first w50 away'}) }}

        {{ form_row(form.oldFilename, {'fieldboxClass': 'first w50'}) }}
        <div class="fieldbox first w50">
            <label>{{ 'oldFilename'|trans({},'attachment') }}</label>
            <input type="text" readonly id="oldFilename" value="{{ form.vars.value.oldFilename|default('') }}">
        </div>

        {{ form_row(form.size, {'fieldboxClass': 'first w25'}) }}
        <div class="fieldbox first w25">
            <label>{{ 'size'|trans({},'attachment') }}</label>
            <input type="text" readonly id="size" value="{{ form.vars.value.size|default('') }}">
        </div>

        {{ form_row(form.mime, {'fieldboxClass': 'w25'}) }}
        <div class="fieldbox w25">
            <label>{{ 'mime'|trans({},'attachment') }}</label>
            <input type="text" readonly id="mime" value="{{ form.vars.value.mime|default('') }}">
        </div>

        {{ form_row(form.ext) }}

        {{ form_row(form.filename, {'fieldboxClass': 'first w50'}) }}
        <div class="fieldbox first w50">
            <label>{{ 'filename'|trans({},'attachment') }}</label>
            <input type="text" readonly id="filename" value="{{ form.vars.value.filename|default('') }}">
        </div>

        {#
        {% for translation in form.translations %}
            {{ form_row(translation.path, { 'locale' : translation.vars.value.fkLanguage, 'fieldboxClass': 'first w50 path' }) }}
        {% endfor %}
        #}

        {% for translation in form.translations %}
            {{ form_row(translation.alt, { 'locale' : translation.vars.value.fkLanguage, 'fieldboxClass': 'first w25 alt' }) }}

            {{ form_row(translation.title, { 'locale' : translation.vars.value.fkLanguage, 'fieldboxClass': 'w25 title' }) }}
        {% endfor %}

    </div>

    {% for translation in form.translations %}
        {{ form_row(translation.label, { 'locale' : translation.vars.value.fkLanguage, 'fieldboxClass': 'label' }) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.abstract, { 'locale' : translation.vars.value.fkLanguage, 'fieldboxClass': 'abstract' }) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.body, { 'locale' : translation.vars.value.fkLanguage, 'fieldboxClass': 'body' }) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.link, { 'locale' : translation.vars.value.fkLanguage, 'fieldboxClass': 'link' }) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.code, { 'locale' : translation.vars.value.fkLanguage, 'fieldboxClass': 'code' }) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.fkLanguage) }}
    {% endfor %}

    {% for translation in form.translations %}
        {{ form_row(translation.fkBase) }}
    {% endfor %}

    {{ form_row(form.deleted) }}

    <!--
    <div class="tab-debug">
        <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
    </div>
    -->

</fieldset>