{% extends app.request.xmlHttpRequest ? 'InvictusCmsBundle::module-ajax.html.twig' : 'InvictusCmsBundle::layout-' ~ invictusKernel.getRequestAttribute('layout') ~ '.html.twig' %}


{% use 'InvictusCmsBundle::table.html.twig' %}
{% use 'InvictusCmsBundle::tree.html.twig' %}

{% use 'InvictusCmsBundle::edit.html.twig' %}


{% block dialogs %}
    {{ parent() }}
{% endblock dialogs %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/invictuswidget/css/medialibrary.css') }}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/invictuscms/libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('/bundles/invictuscms/libs/jQuery-File-Upload/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('/bundles/invictuscms/libs/jQuery-File-Upload/js/jquery.fileupload.js') }}"></script>
    <script>
        fileTypes = {{ invictusKernel.getFileTypes()|raw }};
    </script>
{% endblock javascripts %}

{% block mediaLibraryButton %}
<div class="button medialibrary pull-left">
    <a href="/invictus/{{ invictusKernel.languageId }}/medialibrary/{{ invictusKernel.parentModuleId }}/{{ invictusKernel.parentItemId }}" title="{{ 'newFromMediaLibrary'|trans({}, 'attachment') }}">
        <span class="icomoon16-drawer"></span>
        <span class="label">
            {{ 'medialibrary'|trans({}, 'attachment') }}
        </span>
    </a>
</div>

<div class="separator medialibrary pull-left">&nbsp;</div>
{% endblock mediaLibraryButton %}


