 <fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>


    {{ form_row(form.bundle) }}
    
    {{ form_row(form.controller) }}

    {{ form_row(form.view) }}
    
    {{ form_row(form.entity) }}

    <div class="tab-debug">
        <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
    </div>

     <div class="tab-debug">
         <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
     </div>

     <div class="tab-debug">
         <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
     </div>

     <div class="tab-debug">
         <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
     </div>

     <div class="tab-debug">
         <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
     </div>

     <div class="tab-debug">
         <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
     </div>

     <div class="tab-debug">
         <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
     </div>

     <div class="tab-debug">
         <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
     </div>

     <div class="tab-debug">
         <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
     </div>

</fieldset>