{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}


{% block columns %}
"{{ row.id }}",
{% if(row.fkAttachmentTypology.id == 4) %}
"{{ row.translations[0].label|default('') }} <small>(<a href='{{ row.translations[0].link|default('') }}' target='_blank'>{{ row.translations[0].link|default('') }}</a>)</small>",
{% else %}
  "{{ row.translations[0].label|default(row.translations[0].alt)|default(row.translations[0].title)|default('...') }}",
{% endif %}
{% if(row.fkAttachmentTypology.id == 11) %}
"{{ row.panoramaPath }}",
{% else %}
"{{ row.filename }}",
{% endif %}
"<span class='{{ row.fkAttachmentTypology.icon }} typology'></span> &nbsp;{{ row.fkAttachmentTypology.translations[0].label|default('') }}",
{% if(row.ext == 'jpg' or row.ext == 'jpeg' or row.ext == 'png' or row.ext == 'gif') %}
"<a href='{{ row.filename | imagine_filter('invictus_instant_preview') }}' title='{{ row.label }}' target='_blank' onclick='CMS.openFancyImage(this.href, this.title);return false;'><img src='{{ row.filename | imagine_filter('invictus_thumb') }}' title='title: “{{ row.title|default('') }}” | alt: “{{ row.alt|default('') }}”' /></a>"
{% else %}
"<a href='/uploads/{{ row.filename }}' class='preview' target='_blank'><span class='icomoon16-magnifier'></span></a>"
{% endif %}
{% endblock %}