 <fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    {{ form_row(form.fkApp) }}

    {{ form_row(form.enabled) }}

     {{ form_row(form.newProd) }}

     <div class="fieldbox typology first w50">
         {% set fkCategory = action == 'update' ? item.fkCategory.id|default(0) : 0  %}
         {% set options = invictusKernel.repositoryProxy('InvictusCms', 'Category', 'renderOptionsTree', [35, application, locale, {selId: fkCategory}]) %}
         <label class="required" for="project_fkCategory">{{ 'category'|trans({},'category') }}</label>
         <select class="select2" required="required" name="project[fkCategory]" id="project_fkCategory" style="width: 100%;">
             <option selected="selected" disabled="disabled" value="">{{ 'selectCategory'|trans({},'category') }}</option>
             {% set fkCategory = action == 'update' ? 1 : 0  %}
             {{ options|raw }}
         </select>
     </div>

    {# form_row(form.visibleDate, {'fieldboxClass': 'first w25'}) #}

     {{  form_row(form.code, {'fieldboxClass': 'first w25'}) }}

     {% for translation in form.translations %}
         {{ form_row(translation.label, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

     {% for translation in form.translations %}
         {{ form_row(translation.abstract, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

     {% for translation in form.translations %}
         {{ form_row(translation.body, { 'fieldboxClass': 'first w75', 'locale' : translation.vars.value.fkLanguage }) }}
     {% endfor %}

     {{  form_row(form.icons, {'fieldboxClass': 'first w25'}) }}

     {% for translation in form.translations %}
         {{ form_row(translation.fkLanguage) }}
     {% endfor %}

     {% for translation in form.translations %}
         {{ form_row(translation.fkBase) }}
     {% endfor %}

    {{ form_row(form.deleted) }}

    {% if invictusKernel.environment == 'dev' %}
    <div class="tab-debug">
        <b>Config:</b><br>
        <br>
<pre>{# dump(tabConfig) #}</pre>
    </div>
    {% endif %}
</fieldset>