{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
{% set new = row.newProd|default(false) ? ' - <b>NEW</b>' : '' %}
{% set catId = row.fkCategory.id|default(false) ? '(' ~ row.fkCategory.id ~ ')' : '' %}
"{{ row.id }}",
"{{ row.code }}",
"{{ row.translations[0].label|default('-') }} {{ new|raw }}",
"{{ row.fkCategory.translations[0].label|default('?') }} {{ catId|default('-') }}"
{% endblock %}