<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>

    <div class="fieldbox">
        <label>{{ 'module'|trans() }}</label>
        {{ item.fkModule.tag }}
    </div>

    <div class="fieldbox">
        <label>{{ 'item'|trans() }}</label>
        {{ item.itemId|default('null') }}
    </div>

    <div class="fieldbox">
        <label>{{ 'app'|trans() }}</label>
        {{ item.fkApp.id|default('null') }}
    </div>

    <div class="fieldbox">
        <label>{{ 'language'|trans() }}</label>
        {{ item.fkLanguage.id|default('-') }}
    </div>

    <div class="fieldbox">
        <label>{{ 'typology'|trans() }}</label>
    {{ item.level }}
    </div>

    <div class="fieldbox">
        <label>{{ 'title'|trans() }}</label>
        {{ item.label|raw }}
    </div>

    <div class="fieldbox">
        <label>{{ 'description'|trans() }}</label>
        {{ item.body|raw }}
    </div>

    <div class="fieldbox">
        <label>{{ 'adminUser'|trans() }}</label>
        {{ item.fkAdmin.firstName|default('?') }} {{ item.fkAdmin.lastName|default('?') }} [{{ item.fkAdmin.username|default('?') }}]
    </div>

    <div class="fieldbox">
        <label>Ip address</label>
        {{ item.ip }}
    </div>

    <div class="fieldbox">
        <label>User agent</label>
        {{ item.userAgent }}]
    </div>


    <div class="tab-debug">
        <b>Config:</b>
        <pre>
            {# dump(tabConfig) #}
        </pre>
    </div>

</fieldset>