{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}


{% block actions %}
    "{% spaceless %}
    <a title='{{ 'view'|trans() }}' href='{{ invictusKernel.modulePath }}/update/{{ row.id }}' onclick='Form.url=this.href;$(document).trigger(\"loadUpdateForm\");return false;' class='action edit'>
        <span class='icomoon16-magnifier'></span>
    </a>
    {% endspaceless %}",
{% endblock %}

{% block columns %}
    "{{ row.fkModule.id|default('!!!') }}",
    "{{ row.itemId }}",
    "{{ row.level }}",
    "{{ row.action }}",
    "{{ row.label|raw }}",
    "{{ row.fkAdmin.id|default('-') }}",
    "{{ row.fkApp.id|default('-') }}",
    "{{ row.fkLanguage.id|default('-') }}",
    "{{ row.datetime|date("d.m.Y H:i:s") }}"
{% endblock %}