<fieldset id="{{ key  }}">

    {% set label = tabConfig.label|split(':') %}
    <legend>{{ label[1]|trans({}, label[0]) }}</legend>


    <div class="fieldbox first w25">
        <label>{{ 'social'|trans({}, 'comment') }}</label>
        {% if(item.type == 2) %}
            Facebook
        {% else %}
            Twitter
        {% endif %}
    </div>

    <div class="fieldbox first">
        <label>{{ 'date'|trans() }}</label>
        {{ item.date|date('d.m.Y H:i:s') }}
    </div>

    <!--

    <div class="fieldbox first w25">
        <label>{{ 'name'|trans() }}</label>
        {{ item.name|default('null') }}
    </div>

    <div class="fieldbox w50">
        <label>{{ 'email'|trans() }}</label>
        {{ item.email|nl2br|default('null') }}
    </div>
    -->

    <div class="fieldbox first w100">
        <label>{{ 'text'|trans() }}</label>
        {{ item.body|default('null') }}
    </div>

    <!--
    <div class="fieldbox first w25">
        <label>{{ 'commentTo'|trans({}, 'comment') }}</label>
        {% set entity = item.moduleId == 51 ? 'Habitat' : 'Scheda' %}
        {% set target = invictusKernel.repositoryProxy('Invictus' ~ entity, entity, 'findOneBy', [{id: item.itemId}]) %}
        {% for t in target.getTranslations() %}
            {% if app.request.locale == t.fkLanguage.id %}
                {{ t.comName }}
            {% endif %}
        {% endfor %}
    </div>
    -->

</fieldset>