{% extends 'InvictusCmsBundle::table-list-ajax.json.twig' %}

{% block columns %}
    "{{ row.id }}",
    "{{ row.date|date("d.m.Y H:i:s") }}",
    "{% spaceless %}{{ row.body| replace({"\n":""})| replace({"\r":""})}} {% endspaceless %}",
    "{% if row.type == 2 %}Facebook{% else %}Twitter{% endif %}"
{% endblock %}