Widget: Position sorter <br>
<br>

<input type="hidden" name="widget[setPositions]" value="positions" />

{% set getDataConfigs = { moduleId: invictusKernel.moduleId, joins:{visibility: false, position: true, metadata: false}, where:{}, params:{} } %}
{% set where = {} %}
{% set params = {} %}

{% set where = where|merge({"base.enabled": null }) %}
{% set params = params|merge({"enabled": null }) %}

{% if invictusKernel.parentModuleId %}
    {% set where = where|merge({"base.fkModuleId": "base.fkModule = :fkModuleId"}) %}
    {% set params = params|merge({"fkModuleId": invictusKernel.parentModuleId}) %}
{% endif %}
{% if invictusKernel.parentItemId %}
    {% set where = where|merge({"base.fkItemId": "base.fkItemId = :fkItemId"}) %}
    {% set params = params|merge({"fkItemId": invictusKernel.parentItemId}) %}
{% endif %}
{% if invictusKernel.moduleId == 6 and action == 'update' %}
    {% set where = where|merge({"base.fkAttachmentTypology": "base.fkAttachmentTypology = :fkAttachmentTypology"}) %}
    {% set params = params|merge({"fkAttachmentTypology": item.fkAttachmentTypology.id }) %}
{% endif %}

{% if where is not empty %}
    {% set getDataConfigs = getDataConfigs|merge({where:where}) %}
{% endif %}
{% if params is not empty %}
    {% set getDataConfigs = getDataConfigs|merge({params:params}) %}
{% endif %}

<div id="widget-position-sorter">

    {% if config.position.MA and not config.position.ML %}

        {% set currApp = '' %}
        {% for app in invictusKernel.getUserApps() %}

            <div class="fieldbox w50">
                <div class="inner-wrapper">
                    <header>
                        <div class="button caption pull-left">
                            <span class="label">
                                <strong>{{ app.label }}</strong>
                            </span>
                        </div>
                        <div class="divider pull-left"></div>
                    </header>

                    {% set positions = invictusKernel.getData([ getDataConfigs, false ])['data'] %}
                    {% if positions|length %}
                        <ul class="sortable">
                            {% for item in positions %}
                                {% set liClass = item.enabled ? 'enabled' : 'disabled' %}
                                <li class="{{ liClass }}" title="id:{{ item.id }}">
                                    {% set itemPosition = item.positions[0].position|default(false) ? item.positions[0].position ~ '°' : ' ?' %}
                                    {% set itemLabel = item.translations[0].label|default('')|length ? item.translations[0].label : '<span title="Label not set">...</span>' %}
                                    <span class="position">{{ itemPosition }}</span> | <span class="label">{{ itemLabel|raw|striptags }}</span>
                                    <img class="up" title="Sposta su" alt="Sposta su" src="/bundles/invictuscms/images/icons/bullet_arrow_up.png">
                                    <img class="down" title="Sposta giù" alt="Sposta giù" src="/bundles/invictuscms/images/icons/bullet_arrow_down.png">
                                    <input type="hidden" name="positions[{{ app.id }}_{{ item.id }}][app]" value="{{ app.id }}" />
                                    <input type="hidden" name="positions[{{ app.id }}_{{ item.id }}][itemId]" value="{{ item.id }}" />
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul>
                            <li>
                                No item found
                                <input type="hidden" name="positions[{{ app.id }}_{{ item.id }}][app]" value="0" />
                                <input type="hidden" name="positions[{{ app.id }}_{{ item.id }}][itemId]" value="0" />
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>

        {% endfor %}

    {% elseif not config.position.MA and config.position.ML %}

        {% for language in invictusKernel.getUserLanguages(moduleTag) %}

            <div class="fieldbox w50">
                <div class="inner-wrapper">
                    <header>
                        <div class="button caption pull-left">
                                    <span class="label">
                                        <img src="/bundles/invictuscms/images/flags/{{ invictusKernel.userLanguages[language.id]['icon'] }}" alt="{{ invictusKernel.userLanguages[language.id]['label'] }}" title="{{ invictusKernel.userLanguages[language.id]['label'] }}" />
                                    </span>
                        </div>
                        <div class="divider pull-left"></div>
                    </header>

                    {% set getDataConfigs = getDataConfigs|merge({languageId:language.id}) %}
                    {% set positions = invictusKernel.getData([ getDataConfigs, false ])['data'] %}
                    {% if positions|length %}
                        <ul class="sortable">
                            {% set pi = 1 %}
                            {% for item in positions %}
                                {% set liClass = item.enabled ? 'enabled' : 'disabled' %}
                                <li class="{{ liClass }}" title="id:{{ item.id }}">
                                    {% set itemPosition = pi ~ '°' %}
                                    {% set itemLabel = item.translations[0].label|default('')|length ? item.translations[0].label : '<span title="Label not set in ' ~ invictusKernel.userLanguages[language.id]['label'] ~ '">...</span>' %}
                                    <span class="position">{{ itemPosition }}</span> | <span class="label">{{ itemLabel|raw|striptags }}</span>
                                    <img class="up" title="Sposta su" alt="Sposta su" src="/bundles/invictuscms/images/icons/bullet_arrow_up.png">
                                    <img class="down" title="Sposta giù" alt="Sposta giù" src="/bundles/invictuscms/images/icons/bullet_arrow_down.png">
                                    <input type="hidden" name="positions[{{ language.id }}_{{ item.id }}][locale]" value="{{ language.id }}" />
                                    <input type="hidden" name="positions[{{ language.id }}_{{ item.id }}][itemId]" value="{{ item.id }}" />
                                </li>
                                {% set pi = pi + 1 %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul>
                            <li>
                                No item found
                                <input type="hidden" name="positions[{{ language.id }}_0][locale]" value="{{ language.id }}" />
                                <input type="hidden" name="positions[{{ language.id }}_0][itemId]" value="0" />
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>

        {% endfor %}

    {% elseif config.position.MA and config.position.ML %}

        {% set currApp = '' %}
        {% for app in invictusKernel.userMALTree[moduleTag]['apps'] %}

            <div class="fieldbox w50">

                <div class="inner-wrapper">

                    <header>

                        <div class="button caption pull-left">
                            <span class="label">
                                {{ app.label }}
                            </span>
                        </div>

                        <div class="divider pull-left">&nbsp;</div>

                        <div class="button caption pull-right">
                            {% for language in app.languages %}
                                {% set selImg = loop.index == 1 ? 'sel' : '' %}
                                <img src="/bundles/invictuscms/images/flags/{{ invictusKernel.userLanguages[language.id]['icon'] }}" alt="{{ invictusKernel.userLanguages[language.id]['label'] }}" title="{{ invictusKernel.userLanguages[language.id]['label'] }}" class="{{ selImg }} language" rel="{{ language.id }}" />
                            {% endfor %}
                        </div>

                        <div class="divider pull-right">&nbsp;</div>

                    </header>

                    {% for language in app.languages %}
                        {% set sorterClass = loop.index == 1 ? 'first' : '' %}
                        <div class="sorter {{ sorterClass }} {{ language.id }}">

                            {% set getDataConfigs = {appId:app.id}|merge(getDataConfigs) %}
                            {% set getDataConfigs = {languageId:language.id}|merge(getDataConfigs) %}
                            {% set positions = invictusKernel.getData([ getDataConfigs, false ])['data'] %}
                            {# set positions = invictusKernel.getPositions(moduleTag, moduleId, app.id, language.id, widget.label, widget.filters) #}
                            {% if positions|length %}
                                <ul class="sortable">
                                {% for item in positions %}
                                    {% set liClass = item.enabled ? 'enabled' : 'disabled' %}
                                    <li class="{{ liClass }}" title="id:{{ item.id }}">
                                        {% set itemPosition = item.positions[0].position|default(null) ? item.positions[0].position ~ '°' : ' ?' %}
                                        {% set itemLabel = item.translations[0].label|default('')|length ? item.translations[0].label : '<span title="Label not set in ' ~ invictusKernel.userLanguages[language.id]['label'] ~ '">...</span>' %}
                                        <span class="position">{{ itemPosition }}</span> | <span class="label">{{ itemLabel|raw|striptags }}</span>
                                        <img class="up" title="Sposta su" alt="Sposta su" src="/bundles/invictuscms/images/icons/bullet_arrow_up.png">
                                        <img class="down" title="Sposta giù" alt="Sposta giù" src="/bundles/invictuscms/images/icons/bullet_arrow_down.png">
                                        <input type="hidden" name="positions[{{ app.id }}_{{ language.id }}_{{ item.id }}][app]" value="{{ app.id }}" />
                                        <input type="hidden" name="positions[{{ app.id }}_{{ language.id }}_{{ item.id }}][locale]" value="{{ language.id }}" />
                                        <input type="hidden" name="positions[{{ app.id }}_{{ language.id }}_{{ item.id }}][itemId]" value="{{ item.id }}" />
                                    </li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                <ul>
                                    <li>
                                        No item found
                                        <input type="hidden" name="positions[{{ app.id }}_{{ language.id }}_{{ item.id }}][app]" value="0" />
                                        <input type="hidden" name="positions[{{ app.id }}_{{ language.id }}_{{ item.id }}][locale]" value="0" />
                                        <input type="hidden" name="positions[{{ app.id }}_{{ language.id }}_{{ item.id }}][itemId]" value="0" />
                                    </li>
                                </ul>
                            {% endif %}

                        </div> <!-- end .sorter -->
                    {% endfor %}

                </div> <!-- end .inner-wrapper -->

            </div> <!-- end .fieldbox -->

        {% endfor %}

    {% elseif not config.position.MA and not config.position.ML %}

        <div class="fieldbox w50">
            <div class="inner-wrapper">
                <header>
                    <div class="button caption pull-left">
                        <span class="label">
                            All <b>Apps</b> and <b>Languages</b>
                        </span>
                    </div>
                    <div class="divider pull-left"></div>
                </header>

                {% set positions = invictusKernel.getData([ getDataConfigs, false ])['data'] %}
                {% if positions|length %}
                    <ul class="sortable">
                        {% for item in positions %}
                            {% set liClass = item.enabled ? 'enabled' : 'disabled' %}
                            <li class="{{ liClass }}" title="id:{{ item.id }}">
                                {% set itemPosition = item.positions[0].position|default(false) ? item.positions[0].position ~ '°' : ' ?' %}
                                {% set itemLabel = item.translations[0].label|default('')|length ? item.translations[0].label : '<span title="Label not set">...</span>' %}
                                <span class="position">{{ itemPosition }}</span> | <span class="label">{{ itemLabel|raw|striptags }}</span>
                                <img class="up" title="Sposta su" alt="Sposta su" src="/bundles/invictuscms/images/icons/bullet_arrow_up.png">
                                <img class="down" title="Sposta giù" alt="Sposta giù" src="/bundles/invictuscms/images/icons/bullet_arrow_down.png">
                                <input type="hidden" name="positions[id{{ item.id }}][itemId]" value="{{ item.id }}" />
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul><li>No item found</li></ul>
                {% endif %}
            </div>
        </div>

    {% endif %}

</div>

{% if invictusKernel.environment == 'dev' %}
<div class="fieldbox"></div>
<div class="fieldbox w50">
    <div class="tab-debug">
<pre>

<b>Widget:</b>
{# dump(widget) #}
</pre>
    </div>
</div>
{% endif %}